Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

backend-pyright:
  name: Type Check Backend (pyright)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
  language: system
  pass_filenames: false

frontend-lint:
  name: Lint Frontend (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Type Check Frontend (TypeScript)
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-test:
  name: Test Frontend (Vitest)
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false

backend-test:
  name: Test Backend (pytest)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Phase 3: DRY consolidation (T015-T022)
  backend/src/api/chat.py
  frontend/src/hooks/useAgentConfig.ts
  frontend/src/lib/case-utils.ts
  specs/033-code-quality-overhaul/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

review: fix PIPE-006 status inconsistency in audit report (#3193)
  specs/033-audit-pipelines-ux/audit-report.md
Due: none

Merge quality-assurance changes into copilot/audit-polish-projects-page-again
  frontend/src/pages/ProjectsPage.test.tsx
  frontend/src/pages/ProjectsPage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

review: fix ruff format CI failure and triage PR review comments (#3195)
  backend/src/api/chat.py
  backend/src/services/workflow_orchestrator/config.py
  backend/src/services/workflow_orchestrator/models.py
Due: backend-pyright, backend-test

Merge tester changes into copilot/audit-polish-projects-page-again
  frontend/src/components/common/ProjectSelectionEmptyState.test.tsx
  frontend/src/pages/ProjectsPage.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge archivist changes into copilot/audit-polish-projects-page-again
  docs/architecture.md
  specs/033-projects-page-audit/plan.md
  specs/033-projects-page-audit/quickstart.md
Due: none

Merge linter changes into copilot/audit-polish-projects-page-again
  frontend/src/components/common/ProjectSelectionEmptyState.test.tsx
  frontend/src/pages/ProjectsPage.test.tsx
  frontend/src/pages/ProjectsPage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

speckit.specify: Parallel Agent Layout in Pipelines (033-parallel-agent-layout) (#3142)
  .github/agents/copilot-instructions.md
  backend/src/api/chat.py
  backend/src/api/pipelines.py
  backend/src/models/pipeline.py
  backend/src/models/workflow.py
  backend/src/services/chores/service.py
  backend/src/services/pipelines/service.py
  backend/src/services/workflow_orchestrator/config.py
  backend/src/services/workflow_orchestrator/models.py
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_workflow_orchestrator_config.py
  backend/uv.lock
  frontend/src/components/pipeline/AgentNode.tsx
  frontend/src/components/pipeline/ParallelStageGroup.tsx
  frontend/src/components/pipeline/PipelineBoard.test.tsx
  frontend/src/components/pipeline/PipelineBoard.tsx
  frontend/src/components/pipeline/StageCard.test.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/constants/tooltip-content.ts
  frontend/src/hooks/usePipelineConfig.ts
  frontend/src/types/index.ts
  specs/033-parallel-agent-layout/checklists/requirements.md
  specs/033-parallel-agent-layout/contracts/pipeline-api.yaml
  specs/033-parallel-agent-layout/data-model.md
  specs/033-parallel-agent-layout/plan.md
  specs/033-parallel-agent-layout/quickstart.md
  specs/033-parallel-agent-layout/research.md
  specs/033-parallel-agent-layout/spec.md
  specs/033-parallel-agent-layout/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

feat: Add specification for Projects page audit (033-projects-page-audit) (#3113)
  .github/agents/copilot-instructions.md
  docs/architecture.md
  frontend/src/components/common/ProjectSelectionEmptyState.test.tsx
  frontend/src/components/common/ProjectSelectionEmptyState.tsx
  frontend/src/pages/ProjectsPage.test.tsx
  frontend/src/pages/ProjectsPage.tsx
  specs/033-projects-page-audit/checklists/requirements.md
  specs/033-projects-page-audit/contracts/component-contracts.yaml
  specs/033-projects-page-audit/data-model.md
  specs/033-projects-page-audit/plan.md
  specs/033-projects-page-audit/quickstart.md
  specs/033-projects-page-audit/research.md
  specs/033-projects-page-audit/spec.md
Due: frontend-lint, frontend-typecheck, frontend-test

Phase 4: Backend complexity reduction (T023-T058)
  .github/agents/judge.agent.md
  backend/src/api/chat.py
  backend/src/models/agent.py
  backend/src/services/cleanup_service.py
  backend/src/services/copilot_polling/agent_output.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/copilot_polling/polling_loop.py
  backend/src/services/copilot_polling/recovery.py
  backend/src/services/github_projects/service.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  specs/033-code-quality-overhaul/tasks.md
Due: backend-pyright, backend-test

Update Tools page to replace GitHub toolset with MCP configuration generator (#3078)
  .github/agents/copilot-instructions.md
  docs/architecture.md
  docs/project-structure.md
  docs/testing.md
  frontend/src/components/tools/GitHubMcpConfigGenerator.tsx
  frontend/src/components/tools/GitHubToolsetSelector.tsx
  frontend/src/components/tools/ToolsEnhancements.test.tsx
  frontend/src/components/tools/ToolsPanel.tsx
  frontend/src/lib/buildGitHubMcpConfig.test.ts
  frontend/src/lib/buildGitHubMcpConfig.ts
  specs/033-update-tools-mcp-config-generator/contracts/api.md
  specs/033-update-tools-mcp-config-generator/contracts/components.md
  specs/033-update-tools-mcp-config-generator/data-model.md
  specs/033-update-tools-mcp-config-generator/plan.md
  specs/033-update-tools-mcp-config-generator/quickstart.md
  specs/033-update-tools-mcp-config-generator/research.md
  specs/033-update-tools-mcp-config-generator/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

spec: Audit Pipelines Page for UI Consistency, Quality & UX (#3099)
  .github/agents/copilot-instructions.md
  frontend/.gitignore
  frontend/src/components/pipeline/PipelineBoard.test.tsx
  frontend/src/components/pipeline/PipelineBoard.tsx
  frontend/src/components/pipeline/SavedWorkflowsList.test.tsx
  frontend/src/components/pipeline/SavedWorkflowsList.tsx
  frontend/src/pages/AgentsPipelinePage.test.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
  specs/033-audit-pipelines-ux/audit-report.md
  specs/033-audit-pipelines-ux/checklists/requirements.md
  specs/033-audit-pipelines-ux/contracts/audit-process.md
  specs/033-audit-pipelines-ux/contracts/components.md
  specs/033-audit-pipelines-ux/data-model.md
  specs/033-audit-pipelines-ux/plan.md
  specs/033-audit-pipelines-ux/quickstart.md
  specs/033-audit-pipelines-ux/research.md
  specs/033-audit-pipelines-ux/spec.md
Due: frontend-lint, frontend-typecheck, frontend-test

Phase 5: God class decomposition — extract domain mixins from GitHubProjectsService
  backend/src/services/copilot_polling/completion.py
  backend/src/services/copilot_polling/recovery.py
  backend/src/services/github_projects/agents.py
  backend/src/services/github_projects/board.py
  backend/src/services/github_projects/branches.py
  backend/src/services/github_projects/copilot.py
  backend/src/services/github_projects/identities.py
  backend/src/services/github_projects/issues.py
  backend/src/services/github_projects/projects.py
  backend/src/services/github_projects/pull_requests.py
  backend/src/services/github_projects/repository.py
  backend/src/services/github_projects/service.py
  specs/033-code-quality-overhaul/tasks.md
Due: backend-pyright, backend-test

Phase 6: Frontend complexity reduction (T073-T088)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AnimatedBackground.tsx
  frontend/src/components/chores/ChoreCard.tsx
  frontend/src/components/chores/FeaturedRitualsPanel.tsx
  frontend/src/components/settings/AISettingsSection.tsx
  frontend/src/components/settings/DisplaySettings.tsx
  frontend/src/components/settings/GlobalSettings.tsx
  frontend/src/components/settings/NotificationSettings.tsx
  frontend/src/components/settings/WorkflowSettings.tsx
  frontend/src/components/settings/globalSettingsSchema.ts
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useChatProposals.ts
  frontend/src/hooks/usePipelineBoardMutations.ts
  frontend/src/hooks/usePipelineConfig.ts
  frontend/src/hooks/usePipelineModelOverride.ts
  frontend/src/hooks/usePipelineReducer.ts
  frontend/src/hooks/usePipelineValidation.ts
  frontend/src/lib/time-utils.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/types/index.ts
Due: frontend-lint, frontend-typecheck, frontend-test

Phase 7: Infrastructure & build reproducibility (T089-T094)
  backend/pyproject.toml
  docker-compose.yml
  frontend/Dockerfile
Due: none

Phase 8: Testing hygiene (T095-T104)
  backend/tests/conftest.py
  backend/tests/helpers/mocks.py
  backend/tests/unit/test_agent_output.py
  backend/tests/unit/test_cleanup_service.py
  backend/tests/unit/test_copilot_polling.py
  backend/tests/unit/test_orchestrator.py
  backend/tests/unit/test_polling_loop.py
  backend/tests/unit/test_recovery.py
  backend/tests/unit/test_signal_chat.py
Due: backend-pyright, backend-test

Phase 9: Final verification — all success criteria verified (T105-T112)
  specs/033-code-quality-overhaul/tasks.md
Due: none

review: adopt justified PR feedback
  backend/src/api/board.py
  frontend/src/components/settings/GlobalSettings.tsx
  frontend/src/hooks/usePipelineConfig.ts
  frontend/src/hooks/usePipelineModelOverride.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

review: adopt second-round PR feedback
  backend/src/api/board.py
  backend/src/services/github_projects/issues.py
  backend/tests/unit/test_api_board.py
  frontend/src/hooks/useChatProposals.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

docs: clean up copilot-instructions — remove redundant entries, add missing deps
  .github/agents/copilot-instructions.md
Due: none

Merge speckit.plan changes into copilot/update-app-title-to-hello-world
  .github/agents/copilot-instructions.md
  specs/034-update-app-title/contracts/README.md
  specs/034-update-app-title/data-model.md
  specs/034-update-app-title/plan.md
  specs/034-update-app-title/quickstart.md
  specs/034-update-app-title/research.md
Due: none

Documentation sweep: fix stale counts and missing endpoint (#3245)
  docs/api-reference.md
  docs/project-structure.md
Due: none

Merge speckit.plan changes into copilot/speckit-specify-security-review
  .github/agents/copilot-instructions.md
  specs/001-security-review/contracts/project-authorization.md
  specs/001-security-review/contracts/rate-limiting.md
  specs/001-security-review/contracts/startup-validation.md
  specs/001-security-review/data-model.md
  specs/001-security-review/plan.md
  specs/001-security-review/quickstart.md
  specs/001-security-review/research.md
Due: none

Merge speckit.plan changes into copilot/speckit-specify-performance-review
  .github/agents/copilot-instructions.md
  specs/001-performance-review/contracts/refresh-contract.md
  specs/001-performance-review/data-model.md
  specs/001-performance-review/plan.md
  specs/001-performance-review/quickstart.md
  specs/001-performance-review/research.md
Due: none

Merge speckit.plan changes into copilot/fix-silent-exceptions-backend
  .github/agents/copilot-instructions.md
  specs/001-code-quality-check/contracts/error-handling.md
  specs/001-code-quality-check/data-model.md
  specs/001-code-quality-check/plan.md
  specs/001-code-quality-check/quickstart.md
  specs/001-code-quality-check/research.md
Due: none

Merge speckit.plan changes into copilot/write-performance-review-specification
  .github/agents/copilot-instructions.md
  specs/034-performance-review/contracts/backend-cache.md
  specs/034-performance-review/contracts/board-endpoints.md
  specs/034-performance-review/contracts/refresh-policy.md
  specs/034-performance-review/data-model.md
  specs/034-performance-review/plan.md
  specs/034-performance-review/quickstart.md
  specs/034-performance-review/research.md
Due: none

Merge speckit.tasks changes into copilot/speckit-specify-performance-review
  specs/001-performance-review/tasks.md
Due: none

Merge speckit.tasks changes into copilot/speckit-specify-security-review
  specs/001-security-review/tasks.md
Due: none

Path conditions:
  backend-pyright: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-test: any of: ^backend/.*\.py$
