Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Backend Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff-format
        name: Format Python (ruff)
        files: ^backend/
      - id: ruff
        name: Lint Python (ruff)
        files: ^backend/
        args: [--fix]

  - repo: local
    hooks:
      - id: backend-pyright
        name: Type Check Backend (pyright)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Lint Frontend (ESLint)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: Type Check Frontend (TypeScript)
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-test
        name: Test Frontend (Vitest)
        entry: bash -c 'cd frontend && npm test'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: backend-test
        name: Test Backend (pytest)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        stages: [pre-push]  # Run tests only on push, not every commit

chore: remove unused test helpers directory (US2)
  backend/tests/helpers/__init__.py
  backend/tests/helpers/assertions.py
  backend/tests/helpers/factories.py
  backend/tests/helpers/mocks.py
Due: backend-pyright, backend-test

refactor: consolidate duplicates and remove backward-compat shims (US3, US4)
  backend/src/models/chat.py
  backend/src/prompts/issue_generation.py
  backend/tests/integration/test_custom_agent_assignment.py
  backend/tests/unit/test_ai_agent.py
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_api_tasks.py
  backend/tests/unit/test_api_workflow.py
  backend/tests/unit/test_models.py
  backend/tests/unit/test_prompts.py
  backend/tests/unit/test_workflow_orchestrator.py
  frontend/src/components/settings/DynamicDropdown.tsx
  frontend/src/constants.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

chore: remove unused dependencies (US5)
  backend/pyproject.toml
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: mark all tasks complete in tasks.md
  specs/002-codebase-cleanup/tasks.md
Due: none

Merge speckit.plan changes into copilot/add-green-background-color
  .github/agents/copilot-instructions.md
  specs/016-green-background/contracts/no-api.md
  specs/016-green-background/data-model.md
  specs/016-green-background/plan.md
  specs/016-green-background/quickstart.md
  specs/016-green-background/research.md
Due: none

fix: add cryptography as direct dependency
  backend/pyproject.toml
Due: none

Merge speckit.tasks changes into copilot/add-green-background-color
  specs/016-green-background/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-green-background-color
  frontend/src/index.css
  specs/016-green-background/tasks.md
Due: none

fix: add orderBy to all ProjectV2 items() queries
  backend/src/services/cleanup_service.py
  backend/src/services/github_projects/graphql.py
Due: backend-pyright, backend-test

Merge speckit.specify changes into copilot/add-orange-background-app
  specs/016-orange-background/spec.md
Due: none

fix: reconcile board items missed by GitHub Projects V2 items() connection
  backend/src/services/github_projects/graphql.py
  backend/src/services/github_projects/service.py
Due: backend-pyright, backend-test

Merge speckit.plan changes into copilot/add-green-background-color
  .github/agents/copilot-instructions.md
  specs/016-green-background/contracts/README.md
  specs/016-green-background/data-model.md
  specs/016-green-background/plan.md
  specs/016-green-background/quickstart.md
  specs/016-green-background/research.md
Due: none

fix: multi-strategy add_issue_to_project with verification and REST fallback
  backend/src/api/chat.py
  backend/src/api/tasks.py
  backend/src/services/agent_creator.py
  backend/src/services/github_projects/graphql.py
  backend/src/services/github_projects/service.py
  backend/src/services/signal_chat.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/helpers/mocks.py
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_api_tasks.py
Due: backend-pyright, backend-test

Merge speckit.plan changes into copilot/add-blue-background-color
  .github/agents/copilot-instructions.md
  specs/016-blue-background/contracts/no-api-changes.md
  specs/016-blue-background/data-model.md
  specs/016-blue-background/plan.md
  specs/016-blue-background/quickstart.md
  specs/016-blue-background/research.md
Due: none

Merge speckit.tasks changes into copilot/add-blue-background-color
  specs/016-blue-background/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-blue-background-color
  frontend/src/index.css
  specs/016-blue-background/tasks.md
Due: none

Merge speckit.plan changes into copilot/bug-bash-code-review
  .github/agents/copilot-instructions.md
  specs/016-codebase-bug-bash/contracts/audit-standards.md
  specs/016-codebase-bug-bash/data-model.md
  specs/016-codebase-bug-bash/plan.md
  specs/016-codebase-bug-bash/quickstart.md
  specs/016-codebase-bug-bash/research.md
Due: none

Merge speckit.tasks changes into copilot/bug-bash-code-review
  specs/016-codebase-bug-bash/tasks.md
Due: none

Merge speckit.implement changes into copilot/bug-bash-code-review
  backend/src/api/board.py
  backend/src/api/chat.py
  backend/src/api/webhooks.py
  backend/src/api/workflow.py
  backend/src/services/signal_chat.py
  backend/tests/unit/test_api_board.py
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_api_workflow.py
  backend/tests/unit/test_webhooks.py
  specs/016-codebase-bug-bash/summary-report.md
  specs/016-codebase-bug-bash/tasks.md
Due: backend-pyright, backend-test

Merge speckit.tasks changes into copilot/improve-logging-error-handling
  specs/016-logging-error-quality/tasks.md
Due: none

Merge speckit.implement changes into copilot/improve-logging-error-handling
  backend/src/api/board.py
  backend/src/api/chat.py
  backend/src/api/cleanup.py
  backend/src/api/housekeeping.py
  backend/src/api/webhooks.py
  backend/src/api/workflow.py
  backend/src/config.py
  backend/src/logging_utils.py
  backend/src/main.py
  backend/tests/unit/test_logging_utils.py
  specs/016-logging-error-quality/tasks.md
Due: backend-pyright, backend-test

chore: add issue template for Bug Bash
  .github/ISSUE_TEMPLATE/chore-bug-bash.md
Due: none

fix(frontend): add coverage directory to ESLint ignores
  frontend/eslint.config.js
Due: frontend-lint, frontend-test

fix(chores): resolve OID mismatch when committing to existing branch
  backend/src/services/chores/template_builder.py
  backend/src/services/github_projects/graphql.py
  backend/src/services/github_projects/service.py
  backend/tests/unit/test_chores_service.py
  backend/tests/unit/test_github_projects.py
Due: backend-pyright, backend-test

chore: add issue template for Bug Basher
  .github/ISSUE_TEMPLATE/chore-bug-basher.md
Due: none

fix(chores): match GitHub's actual OID mismatch error message
  backend/src/services/github_projects/service.py
  backend/tests/unit/test_github_projects.py
Due: backend-pyright, backend-test

fix: address AI code review feedback on PR #1316
  backend/src/api/chores.py
  backend/src/models/chores.py
  backend/src/services/chores/chat.py
  backend/src/services/chores/service.py
  backend/tests/unit/test_chores_service.py
  frontend/src/components/chores/AddChoreModal.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: address second-pass AI review — CAS conflict handling & count display
  backend/src/services/chores/service.py
  backend/tests/unit/test_chores_service.py
  frontend/src/components/chores/ChoreCard.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: address AI code review findings on PR #1276
  .github/agents/copilot-instructions.md
  backend/tests/unit/test_webhooks.py
  specs/016-codebase-bug-bash/summary-report.md
Due: backend-pyright, backend-test

chore: add issue template for Bug Basher (#1318)
  .github/ISSUE_TEMPLATE/chore-bug-basher.md
Due: none

Add feature specification for Bug Bash: Full Codebase Review & Fix (016-codebase-bug-bash) (#1276)
  .github/agents/copilot-instructions.md
  backend/src/api/board.py
  backend/src/api/chat.py
  backend/src/api/webhooks.py
  backend/src/api/workflow.py
  backend/src/services/signal_chat.py
  backend/tests/unit/test_api_board.py
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_api_workflow.py
  backend/tests/unit/test_webhooks.py
  specs/016-codebase-bug-bash/checklists/requirements.md
  specs/016-codebase-bug-bash/contracts/audit-standards.md
  specs/016-codebase-bug-bash/data-model.md
  specs/016-codebase-bug-bash/plan.md
  specs/016-codebase-bug-bash/quickstart.md
  specs/016-codebase-bug-bash/research.md
  specs/016-codebase-bug-bash/spec.md
  specs/016-codebase-bug-bash/summary-report.md
  specs/016-codebase-bug-bash/tasks.md
Due: backend-pyright, backend-test

fix: address code review recommendations from PR #1290
  backend/src/logging_utils.py
  backend/src/main.py
  specs/016-logging-error-quality/spec.md
Due: backend-pyright, backend-test
