Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Backend Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff-format
        name: Format Python (ruff)
        files: ^backend/
      - id: ruff
        name: Lint Python (ruff)
        files: ^backend/
        args: [--fix]

  - repo: local
    hooks:
      - id: backend-pyright
        name: Type Check Backend (pyright)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Lint Frontend (ESLint)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: Type Check Frontend (TypeScript)
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-test
        name: Test Frontend (Vitest)
        entry: bash -c 'cd frontend && npm test'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: backend-test
        name: Test Backend (pytest)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        stages: [pre-push]  # Run tests only on push, not every commit

fix: address MCP tools review feedback
  backend/src/api/tools.py
  backend/src/services/tools/service.py
  backend/tests/unit/test_api_tools.py
  backend/tests/unit/test_tools_service.py
  frontend/src/components/tools/GitHubToolsetSelector.tsx
  frontend/src/components/tools/ToolsEnhancements.test.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.implement changes into copilot/bug-bash-code-review-again
  backend/src/api/agents.py
  backend/src/models/settings.py
  backend/src/services/copilot_polling/polling_loop.py
  backend/src/services/pipelines/service.py
  backend/src/services/settings_store.py
  backend/src/services/tools/service.py
  backend/tests/unit/test_agent_tracking.py
  backend/tests/unit/test_agents_auth.py
  backend/tests/unit/test_models.py
  backend/tests/unit/test_pipeline_service.py
  backend/tests/unit/test_settings_store.py
  frontend/src/App.tsx
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/ui/__tests__/confirmation-dialog.test.tsx
  frontend/src/hooks/usePipelineConfig.ts
  specs/030-bug-basher/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

chore: refresh frontend TypeScript build metadata
  frontend/tsconfig.node.tsbuildinfo
Due: none

test: align legacy agent tracking migration expectation
  backend/tests/unit/test_agent_tracking.py
Due: backend-pyright, backend-test

feat: expand MCP tools page for GitHub agent config (#2451)
  backend/src/api/tools.py
  backend/src/models/tools.py
  backend/src/services/tools/presets.py
  backend/src/services/tools/service.py
  backend/tests/conftest.py
  backend/tests/unit/test_api_tools.py
  backend/tests/unit/test_tools_service.py
  frontend/src/App.tsx
  frontend/src/components/tools/GitHubToolsetSelector.tsx
  frontend/src/components/tools/McpPresetsGallery.tsx
  frontend/src/components/tools/RepoConfigPanel.tsx
  frontend/src/components/tools/ToolsEnhancements.test.tsx
  frontend/src/components/tools/ToolsPanel.tsx
  frontend/src/components/tools/UploadMcpModal.tsx
  frontend/src/hooks/useMcpPresets.ts
  frontend/src/hooks/useRepoMcpConfig.ts
  frontend/src/hooks/useTools.ts
  frontend/src/pages/ToolsPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  frontend/vite.config.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge judge changes into copilot/bug-bash-code-review-again
  backend/src/api/chores.py
  backend/src/api/pipelines.py
  backend/src/services/settings_store.py
  backend/tests/unit/test_chores_auth.py
  backend/tests/unit/test_pipelines_auth.py
Due: backend-pyright, backend-test

chore: refine agent guidance and cleanup safeguards
  .github/agents/archivist.agent.md
  .github/agents/designer.agent.md
  .github/agents/judge.agent.md
  .github/agents/linter.agent.md
  .github/agents/quality-assurance.agent.md
  .github/agents/tester.agent.md
  backend/src/services/cleanup_service.py
  backend/tests/unit/test_cleanup_service.py
  frontend/src/pages/ProjectsPage.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge linter changes into copilot/bug-bash-code-review-again
  backend/tests/unit/test_chores_auth.py
Due: backend-pyright, backend-test

feat: polish project selection and pipeline surfaces
  backend/src/services/pipelines/service.py
  frontend/src/components/common/ProjectSelectionEmptyState.tsx
  frontend/src/index.css
  frontend/src/layout/ProjectSelector.tsx
  frontend/src/pages/AgentsPage.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/pages/ChoresPage.tsx
  frontend/src/pages/ProjectsPage.tsx
  frontend/src/pages/ToolsPage.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

chore: sync MCP tool 'GitHub MCP Server' configuration
  .copilot/mcp.json
Due: none

chore: sync MCP tool 'GitHub MCP Server' configuration
  .vscode/mcp.json
Due: none

Merge speckit.plan changes into copilot/update-user-chat-helper-text
  .github/agents/copilot-instructions.md
  specs/031-chat-helper-text/contracts/components.md
  specs/031-chat-helper-text/data-model.md
  specs/031-chat-helper-text/plan.md
  specs/031-chat-helper-text/quickstart.md
  specs/031-chat-helper-text/research.md
Due: none

Merge speckit.tasks changes into copilot/update-user-chat-helper-text
  specs/031-chat-helper-text/tasks.md
Due: none

chore: sync MCP tool 'GitHub MCP Server (Full Access)' configuration
  .copilot/mcp.json
Due: none

chore: sync MCP tool 'GitHub MCP Server (Full Access)' configuration
  .vscode/mcp.json
Due: none

Merge speckit.implement changes into copilot/update-user-chat-helper-text
  frontend/src/components/agents/AgentChatFlow.tsx
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/MentionInput.tsx
  frontend/src/components/chores/ChoreChatFlow.tsx
  frontend/src/constants/chat-placeholders.ts
  frontend/src/hooks/useCyclingPlaceholder.ts
  frontend/src/index.css
  specs/031-chat-helper-text/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge judge changes into copilot/update-user-chat-helper-text
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/MentionInput.test.tsx
  frontend/src/components/chat/MentionInput.tsx
  frontend/src/hooks/useCyclingPlaceholder.test.ts
  specs/031-chat-helper-text/research.md
Due: frontend-lint, frontend-typecheck, frontend-test

fix: resolve pre-commit lint/type errors
  backend/src/api/tools.py
  backend/src/models/tools.py
  backend/src/services/tools/service.py
  backend/tests/unit/test_api_tools.py
  backend/tests/unit/test_tools_service.py
  frontend/src/components/agents/AgentCard.tsx
  frontend/src/components/agents/AgentsPanel.tsx
  frontend/src/components/agents/__tests__/AgentsPanel.test.tsx
  frontend/src/components/board/AgentColumnCell.tsx
  frontend/src/components/chores/ChoreCard.tsx
  frontend/src/components/chores/__tests__/ChoresPanel.test.tsx
  frontend/src/components/tools/EditRepoMcpModal.tsx
  frontend/src/components/tools/RepoConfigPanel.tsx
  frontend/src/components/tools/ToolsEnhancements.test.tsx
  frontend/src/components/tools/ToolsPanel.tsx
  frontend/src/components/tools/UploadMcpModal.tsx
  frontend/src/hooks/useRepoMcpConfig.ts
  frontend/src/index.css
  frontend/src/pages/AgentsPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

chore: remove MCP tool 'GitHub MCP Server' configuration
  .vscode/mcp.json
Due: none

chore: remove MCP tool 'GitHub MCP Server' configuration
  .copilot/mcp.json
Due: none

chore: remove MCP tool 'GitHub MCP Server (Full Access)' configuration
  .vscode/mcp.json
Due: none

chore: remove MCP tool 'GitHub MCP Server (Full Access)' configuration
  .copilot/mcp.json
Due: none

fix(auth): dispatch popstate after replaceState to fix /auth/callback 404
  frontend/src/hooks/useAuth.test.tsx
  frontend/src/hooks/useAuth.ts
Due: frontend-lint, frontend-typecheck, frontend-test
