Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Backend Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff-format
        name: Format Python (ruff)
        files: ^backend/
      - id: ruff
        name: Lint Python (ruff)
        files: ^backend/
        args: [--fix]

  - repo: local
    hooks:
      - id: backend-pyright
        name: Type Check Backend (pyright)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Lint Frontend (ESLint)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: Type Check Frontend (TypeScript)
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-test
        name: Test Frontend (Vitest)
        entry: bash -c 'cd frontend && npm test'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: backend-test
        name: Test Backend (pytest)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        stages: [pre-push]  # Run tests only on push, not every commit

spec: Add feature specification for logging, error handling & code quality improvements (#1290)
  backend/src/api/board.py
  backend/src/api/chat.py
  backend/src/api/chores.py
  backend/src/api/cleanup.py
  backend/src/api/webhooks.py
  backend/src/api/workflow.py
  backend/src/config.py
  backend/src/logging_utils.py
  backend/src/main.py
  backend/tests/unit/test_chores_api.py
  backend/tests/unit/test_logging_utils.py
  specs/016-logging-error-quality/checklists/requirements.md
  specs/016-logging-error-quality/spec.md
  specs/016-logging-error-quality/tasks.md
Due: backend-pyright, backend-test

fix(chores): use template title, assign copilot at creation, fix body section order, harden pipeline steps
  backend/src/services/chores/service.py
  backend/src/services/github_projects/service.py
  backend/tests/unit/test_chores_service.py
Due: backend-pyright, backend-test

fix(chores/api): forward github_user_id to trigger and map GitHub 5xx to 503
  backend/src/api/chores.py
Due: backend-pyright, backend-test

feat(cleanup): detect and close orphaned app-created issues
  backend/src/models/cleanup.py
  backend/src/services/cleanup_service.py
  backend/tests/unit/test_cleanup_service.py
Due: backend-pyright, backend-test

fix(copilot-polling): harden pipeline transitions and completion detection
  backend/src/services/copilot_polling/completion.py
  backend/src/services/copilot_polling/pipeline.py
  backend/tests/unit/test_copilot_polling.py
  backend/tests/unit/test_github_projects.py
Due: backend-pyright, backend-test

feat(frontend): show orphaned issues in cleanup UI; move CleanUp button to ChoresPanel
  frontend/src/components/board/CleanUpButton.tsx
  frontend/src/components/board/CleanUpConfirmModal.tsx
  frontend/src/components/board/CleanUpSummary.tsx
  frontend/src/components/chores/ChoreCard.tsx
  frontend/src/components/chores/ChoresPanel.tsx
  frontend/src/hooks/useCleanup.ts
  frontend/src/pages/ProjectBoardPage.tsx
  frontend/src/types/index.ts
Due: frontend-lint, frontend-typecheck, frontend-test

feat(frontend): arrow-key chat history navigation (useChatHistory hook)
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/hooks/useChatHistory.test.ts
  frontend/src/hooks/useChatHistory.ts
Due: frontend-lint, frontend-typecheck, frontend-test

refactor: address AI code review recommendations for PR #1345
  backend/src/models/cleanup.py
  backend/src/services/chores/service.py
  backend/src/services/copilot_polling/pipeline.py
  frontend/src/hooks/useChatHistory.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: chores pipeline, cleanup orphaned issues, UI improvements
  backend/src/api/chores.py
  backend/src/models/cleanup.py
  backend/src/services/chores/service.py
  backend/src/services/cleanup_service.py
  backend/src/services/github_projects/service.py
  backend/tests/unit/test_cleanup_service.py
  frontend/src/components/board/CleanUpConfirmModal.tsx
  frontend/src/components/board/CleanUpSummary.tsx
  frontend/src/components/chores/ChoreCard.tsx
  frontend/src/components/chores/ChoresPanel.tsx
  frontend/src/hooks/useCleanup.ts
  frontend/src/pages/ProjectBoardPage.tsx
  frontend/src/types/index.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: pipeline skips agents when Copilot moves issue to In Progress
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/workflow_orchestrator/models.py
Due: backend-pyright, backend-test

Merge speckit.plan changes into copilot/bug-bash-code-review
  specs/017-bug-basher/plan.md
Due: none

fix: harden pipeline against GitHub auto-events
  backend/src/services/copilot_polling/helpers.py
  backend/src/services/copilot_polling/recovery.py
  backend/src/services/github_projects/service.py
  backend/tests/unit/test_github_projects.py
Due: backend-pyright, backend-test

Merge speckit.tasks changes into copilot/bug-bash-code-review
  specs/017-bug-basher/tasks.md
Due: none

fix: address code review — sanitize error responses, fix user mappings logic
  backend/src/services/chores/service.py
  backend/src/services/cleanup_service.py
Due: backend-pyright, backend-test

Merge speckit.implement changes into copilot/bug-bash-code-review
  backend/src/api/board.py
  backend/src/api/chat.py
  backend/src/api/webhooks.py
  backend/src/config.py
  backend/src/main.py
  backend/src/services/cleanup_service.py
  backend/src/services/copilot_polling/completion.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/encryption.py
  backend/tests/unit/test_api_board.py
  backend/tests/unit/test_cleanup_service.py
  backend/tests/unit/test_config.py
  backend/tests/unit/test_main.py
  backend/tests/unit/test_token_encryption.py
  backend/tests/unit/test_webhooks.py
  specs/017-bug-basher/summary-report.md
  specs/017-bug-basher/tasks.md
Due: backend-pyright, backend-test

fix: chores pipeline, orphaned issue cleanup, pipeline hardening & UI improvements (#1387)
  backend/src/api/chores.py
  backend/src/models/cleanup.py
  backend/src/services/chores/service.py
  backend/src/services/cleanup_service.py
  backend/src/services/copilot_polling/helpers.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/copilot_polling/recovery.py
  backend/src/services/github_projects/service.py
  backend/src/services/workflow_orchestrator/models.py
  backend/tests/unit/test_cleanup_service.py
  backend/tests/unit/test_github_projects.py
  frontend/src/components/board/CleanUpConfirmModal.tsx
  frontend/src/components/board/CleanUpSummary.tsx
  frontend/src/components/chores/ChoreCard.tsx
  frontend/src/components/chores/ChoresPanel.tsx
  frontend/src/hooks/useCleanup.ts
  frontend/src/pages/ProjectBoardPage.tsx
  frontend/src/types/index.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: Address AI code review findings on PR #1382
  backend/src/api/webhooks.py
  backend/tests/unit/test_webhooks.py
  specs/017-bug-basher/checklists/requirements.md
  specs/017-bug-basher/plan.md
  specs/017-bug-basher/spec.md
  specs/017-bug-basher/summary-report.md
Due: backend-pyright, backend-test

docs: Clean up repetitive and inaccurate content in copilot-instructions.md
  .github/agents/copilot-instructions.md
Due: none

fix: Replace deprecated HTTP_422_UNPROCESSABLE_ENTITY and fix cleanup_service bugs
  backend/src/api/signal.py
  backend/src/exceptions.py
  backend/src/services/cleanup_service.py
  backend/tests/conftest.py
Due: backend-pyright, backend-test

Merge speckit.plan changes into copilot/bug-bash-code-review-again
  .github/agents/copilot-instructions.md
  specs/001-bug-basher/contracts/code-quality-audit.md
  specs/001-bug-basher/contracts/logic-bug-audit.md
  specs/001-bug-basher/contracts/runtime-error-audit.md
  specs/001-bug-basher/contracts/security-audit.md
  specs/001-bug-basher/contracts/test-quality-audit.md
  specs/001-bug-basher/data-model.md
  specs/001-bug-basher/plan.md
  specs/001-bug-basher/quickstart.md
  specs/001-bug-basher/research.md
Due: none

Merge speckit.plan changes into copilot/add-chat-history-navigation
  .github/agents/copilot-instructions.md
  specs/001-chat-history-nav/contracts/useChatHistory.ts
  specs/001-chat-history-nav/data-model.md
  specs/001-chat-history-nav/plan.md
  specs/001-chat-history-nav/quickstart.md
  specs/001-chat-history-nav/research.md
Due: none

Merge speckit.tasks changes into copilot/add-chat-history-navigation
  specs/001-chat-history-nav/tasks.md
Due: none

Merge speckit.tasks changes into copilot/bug-bash-code-review-again
  specs/001-bug-basher/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-chat-history-navigation
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/hooks/useChatHistory.test.ts
  frontend/src/hooks/useChatHistory.ts
  specs/001-chat-history-nav/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.implement changes into copilot/bug-bash-code-review-again
  backend/src/api/health.py
  backend/src/services/agent_creator.py
  backend/src/services/cleanup_service.py
  backend/src/services/signal_bridge.py
  backend/src/services/signal_chat.py
  backend/tests/integration/test_health_endpoint.py
  backend/tests/unit/test_agent_creator.py
  backend/tests/unit/test_cleanup_service.py
  specs/001-bug-basher/tasks.md
Due: backend-pyright, backend-test

Merge speckit.plan changes into copilot/enhance-help-commands-ux
  .github/agents/copilot-instructions.md
  specs/018-help-commands-ux/contracts/command-system.md
  specs/018-help-commands-ux/data-model.md
  specs/018-help-commands-ux/plan.md
  specs/018-help-commands-ux/quickstart.md
  specs/018-help-commands-ux/research.md
Due: none

Merge speckit.tasks changes into copilot/enhance-help-commands-ux
  specs/018-help-commands-ux/tasks.md
Due: none

Merge speckit.implement changes into copilot/enhance-help-commands-ux
  frontend/src/hooks/useCommands.test.tsx
  frontend/src/hooks/useCommands.ts
  frontend/src/lib/commands/handlers/help.test.ts
  frontend/src/lib/commands/handlers/help.ts
  frontend/src/lib/commands/handlers/settings.test.ts
  frontend/src/lib/commands/handlers/settings.ts
  frontend/src/lib/commands/helpers.test.ts
  frontend/src/lib/commands/helpers.ts
  frontend/src/lib/commands/registry.test.ts
  frontend/src/lib/commands/registry.ts
  frontend/src/lib/commands/types.ts
  specs/018-help-commands-ux/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Add agent: Linter
  .github/agents/linter.agent.md
  .github/prompts/linter.prompt.md
Due: none

Add agent: Linter
  .github/agents/linter.agent.md
Due: none
