Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

backend-pyright:
  name: Type Check Backend (pyright)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
  language: system
  pass_filenames: false

frontend-lint:
  name: Lint Frontend (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Type Check Frontend (TypeScript)
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-test:
  name: Test Frontend (Vitest)
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false

backend-test:
  name: Test Backend (pytest)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix: apply Copilot PR review recommendations
  backend/src/models/chat.py
  backend/src/services/workflow_orchestrator.py
  specs/002-speckit-agent-assignment/data-model.md
  specs/002-speckit-agent-assignment/quickstart.md
  specs/002-speckit-agent-assignment/research.md
  specs/002-speckit-agent-assignment/spec.md
  specs/002-speckit-agent-assignment/tasks.md
Due: backend-pyright, backend-test

Merge speckit.plan changes into copilot/add-project-board-page
  .github/agents/copilot-instructions.md
  specs/003-project-board/contracts/api-contracts.md
  specs/003-project-board/data-model.md
  specs/003-project-board/plan.md
  specs/003-project-board/quickstart.md
  specs/003-project-board/research.md
Due: none

Merge speckit.tasks changes into copilot/add-project-board-page
  specs/003-project-board/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-project-board-page
  backend/src/api/__init__.py
  backend/src/api/project_board.py
  backend/src/models/project_board.py
  frontend/package-lock.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/project-board/BoardColumn.tsx
  frontend/src/components/project-board/BoardIssueCard.tsx
  frontend/src/components/project-board/IssueDetailModal.tsx
  frontend/src/components/project-board/ProjectBoardPage.tsx
  frontend/src/components/sidebar/ProjectSidebar.tsx
  frontend/src/hooks/useProjectBoard.ts
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  frontend/tsconfig.tsbuildinfo
  specs/003-project-board/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.plan changes into copilot/apply-brown-background-color
  .github/agents/copilot-instructions.md
  specs/003-brown-background/contracts/css-changes.md
  specs/003-brown-background/data-model.md
  specs/003-brown-background/plan.md
  specs/003-brown-background/quickstart.md
  specs/003-brown-background/research.md
Due: none

Merge speckit.tasks changes into copilot/apply-brown-background-color
  specs/003-brown-background/tasks.md
Due: none

Merge speckit.implement changes into copilot/apply-brown-background-color
  frontend/src/App.css
  frontend/src/index.css
  specs/003-brown-background/tasks.md
Due: none

Merge speckit.plan changes into copilot/apply-red-background-color-again
  specs/003-red-background-app/checklists/requirements.md
  specs/003-red-background-app/spec.md
Due: none

Merge speckit.implement changes into copilot/apply-red-background-color-again
  .github/agents/copilot-instructions.md
  specs/003-red-background/contracts/css-changes.md
  specs/003-red-background/data-model.md
  specs/003-red-background/plan.md
  specs/003-red-background/quickstart.md
  specs/003-red-background/research.md
Due: none

Merge speckit.plan changes into copilot/add-orange-background-app
  .github/agents/copilot-instructions.md
  specs/003-orange-background/contracts/css-changes.md
  specs/003-orange-background/data-model.md
  specs/003-orange-background/plan.md
  specs/003-orange-background/quickstart.md
  specs/003-orange-background/research.md
Due: none

Merge speckit.tasks changes into copilot/add-orange-background-app
  specs/003-orange-background/tasks.md
Due: none

Merge speckit.plan changes into copilot/add-green-background-app
  .github/agents/copilot-instructions.md
  specs/003-green-background-app/contracts/css-changes.md
  specs/003-green-background-app/data-model.md
  specs/003-green-background-app/plan.md
  specs/003-green-background-app/quickstart.md
  specs/003-green-background-app/research.md
Due: none

Merge speckit.tasks changes into copilot/add-green-background-app
  specs/003-green-background-app/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-green-background-app
  frontend/package-lock.json
  frontend/src/index.css
  specs/003-green-background-app/tasks.md
Due: none

fix: prevent premature agent completion from concurrent polling loops
  backend/src/api/projects.py
  backend/src/api/workflow.py
  backend/src/services/copilot_polling.py
  backend/src/services/github_projects.py
Due: backend-pyright, backend-test

fix: adopt PR review recommendations and update documentation
  README.md
  backend/README.md
  backend/src/models/chat.py
  backend/src/services/ai_agent.py
  frontend/src/App.css
Due: backend-pyright, backend-test

fix: replace (str, Enum) with StrEnum to fix ruff UP042 lint errors
  backend/src/models/board.py
  backend/src/models/chat.py
  backend/src/models/project.py
Due: backend-pyright, backend-test

fix: resolve all pyright type errors and fix pre-commit hook
  backend/src/services/copilot_polling.py
  backend/src/services/github_projects.py
  scripts/pre-commit
Due: backend-pyright, backend-test

chore: sync pre-commit hook with CI workflow
  scripts/pre-commit
Due: none

fix: add openai to dependencies for pyright resolution
  backend/pyproject.toml
Due: none

chore: sync pre-commit hook with CI workflow (#295)
  backend/pyproject.toml
  scripts/pre-commit
Due: none

Merge speckit.tasks changes into copilot/add-blue-background-color
  specs/003-blue-background-app/plan.md
  specs/003-blue-background-app/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-blue-background-color
  .gitignore
  frontend/src/index.css
  specs/003-blue-background-app/tasks.md
Due: none

Merge speckit.implement changes into copilot/apply-green-background-color
  .gitignore
  frontend/src/index.css
Due: none

Merge speckit.plan changes into copilot/add-yellow-background-color
  .github/agents/copilot-instructions.md
  specs/003-yellow-background-app/contracts/file-changes.md
  specs/003-yellow-background-app/data-model.md
  specs/003-yellow-background-app/plan.md
  specs/003-yellow-background-app/quickstart.md
  specs/003-yellow-background-app/research.md
Due: none

Merge speckit.implement changes into copilot/add-yellow-background-color
  .gitignore
  frontend/package-lock.json
  frontend/src/index.css
Due: none

style: apply ruff lint fixes
  backend/src/models/chat.py
  backend/src/services/ai_agent.py
  backend/src/services/completion_providers.py
  backend/src/services/copilot_polling.py
  backend/tests/unit/test_ai_agent.py
Due: backend-pyright, backend-test

style: fix ruff format check failures
  backend/src/models/chat.py
  backend/src/services/agent_tracking.py
  backend/src/services/copilot_polling.py
  backend/src/services/github_projects.py
  backend/src/services/workflow_orchestrator.py
  backend/tests/unit/test_ai_agent.py
  backend/tests/unit/test_copilot_polling.py
Due: backend-pyright, backend-test

fix: address AI code review feedback from PR #324
  .github/agents/copilot-instructions.md
  backend/=6.0.1
  backend/src/services/completion_providers.py
  backend/src/services/github_projects.py
  backend/src/services/workflow_orchestrator.py
  frontend/src/components/board/AgentConfigRow.tsx
  frontend/src/hooks/useAgentConfig.ts
  frontend/src/pages/ProjectBoardPage.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Path conditions:
  backend-pyright: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-test: any of: ^backend/.*\.py$
