Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

backend-pyright:
  name: Type Check Backend (pyright)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
  language: system
  pass_filenames: false

frontend-lint:
  name: Lint Frontend (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Type Check Frontend (TypeScript)
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-test:
  name: Test Frontend (Vitest)
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false

backend-test:
  name: Test Backend (pytest)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Merge linter changes into copilot/display-models-in-agent-pipeline
  backend/src/services/agent_tracking.py
  backend/tests/unit/test_agent_tracking.py
  specs/030-pipeline-model-display/contracts/tracking-table.md
  specs/030-pipeline-model-display/data-model.md
  specs/030-pipeline-model-display/plan.md
  specs/030-pipeline-model-display/quickstart.md
  specs/030-pipeline-model-display/research.md
Due: backend-pyright, backend-test

Merge linter changes into copilot/add-blocking-feature-toggle
  backend/src/services/blocking_queue.py
  backend/src/services/blocking_queue_store.py
  backend/src/services/chores/service.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/integration/test_blocking_chore_trigger.py
  backend/tests/integration/test_blocking_pipeline.py
  backend/tests/unit/test_blocking_queue.py
  backend/tests/unit/test_chat_block.py
Due: backend-pyright, backend-test

Merge linter changes into copilot/dry-logging-error-handling-modernization
  backend/src/api/chores.py
  backend/src/api/settings.py
  backend/tests/test_api_e2e.py
  backend/tests/unit/test_api_auth.py
  backend/tests/unit/test_chores_api.py
Due: backend-pyright, backend-test

Merge judge changes into copilot/add-agent-pipeline-mention-support
  frontend/src/components/chat/ChatPopup.tsx
  frontend/src/components/chat/MentionAutocomplete.tsx
  frontend/src/hooks/useMentionAutocomplete.ts
  frontend/src/layout/AppLayout.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge linter changes into copilot/add-agent-pipeline-mention-support
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/MentionInput.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

speckit.specify: Documentation Sweep (030-doc-sweep) (#2291)
  .github/agents/copilot-instructions.md
  specs/030-doc-sweep/checklists/requirements.md
  specs/030-doc-sweep/contracts/checklists.md
  specs/030-doc-sweep/contracts/ci-config.md
  specs/030-doc-sweep/contracts/pr-template.md
  specs/030-doc-sweep/data-model.md
  specs/030-doc-sweep/plan.md
  specs/030-doc-sweep/quickstart.md
  specs/030-doc-sweep/research.md
  specs/030-doc-sweep/spec.md
  specs/030-doc-sweep/tasks.md
Due: none

chore: sync MCP tool 'markitdown' configuration
  .copilot/mcp.json
Due: none

chore: sync MCP tool 'markitdown' configuration
  .vscode/mcp.json
Due: none

Update backend/tests/unit/test_agent_tracking.py
  backend/tests/unit/test_agent_tracking.py
Due: backend-pyright, backend-test

Update backend/src/services/agent_tracking.py
  backend/src/services/agent_tracking.py
Due: backend-pyright, backend-test

speckit.specify: Display Models in Agent Pipeline Section (#2386)
  .github/agents/copilot-instructions.md
  backend/src/services/agent_tracking.py
  backend/tests/unit/test_agent_tracking.py
  specs/030-pipeline-model-display/checklists/requirements.md
  specs/030-pipeline-model-display/contracts/tracking-table.md
  specs/030-pipeline-model-display/data-model.md
  specs/030-pipeline-model-display/plan.md
  specs/030-pipeline-model-display/quickstart.md
  specs/030-pipeline-model-display/research.md
  specs/030-pipeline-model-display/spec.md
  specs/030-pipeline-model-display/tasks.md
Due: backend-pyright, backend-test

fix: wire chore trigger evaluation count through API
  backend/src/api/chores.py
  backend/src/models/chores.py
  backend/tests/unit/test_chores_api.py
  frontend/src/services/api.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

spec: 030-fix-chore-issue-counter — specification for fixing Every X Issues chore counter (#2321)
  .github/agents/copilot-instructions.md
  backend/src/api/chores.py
  backend/src/models/chores.py
  backend/src/services/chores/counter.py
  backend/tests/unit/test_chores_api.py
  frontend/src/pages/ChoresPage.tsx
  frontend/src/services/api.ts
  specs/030-fix-chore-issue-counter/checklists/requirements.md
  specs/030-fix-chore-issue-counter/contracts/api.md
  specs/030-fix-chore-issue-counter/contracts/components.md
  specs/030-fix-chore-issue-counter/data-model.md
  specs/030-fix-chore-issue-counter/plan.md
  specs/030-fix-chore-issue-counter/quickstart.md
  specs/030-fix-chore-issue-counter/research.md
  specs/030-fix-chore-issue-counter/spec.md
  specs/030-fix-chore-issue-counter/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: address review feedback for bug basher PR
  backend/tests/unit/test_cache.py
  backend/tests/unit/test_websocket.py
  specs/030-bug-basher/data-model.md
  specs/030-bug-basher/plan.md
  specs/030-bug-basher/quickstart.md
  specs/030-bug-basher/research.md
Due: backend-pyright, backend-test

[speckit.specify] Add specification for Bug Basher feature (030-bug-basher) (#2297)
  .github/agents/copilot-instructions.md
  backend/src/api/chat.py
  backend/src/main.py
  backend/src/services/cache.py
  backend/src/services/chores/service.py
  backend/src/services/completion_providers.py
  backend/src/services/database.py
  backend/src/services/websocket.py
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_cache.py
  backend/tests/unit/test_chores_service.py
  backend/tests/unit/test_completion_providers.py
  backend/tests/unit/test_websocket.py
  frontend/src/components/pipeline/PipelineBoard.tsx
  specs/030-bug-basher/checklists/requirements.md
  specs/030-bug-basher/contracts/summary-table.md
  specs/030-bug-basher/data-model.md
  specs/030-bug-basher/plan.md
  specs/030-bug-basher/quickstart.md
  specs/030-bug-basher/research.md
  specs/030-bug-basher/spec.md
  specs/030-bug-basher/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

test: tighten tooltip regression coverage
  frontend/src/components/agents/__tests__/AgentsPanel.test.tsx
  frontend/src/components/chores/__tests__/ChoresPanel.test.tsx
  frontend/src/components/ui/tooltip.test.tsx
  frontend/src/test/test-utils.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

feat(spec): add specification for comprehensive UI tooltips (030-ui-tooltips) (#2345)
  .github/agents/copilot-instructions.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/agents/AddAgentModal.tsx
  frontend/src/components/agents/AgentCard.tsx
  frontend/src/components/agents/AgentsPanel.tsx
  frontend/src/components/agents/__tests__/AgentsPanel.test.tsx
  frontend/src/components/board/BoardToolbar.tsx
  frontend/src/components/board/CleanUpButton.tsx
  frontend/src/components/board/RefreshButton.tsx
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/ChatToolbar.tsx
  frontend/src/components/chores/ChoreCard.tsx
  frontend/src/components/chores/__tests__/ChoresPanel.test.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/components/tools/ToolCard.tsx
  frontend/src/components/ui/tooltip.test.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/constants/tooltip-content.ts
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/test/test-utils.tsx
  specs/030-ui-tooltips/checklists/requirements.md
  specs/030-ui-tooltips/contracts/components.md
  specs/030-ui-tooltips/data-model.md
  specs/030-ui-tooltips/plan.md
  specs/030-ui-tooltips/quickstart.md
  specs/030-ui-tooltips/research.md
  specs/030-ui-tooltips/spec.md
  specs/030-ui-tooltips/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

fix: align error handling domains
  backend/src/api/agents.py
  backend/src/api/chores.py
  backend/src/api/pipelines.py
  backend/src/api/signal.py
  backend/src/api/tools.py
  backend/tests/unit/test_chores_api.py
Due: backend-pyright, backend-test

spec: DRY Logging & Error Handling Modernization (030-dry-error-handling) (#2358)
  .github/agents/copilot-instructions.md
  backend/src/api/agents.py
  backend/src/api/auth.py
  backend/src/api/board.py
  backend/src/api/chores.py
  backend/src/api/cleanup.py
  backend/src/api/pipelines.py
  backend/src/api/settings.py
  backend/src/api/signal.py
  backend/src/api/tools.py
  backend/src/api/webhooks.py
  backend/src/api/workflow.py
  backend/src/dependencies.py
  backend/src/exceptions.py
  backend/src/main.py
  backend/tests/test_api_e2e.py
  backend/tests/unit/test_api_auth.py
  backend/tests/unit/test_chores_api.py
  specs/030-dry-error-handling/checklists/requirements.md
  specs/030-dry-error-handling/contracts/components.md
  specs/030-dry-error-handling/contracts/error-responses.md
  specs/030-dry-error-handling/data-model.md
  specs/030-dry-error-handling/plan.md
  specs/030-dry-error-handling/quickstart.md
  specs/030-dry-error-handling/research.md
  specs/030-dry-error-handling/spec.md
  specs/030-dry-error-handling/tasks.md
Due: backend-pyright, backend-test

Fix selected pipeline workflow override and mention editor sync
  backend/src/api/chat.py
  backend/src/api/workflow.py
  backend/src/models/recommendation.py
  backend/src/services/workflow_orchestrator/models.py
  backend/tests/unit/test_api_workflow.py
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/MentionInput.test.tsx
  frontend/src/components/chat/MentionInput.tsx
  frontend/src/components/chat/MentionToken.tsx
  frontend/src/hooks/useMentionAutocomplete.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

speckit.specify: @ Mention Pipeline Selection in Chat (#2422)
  .github/agents/copilot-instructions.md
  backend/src/api/chat.py
  backend/src/api/workflow.py
  backend/src/models/chat.py
  backend/src/models/recommendation.py
  backend/src/services/workflow_orchestrator/models.py
  backend/tests/unit/test_api_workflow.py
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/ChatPopup.tsx
  frontend/src/components/chat/MentionAutocomplete.tsx
  frontend/src/components/chat/MentionInput.test.tsx
  frontend/src/components/chat/MentionInput.tsx
  frontend/src/components/chat/PipelineIndicator.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useMentionAutocomplete.ts
  frontend/src/layout/AppLayout.tsx
  frontend/src/types/index.ts
  specs/030-at-mention-pipeline/checklists/requirements.md
  specs/030-at-mention-pipeline/contracts/api.md
  specs/030-at-mention-pipeline/contracts/components.md
  specs/030-at-mention-pipeline/data-model.md
  specs/030-at-mention-pipeline/plan.md
  specs/030-at-mention-pipeline/quickstart.md
  specs/030-at-mention-pipeline/research.md
  specs/030-at-mention-pipeline/spec.md
  specs/030-at-mention-pipeline/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Fix confirmation dialog focus restoration
  frontend/src/components/ui/confirmation-dialog.tsx
  frontend/src/hooks/__tests__/useConfirmation.test.tsx
  frontend/src/hooks/useConfirmation.tsx
  specs/001-confirmation-flow/contracts/components.md
  specs/001-confirmation-flow/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Add feature specification for Confirmation Flow for Critical Actions (#2331)
  .github/agents/copilot-instructions.md
  frontend/src/App.tsx
  frontend/src/components/agents/AgentCard.tsx
  frontend/src/components/agents/AgentsPanel.tsx
  frontend/src/components/agents/__tests__/AgentsPanel.test.tsx
  frontend/src/components/chores/ChoreCard.tsx
  frontend/src/components/chores/__tests__/ChoresPanel.test.tsx
  frontend/src/components/ui/__tests__/confirmation-dialog.test.tsx
  frontend/src/components/ui/confirmation-dialog.tsx
  frontend/src/hooks/__tests__/useConfirmation.test.tsx
  frontend/src/hooks/useConfirmation.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/test/test-utils.tsx
  specs/001-confirmation-flow/checklists/requirements.md
  specs/001-confirmation-flow/contracts/api.md
  specs/001-confirmation-flow/contracts/components.md
  specs/001-confirmation-flow/data-model.md
  specs/001-confirmation-flow/plan.md
  specs/001-confirmation-flow/quickstart.md
  specs/001-confirmation-flow/research.md
  specs/001-confirmation-flow/spec.md
  specs/001-confirmation-flow/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Fix blocking queue activation and board state
  backend/src/api/board.py
  backend/src/api/chat.py
  backend/src/models/pipeline.py
  backend/src/models/recommendation.py
  backend/src/services/blocking_queue.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/github_projects/service.py
  backend/src/services/pipelines/service.py
  frontend/src/components/board/BoardColumn.tsx
  frontend/src/components/board/IssueCard.test.tsx
  frontend/src/components/board/IssueCard.tsx
  frontend/src/components/board/ProjectBoard.tsx
  frontend/src/pages/ProjectsPage.tsx
  frontend/src/types/index.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Guard cleanup summary scroll locking
  frontend/src/components/board/CleanUpSummary.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

spec: Add feature specification for fixing intermittent scroll stuck issue (#2433)
  .github/agents/copilot-instructions.md
  frontend/src/components/agents/AgentIconPickerModal.tsx
  frontend/src/components/board/AddAgentPopover.tsx
  frontend/src/components/board/CleanUpAuditHistory.tsx
  frontend/src/components/board/CleanUpConfirmModal.tsx
  frontend/src/components/board/CleanUpSummary.tsx
  frontend/src/components/board/IssueDetailModal.tsx
  frontend/src/components/pipeline/ModelSelector.tsx
  frontend/src/components/pipeline/PipelineToolbar.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/hooks/useScrollLock.test.ts
  frontend/src/hooks/useScrollLock.ts
  frontend/src/layout/NotificationBell.tsx
  specs/030-fix-scroll-stuck/checklists/requirements.md
  specs/030-fix-scroll-stuck/contracts/components.md
  specs/030-fix-scroll-stuck/data-model.md
  specs/030-fix-scroll-stuck/plan.md
  specs/030-fix-scroll-stuck/quickstart.md
  specs/030-fix-scroll-stuck/research.md
  specs/030-fix-scroll-stuck/spec.md
  specs/030-fix-scroll-stuck/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

test: cover chat pipeline config inheritance review fixes
  backend/tests/unit/test_workflow_orchestrator_config.py
  frontend/src/components/chat/PipelineWarningBanner.test.tsx
  frontend/src/components/chat/TaskPreview.test.tsx
  frontend/src/hooks/useSelectedPipeline.test.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

feat(spec): Add specification for chat pipeline config inheritance (030-chat-pipeline-config) (#2397)
  .github/agents/copilot-instructions.md
  backend/src/api/chat.py
  backend/src/models/recommendation.py
  backend/src/services/workflow_orchestrator/config.py
  backend/tests/unit/test_workflow_orchestrator_config.py
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/PipelineWarningBanner.test.tsx
  frontend/src/components/chat/PipelineWarningBanner.tsx
  frontend/src/components/chat/TaskPreview.test.tsx
  frontend/src/components/chat/TaskPreview.tsx
  frontend/src/hooks/useSelectedPipeline.test.tsx
  frontend/src/hooks/useSelectedPipeline.ts
  frontend/src/types/index.ts
  specs/030-chat-pipeline-config/checklists/requirements.md
  specs/030-chat-pipeline-config/contracts/api.md
  specs/030-chat-pipeline-config/contracts/components.md
  specs/030-chat-pipeline-config/data-model.md
  specs/030-chat-pipeline-config/plan.md
  specs/030-chat-pipeline-config/quickstart.md
  specs/030-chat-pipeline-config/research.md
  specs/030-chat-pipeline-config/spec.md
  specs/030-chat-pipeline-config/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.plan changes into copilot/bug-bash-code-review-again
  specs/031-bug-basher/contracts/summary-table.md
  specs/031-bug-basher/data-model.md
  specs/031-bug-basher/plan.md
  specs/031-bug-basher/quickstart.md
  specs/031-bug-basher/research.md
Due: none

Merge speckit.plan changes into copilot/speckit-specify-performance-review
  .github/agents/copilot-instructions.md
  specs/031-performance-review/contracts/cache-contract.md
  specs/031-performance-review/contracts/refresh-contract.md
  specs/031-performance-review/data-model.md
  specs/031-performance-review/plan.md
  specs/031-performance-review/quickstart.md
  specs/031-performance-review/research.md
Due: none

Merge speckit.tasks changes into copilot/bug-bash-code-review-again
  specs/031-bug-basher/tasks.md
Due: none

Merge speckit.plan changes into copilot/create-performance-review-specification
  .github/agents/copilot-instructions.md
  specs/028-performance-review/contracts/cache-contract.md
  specs/028-performance-review/contracts/refresh-contract.md
  specs/028-performance-review/data-model.md
  specs/028-performance-review/plan.md
  specs/028-performance-review/quickstart.md
  specs/028-performance-review/research.md
Due: none

Merge speckit.tasks changes into copilot/speckit-specify-performance-review
  specs/031-performance-review/tasks.md
Due: none

Merge speckit.tasks changes into copilot/create-performance-review-specification
  specs/028-performance-review/tasks.md
Due: none

Merge speckit.implement changes into copilot/speckit-specify-performance-review
  backend/tests/unit/test_api_board.py
  backend/tests/unit/test_cache.py
  backend/tests/unit/test_copilot_polling.py
  frontend/src/hooks/useBoardRefresh.test.tsx
  frontend/src/hooks/useRealTimeSync.test.tsx
  frontend/src/pages/ProjectsPage.tsx
  specs/031-performance-review/quickstart.md
  specs/031-performance-review/research.md
  specs/031-performance-review/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.implement changes into copilot/create-performance-review-specification
  backend/tests/unit/test_api_board.py
  backend/tests/unit/test_cache.py
  frontend/src/components/board/AddAgentPopover.tsx
  frontend/src/hooks/useBoardRefresh.test.tsx
  frontend/src/hooks/useRealTimeSync.test.tsx
  frontend/src/pages/ProjectsPage.tsx
  specs/028-performance-review/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Path conditions:
  backend-pyright: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-test: any of: ^backend/.*\.py$
