Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

backend-pyright:
  name: Type Check Backend (pyright)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
  language: system
  pass_filenames: false

frontend-lint:
  name: Lint Frontend (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Type Check Frontend (TypeScript)
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-test:
  name: Test Frontend (Vitest)
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false

backend-test:
  name: Test Backend (pytest)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Add agent: Linter
  .github/agents/linter.agent.md
Due: none

Add agent: Linter (#1433)
  .github/agents/linter.agent.md
  .github/prompts/linter.prompt.md
Due: none

feat: Add Agents Panel with AI-enhanced custom agent creation (#017)
  .github/agents/copilot-instructions.md
  .github/agents/judge.agent.md
  .github/prompts/judge.prompt.md
  backend/src/api/__init__.py
  backend/src/api/agents.py
  backend/src/models/agents.py
  backend/src/services/agent_creator.py
  backend/src/services/agents/__init__.py
  backend/src/services/agents/service.py
  backend/src/services/github_commit_workflow.py
  backend/src/services/github_projects/service.py
  backend/tests/unit/test_agent_creator.py
  docs/custom-agents-best-practices.md
  frontend/src/components/agents/AddAgentModal.tsx
  frontend/src/components/agents/AgentCard.tsx
  frontend/src/components/agents/AgentChatFlow.tsx
  frontend/src/components/agents/AgentsPanel.tsx
  frontend/src/hooks/useAgents.ts
  frontend/src/pages/ProjectBoardPage.tsx
  frontend/src/services/api.ts
  specs/017-agents-section/checklists/requirements.md
  specs/017-agents-section/contracts/agents-api.yaml
  specs/017-agents-section/data-model.md
  specs/017-agents-section/plan.md
  specs/017-agents-section/quickstart.md
  specs/017-agents-section/research.md
  specs/017-agents-section/spec.md
  specs/017-agents-section/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: address code review — session bounds, repo agent guards, validation, a11y
  backend/src/api/agents.py
  backend/src/services/agents/service.py
  backend/src/services/github_commit_workflow.py
  frontend/src/components/agents/AddAgentModal.tsx
  frontend/src/components/agents/AgentCard.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

feat: Add Agents Panel with AI-enhanced custom agent creation (#017) (#1434)
  .github/agents/copilot-instructions.md
  .github/agents/judge.agent.md
  .github/prompts/judge.prompt.md
  backend/src/api/__init__.py
  backend/src/api/agents.py
  backend/src/models/agents.py
  backend/src/services/agent_creator.py
  backend/src/services/agents/__init__.py
  backend/src/services/agents/service.py
  backend/src/services/github_commit_workflow.py
  backend/src/services/github_projects/service.py
  backend/tests/unit/test_agent_creator.py
  docs/custom-agents-best-practices.md
  frontend/src/components/agents/AddAgentModal.tsx
  frontend/src/components/agents/AgentCard.tsx
  frontend/src/components/agents/AgentChatFlow.tsx
  frontend/src/components/agents/AgentsPanel.tsx
  frontend/src/hooks/useAgents.ts
  frontend/src/pages/ProjectBoardPage.tsx
  frontend/src/services/api.ts
  specs/017-agents-section/checklists/requirements.md
  specs/017-agents-section/contracts/agents-api.yaml
  specs/017-agents-section/data-model.md
  specs/017-agents-section/plan.md
  specs/017-agents-section/quickstart.md
  specs/017-agents-section/research.md
  specs/017-agents-section/spec.md
  specs/017-agents-section/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.plan changes into copilot/bug-bash-code-review
  .github/agents/copilot-instructions.md
  specs/018-bug-basher/contracts/review-process.yaml
  specs/018-bug-basher/data-model.md
  specs/018-bug-basher/plan.md
  specs/018-bug-basher/quickstart.md
  specs/018-bug-basher/research.md
Due: none

chore: add issue template for Code Clean Up
  .github/ISSUE_TEMPLATE/chore-code-clean-up.md
Due: none

Merge speckit.plan changes into copilot/add-chat-message-history-navigation
  .github/agents/copilot-instructions.md
  specs/018-chat-history-navigation/contracts/chat-history-hook.md
  specs/018-chat-history-navigation/data-model.md
  specs/018-chat-history-navigation/plan.md
  specs/018-chat-history-navigation/quickstart.md
  specs/018-chat-history-navigation/research.md
Due: none

Merge speckit.tasks changes into copilot/bug-bash-code-review
  specs/018-bug-basher/tasks.md
Due: none

Merge speckit.tasks changes into copilot/add-chat-message-history-navigation
  specs/018-chat-history-navigation/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-chat-message-history-navigation
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/hooks/useChatHistory.test.tsx
  frontend/src/hooks/useChatHistory.ts
  frontend/src/utils/chatHistoryStorage.test.ts
  frontend/src/utils/chatHistoryStorage.ts
  specs/018-chat-history-navigation/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.plan changes into copilot/code-cleanup-overhaul
  .github/agents/copilot-instructions.md
  specs/018-code-cleanup/contracts/cleanup-categories.md
  specs/018-code-cleanup/data-model.md
  specs/018-code-cleanup/plan.md
  specs/018-code-cleanup/quickstart.md
  specs/018-code-cleanup/research.md
Due: none

fix: copilot-review triggers code review on parent issue's main PR branch
  backend/src/services/github_projects/service.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  docs/agent-pipeline.md
Due: backend-pyright, backend-test

Merge speckit.tasks changes into copilot/code-cleanup-overhaul
  specs/018-code-cleanup/tasks.md
Due: none

Merge speckit.implement changes into copilot/bug-bash-code-review
  backend/src/api/agents.py
  backend/src/api/health.py
  backend/src/services/agents/service.py
  backend/src/services/ai_agent.py
  backend/src/services/copilot_polling/completion.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/copilot_polling/polling_loop.py
  backend/tests/unit/test_api_agents.py
  backend/tests/unit/test_api_health.py
  backend/tests/unit/test_copilot_polling.py
  frontend/src/hooks/useAuth.ts
  frontend/src/pages/ProjectBoardPage.tsx
  specs/018-bug-basher/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.implement changes into copilot/code-cleanup-overhaul
  backend/pyproject.toml
  backend/tests/helpers/mocks.py
  backend/tests/unit/test_ai_agent.py
  backend/tests/unit/test_workflow_orchestrator.py
  frontend/package-lock.json
  frontend/package.json
  specs/018-code-cleanup/tasks.md
Due: backend-pyright, backend-test

Merge speckit.plan changes into copilot/audit-refactor-fastapi-react
  .github/agents/copilot-instructions.md
  specs/018-audit-refactor-codebase/contracts/README.md
  specs/018-audit-refactor-codebase/data-model.md
  specs/018-audit-refactor-codebase/plan.md
  specs/018-audit-refactor-codebase/quickstart.md
  specs/018-audit-refactor-codebase/research.md
Due: none

Merge speckit.tasks changes into copilot/audit-refactor-fastapi-react
  specs/018-audit-refactor-codebase/tasks.md
Due: none

Merge speckit.implement changes into copilot/audit-refactor-fastapi-react
  backend/Dockerfile
  backend/pyproject.toml
  backend/src/api/chat.py
  backend/src/dependencies.py
  backend/src/services/ai_agent.py
  backend/src/services/completion_providers.py
  backend/src/services/github_auth.py
  backend/src/services/github_commit_workflow.py
  backend/src/services/github_projects/graphql.py
  backend/src/services/github_projects/service.py
  backend/src/services/model_fetcher.py
  backend/src/services/workflow_orchestrator/transitions.py
  backend/tests/conftest.py
  backend/tests/unit/test_admin_authorization.py
  backend/tests/unit/test_completion_providers.py
  backend/tests/unit/test_github_projects.py
  frontend/package-lock.json
  frontend/package.json
  specs/018-audit-refactor-codebase/tasks.md
Due: backend-pyright, backend-test

Merge speckit.plan changes into copilot/add-red-background-color
  .github/agents/copilot-instructions.md
  specs/018-red-background/contracts/css-tokens.md
  specs/018-red-background/data-model.md
  specs/018-red-background/plan.md
  specs/018-red-background/quickstart.md
  specs/018-red-background/research.md
Due: none

Merge speckit.tasks changes into copilot/add-red-background-color
  specs/018-red-background/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-red-background-color
  frontend/src/index.css
  specs/018-red-background/tasks.md
Due: none

Merge linter changes into copilot/add-red-background-color
  backend/src/services/agents/service.py
Due: backend-pyright, backend-test

fix: resolve agent pipeline stalls and sequencing bugs (#1474, #1491)
  .gitignore
  backend/src/api/auth.py
  backend/src/api/board.py
  backend/src/main.py
  backend/src/services/agents/service.py
  backend/src/services/copilot_polling/__init__.py
  backend/src/services/copilot_polling/agent_output.py
  backend/src/services/copilot_polling/completion.py
  backend/src/services/copilot_polling/helpers.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/copilot_polling/polling_loop.py
  backend/src/services/copilot_polling/recovery.py
  backend/src/services/copilot_polling/state.py
  backend/src/services/github_projects/graphql.py
  backend/src/services/github_projects/service.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_api_workflow.py
  backend/tests/unit/test_copilot_polling.py
  backend/tests/unit/test_github_projects.py
  docs/agent-pipeline.md
  frontend/src/assets/avatars/bandit.svg
  frontend/src/assets/avatars/generic.svg
  frontend/src/assets/avatars/sheriff.svg
  frontend/src/components/CowboyAvatar.tsx
  frontend/src/hooks/useAuth.test.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/pages/ProjectBoardPage.tsx
  frontend/src/services/api.ts
  specs/001-cowboy-saloon-ui/checklists/requirements.md
  specs/001-cowboy-saloon-ui/contracts/ui-only.md
  specs/001-cowboy-saloon-ui/data-model.md
  specs/001-cowboy-saloon-ui/plan.md
  specs/001-cowboy-saloon-ui/quickstart.md
  specs/001-cowboy-saloon-ui/research.md
  specs/001-cowboy-saloon-ui/spec.md
  specs/001-cowboy-saloon-ui/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.plan changes into copilot/add-green-background-color
  .github/agents/copilot-instructions.md
  specs/018-green-background/contracts/README.md
  specs/018-green-background/data-model.md
  specs/018-green-background/plan.md
  specs/018-green-background/quickstart.md
  specs/018-green-background/research.md
Due: none

Merge speckit.tasks changes into copilot/add-green-background-color
  specs/018-green-background/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-green-background-color
  frontend/src/index.css
  specs/018-green-background/tasks.md
Due: none

Merge speckit.plan changes into copilot/add-golden-background-app
  .github/agents/copilot-instructions.md
  specs/018-golden-background/contracts/README.md
  specs/018-golden-background/data-model.md
  specs/018-golden-background/plan.md
  specs/018-golden-background/quickstart.md
  specs/018-golden-background/research.md
Due: none

Merge speckit.tasks changes into copilot/add-golden-background-app
  specs/018-golden-background/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-golden-background-app
  frontend/src/index.css
  specs/018-golden-background/tasks.md
Due: none

fix: use comprehensive PR discovery for Copilot Review trigger
  backend/src/config.py
  backend/src/main.py
  backend/src/services/copilot_polling/__init__.py
  backend/src/services/copilot_polling/completion.py
  backend/src/services/copilot_polling/helpers.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_copilot_polling.py
  backend/tests/unit/test_main.py
  docker-compose.yml
Due: backend-pyright, backend-test

Merge judge changes into copilot/add-golden-background-app
  frontend/src/index.css
  specs/018-golden-background/checklists/requirements.md
  specs/018-golden-background/data-model.md
  specs/018-golden-background/plan.md
  specs/018-golden-background/quickstart.md
  specs/018-golden-background/research.md
Due: none

Merge judge changes into copilot/add-green-background-color
  specs/018-green-background/data-model.md
  specs/018-green-background/plan.md
  specs/018-green-background/quickstart.md
  specs/018-green-background/research.md
  specs/018-green-background/tasks.md
Due: none

Path conditions:
  backend-pyright: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-test: any of: ^backend/.*\.py$
