Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Backend Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff-format
        name: Format Python (ruff)
        files: ^backend/
      - id: ruff
        name: Lint Python (ruff)
        files: ^backend/
        args: [--fix]

  - repo: local
    hooks:
      - id: backend-pyright
        name: Type Check Backend (pyright)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Lint Frontend (ESLint)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: Type Check Frontend (TypeScript)
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-test
        name: Test Frontend (Vitest)
        entry: bash -c 'cd frontend && npm test'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: backend-test
        name: Test Backend (pytest)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        stages: [pre-push]  # Run tests only on push, not every commit

Merge judge changes into copilot/code-cleanup-repository
  specs/018-code-cleanup/quickstart.md
  specs/018-code-cleanup/research.md
  specs/018-code-cleanup/tasks.md
Due: none

fix: prevent agent skipping and human auto-completion (#1655)
  backend/src/services/copilot_polling/agent_output.py
  backend/src/services/copilot_polling/helpers.py
  backend/src/services/copilot_polling/pipeline.py
  backend/tests/unit/test_copilot_polling.py
Due: backend-pyright, backend-test

refactor: adopt Copilot code review recommendations (PR #1746)
  backend/src/services/copilot_polling/helpers.py
  backend/src/services/copilot_polling/polling_loop.py
  backend/src/services/github_projects/service.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_copilot_polling.py
  frontend/src/services/api.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge judge changes into copilot/update-github-issue-metadata
  backend/src/services/ai_agent.py
  backend/src/services/metadata_service.py
  frontend/src/types/index.ts
  specs/018-issue-metadata-autogen/contracts/metadata-api.yaml
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge judge changes into copilot/add-file-upload-voice-input
  backend/src/api/chat.py
  backend/src/models/chat.py
Due: backend-pyright, backend-test

Merge judge changes into copilot/code-cleanup-repository
  frontend/src/utils/formatTime.ts
Due: frontend-lint, frontend-typecheck, frontend-test

Merge linter changes into copilot/code-cleanup-repository
  backend/src/config.py
  backend/src/models/agents.py
  backend/src/services/agents/service.py
  backend/src/services/cache.py
  backend/src/services/copilot_polling/helpers.py
  backend/src/services/github_projects/service.py
Due: backend-pyright, backend-test

chore: remove Cowboy Saloon UI assets unrelated to pipeline fixes
  frontend/src/assets/avatars/bandit.svg
  frontend/src/assets/avatars/generic.svg
  frontend/src/assets/avatars/sheriff.svg
  frontend/src/components/CowboyAvatar.tsx
  specs/001-cowboy-saloon-ui/checklists/requirements.md
  specs/001-cowboy-saloon-ui/contracts/ui-only.md
  specs/001-cowboy-saloon-ui/data-model.md
  specs/001-cowboy-saloon-ui/plan.md
  specs/001-cowboy-saloon-ui/quickstart.md
  specs/001-cowboy-saloon-ui/research.md
  specs/001-cowboy-saloon-ui/spec.md
  specs/001-cowboy-saloon-ui/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

fix: resolve agent pipeline stalls, Copilot Review trigger failures, and rate-limit deadlock (#1746)
  backend/src/services/copilot_polling/agent_output.py
  backend/src/services/copilot_polling/helpers.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/copilot_polling/polling_loop.py
  backend/src/services/github_projects/service.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_copilot_polling.py
  frontend/src/services/api.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Add feature spec 018-issue-metadata-autogen (#1696)
  .github/agents/copilot-instructions.md
  backend/src/api/__init__.py
  backend/src/api/chat.py
  backend/src/api/metadata.py
  backend/src/config.py
  backend/src/migrations/011_metadata_cache.sql
  backend/src/models/recommendation.py
  backend/src/prompts/issue_generation.py
  backend/src/services/ai_agent.py
  backend/src/services/github_projects/service.py
  backend/src/services/metadata_service.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  frontend/src/components/chat/IssueRecommendationPreview.tsx
  frontend/src/hooks/useMetadata.ts
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/018-issue-metadata-autogen/checklists/requirements.md
  specs/018-issue-metadata-autogen/contracts/issue-creation-api.yaml
  specs/018-issue-metadata-autogen/contracts/metadata-api.yaml
  specs/018-issue-metadata-autogen/data-model.md
  specs/018-issue-metadata-autogen/plan.md
  specs/018-issue-metadata-autogen/quickstart.md
  specs/018-issue-metadata-autogen/research.md
  specs/018-issue-metadata-autogen/spec.md
  specs/018-issue-metadata-autogen/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Add feature specification for chat message history navigation (018-chat-history-navigation) (#1708)
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/hooks/useChatHistory.test.ts
  frontend/src/hooks/useChatHistory.ts
  specs/018-chat-history-navigation/checklists/requirements.md
  specs/018-chat-history-navigation/contracts/useChatHistory-api.md
  specs/018-chat-history-navigation/data-model.md
  specs/018-chat-history-navigation/plan.md
  specs/018-chat-history-navigation/quickstart.md
  specs/018-chat-history-navigation/research.md
  specs/018-chat-history-navigation/spec.md
  specs/018-chat-history-navigation/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

fix: reformat backend Python files to pass ruff format check (#1753)
  backend/src/api/chat.py
Due: backend-pyright, backend-test

Merge speckit.plan changes into copilot/add-purple-background-color
  .github/agents/copilot-instructions.md
  specs/019-purple-background/contracts/css-variables-contract.md
  specs/019-purple-background/data-model.md
  specs/019-purple-background/plan.md
  specs/019-purple-background/quickstart.md
  specs/019-purple-background/research.md
Due: none

Merge copilot-review changes into copilot/add-purple-background-color
  frontend/src/index.css
Due: none

refactor: codebase audit — DRY consolidation, anti-pattern fixes, rate limiting, and dependency modernization
  .github/agents/copilot-instructions.md
  backend/pyproject.toml
  backend/src/api/board.py
  backend/src/api/chat.py
  backend/src/api/projects.py
  backend/src/api/workflow.py
  backend/src/migrations/011_chat_persistence.sql
  backend/src/services/cache.py
  backend/src/services/completion_providers.py
  backend/src/services/copilot_polling/polling_loop.py
  backend/src/services/copilot_polling/state.py
  backend/src/services/github_auth.py
  backend/src/services/github_commit_workflow.py
  backend/src/services/github_projects/graphql.py
  backend/src/services/github_projects/service.py
  backend/src/services/model_fetcher.py
  backend/src/services/workflow_orchestrator/__init__.py
  backend/src/services/workflow_orchestrator/config.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/src/services/workflow_orchestrator/transitions.py
  backend/tests/unit/test_completion_providers.py
  backend/tests/unit/test_github_projects.py
  backend/tests/unit/test_workflow_orchestrator.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/constants.ts
  frontend/src/hooks/useProjectBoard.test.tsx
  frontend/src/hooks/useProjectBoard.ts
  frontend/src/hooks/useProjects.ts
  specs/018-codebase-audit-refactor/checklists/requirements.md
  specs/018-codebase-audit-refactor/contracts/api-contracts.md
  specs/018-codebase-audit-refactor/data-model.md
  specs/018-codebase-audit-refactor/plan.md
  specs/018-codebase-audit-refactor/quickstart.md
  specs/018-codebase-audit-refactor/research.md
  specs/018-codebase-audit-refactor/spec.md
  specs/018-codebase-audit-refactor/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge judge changes into copilot/add-baby-blue-background
  frontend/src/index.css
Due: none

perf: add per-poll-cycle cache to reduce redundant GitHub API calls
  backend/src/services/copilot_polling/polling_loop.py
  backend/src/services/github_projects/service.py
Due: backend-pyright, backend-test

fix: address Copilot code review findings — 9 issues resolved
  .github/agents/copilot-instructions.md
  backend/src/api/chat.py
  backend/src/migrations/012_chat_persistence.sql
  backend/src/services/copilot_polling/polling_loop.py
  backend/src/services/github_projects/service.py
  backend/src/services/model_fetcher.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  specs/018-codebase-audit-refactor/quickstart.md
  specs/018-codebase-audit-refactor/spec.md
  specs/018-codebase-audit-refactor/tasks.md
Due: backend-pyright, backend-test

refactor: codebase audit — DRY consolidation, anti-pattern fixes, rate limiting & dependency modernization (#1790)
  .github/agents/copilot-instructions.md
  backend/pyproject.toml
  backend/src/api/board.py
  backend/src/api/chat.py
  backend/src/api/projects.py
  backend/src/api/workflow.py
  backend/src/migrations/012_chat_persistence.sql
  backend/src/services/cache.py
  backend/src/services/completion_providers.py
  backend/src/services/copilot_polling/polling_loop.py
  backend/src/services/copilot_polling/state.py
  backend/src/services/github_auth.py
  backend/src/services/github_commit_workflow.py
  backend/src/services/github_projects/graphql.py
  backend/src/services/github_projects/service.py
  backend/src/services/model_fetcher.py
  backend/src/services/workflow_orchestrator/__init__.py
  backend/src/services/workflow_orchestrator/config.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/src/services/workflow_orchestrator/transitions.py
  backend/tests/unit/test_completion_providers.py
  backend/tests/unit/test_github_projects.py
  backend/tests/unit/test_workflow_orchestrator.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/constants.ts
  frontend/src/hooks/useProjectBoard.test.tsx
  frontend/src/hooks/useProjectBoard.ts
  frontend/src/hooks/useProjects.ts
  specs/018-codebase-audit-refactor/checklists/requirements.md
  specs/018-codebase-audit-refactor/contracts/api-contracts.md
  specs/018-codebase-audit-refactor/data-model.md
  specs/018-codebase-audit-refactor/plan.md
  specs/018-codebase-audit-refactor/quickstart.md
  specs/018-codebase-audit-refactor/research.md
  specs/018-codebase-audit-refactor/spec.md
  specs/018-codebase-audit-refactor/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test
