Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

backend-pyright:
  name: Type Check Backend (pyright)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
  language: system
  pass_filenames: false

frontend-lint:
  name: Lint Frontend (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Type Check Frontend (TypeScript)
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-test:
  name: Test Frontend (Vitest)
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false

backend-test:
  name: Test Backend (pytest)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix: polish pipeline and agent workflow ux
  frontend/src/components/agents/AddAgentModal.tsx
  frontend/src/components/agents/AgentInlineEditor.tsx
  frontend/src/components/board/AddAgentPopover.tsx
  frontend/src/components/board/AgentPresetSelector.tsx
  frontend/src/components/board/IssueDetailModal.tsx
  frontend/src/components/pipeline/AgentNode.tsx
  frontend/src/components/pipeline/PipelineBoard.test.tsx
  frontend/src/components/pipeline/PipelineBoard.tsx
  frontend/src/components/pipeline/PipelineFlowGraph.tsx
  frontend/src/components/pipeline/SavedWorkflowsList.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/hooks/useBoardControls.test.tsx
  frontend/src/hooks/useBoardControls.ts
  frontend/src/pages/AgentsPage.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/pages/ProjectsPage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

feat: refine pipeline and chore configuration ux
  frontend/src/components/chores/ChoreCard.tsx
  frontend/src/components/chores/ChoresPanel.tsx
  frontend/src/components/chores/PipelineSelector.tsx
  frontend/src/components/chores/__tests__/AddChoreModal.test.tsx
  frontend/src/components/chores/__tests__/ChoresPanel.test.tsx
  frontend/src/components/pipeline/PipelineToolbar.tsx
  frontend/src/layout/TopBar.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/pages/ProjectsPage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

chore: sync MCP tool 'markitdown' configuration
  .vscode/mcp.json
Due: none

fix: make projects pipeline section assignment-only
  frontend/src/components/board/AgentPresetSelector.tsx
  frontend/src/pages/ProjectsPage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.plan changes into copilot/bug-bash-code-review
  .github/agents/copilot-instructions.md
  specs/030-bug-basher/contracts/summary-table.md
  specs/030-bug-basher/data-model.md
  specs/030-bug-basher/plan.md
  specs/030-bug-basher/quickstart.md
  specs/030-bug-basher/research.md
Due: none

Merge speckit.plan changes into copilot/documentaion-sweep-specified
  .github/agents/copilot-instructions.md
  specs/030-doc-sweep/contracts/checklists.md
  specs/030-doc-sweep/contracts/ci-config.md
  specs/030-doc-sweep/contracts/pr-template.md
  specs/030-doc-sweep/data-model.md
  specs/030-doc-sweep/plan.md
  specs/030-doc-sweep/quickstart.md
  specs/030-doc-sweep/research.md
Due: none

Merge speckit.plan changes into copilot/add-confirmation-dialog-component
  .github/agents/copilot-instructions.md
  specs/030-confirmation-dialog/contracts/components.md
  specs/030-confirmation-dialog/data-model.md
  specs/030-confirmation-dialog/plan.md
  specs/030-confirmation-dialog/quickstart.md
  specs/030-confirmation-dialog/research.md
Due: none

Merge speckit.tasks changes into copilot/documentaion-sweep-specified
  specs/030-doc-sweep/tasks.md
Due: none

Merge speckit.plan changes into copilot/fix-chore-counter-parent-issues
  .github/agents/copilot-instructions.md
  specs/030-fix-chore-issue-counter/contracts/api.md
  specs/030-fix-chore-issue-counter/contracts/components.md
  specs/030-fix-chore-issue-counter/data-model.md
  specs/030-fix-chore-issue-counter/plan.md
  specs/030-fix-chore-issue-counter/quickstart.md
  specs/030-fix-chore-issue-counter/research.md
Due: none

Merge speckit.tasks changes into copilot/bug-bash-code-review
  specs/030-bug-basher/tasks.md
Due: none

Merge speckit.tasks changes into copilot/add-confirmation-dialog-component
  specs/030-confirmation-dialog/tasks.md
Due: none

Merge speckit.tasks changes into copilot/fix-chore-counter-parent-issues
  specs/030-fix-chore-issue-counter/tasks.md
Due: none

Merge speckit.plan changes into copilot/add-comprehensive-tooltips-ui
  .github/agents/copilot-instructions.md
  specs/030-ui-tooltips/contracts/components.md
  specs/030-ui-tooltips/data-model.md
  specs/030-ui-tooltips/plan.md
  specs/030-ui-tooltips/quickstart.md
  specs/030-ui-tooltips/research.md
Due: none

Merge speckit.implement changes into copilot/documentaion-sweep-specified
  specs/030-doc-sweep/tasks.md
Due: none

Merge speckit.implement changes into copilot/fix-chore-counter-parent-issues
  backend/src/services/chores/counter.py
  frontend/src/pages/ChoresPage.tsx
  specs/030-fix-chore-issue-counter/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.plan changes into copilot/implement-confirmation-flow
  .github/agents/copilot-instructions.md
  specs/001-confirmation-flow/contracts/api.md
  specs/001-confirmation-flow/contracts/components.md
  specs/001-confirmation-flow/data-model.md
  specs/001-confirmation-flow/plan.md
  specs/001-confirmation-flow/quickstart.md
  specs/001-confirmation-flow/research.md
Due: none

chore: remove MCP tool 'markitdown' configuration
  .vscode/mcp.json
Due: none

Merge speckit.plan changes into copilot/dry-logging-error-handling-modernization
  .github/agents/copilot-instructions.md
  specs/030-dry-error-handling/contracts/components.md
  specs/030-dry-error-handling/contracts/error-responses.md
  specs/030-dry-error-handling/data-model.md
  specs/030-dry-error-handling/plan.md
  specs/030-dry-error-handling/quickstart.md
  specs/030-dry-error-handling/research.md
Due: none

Merge judge changes into copilot/documentaion-sweep-specified
  specs/030-doc-sweep/contracts/ci-config.md
  specs/030-doc-sweep/data-model.md
  specs/030-doc-sweep/plan.md
  specs/030-doc-sweep/research.md
  specs/030-doc-sweep/spec.md
Due: none

Merge speckit.tasks changes into copilot/add-comprehensive-tooltips-ui
  specs/030-ui-tooltips/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-confirmation-dialog-component
  frontend/src/App.tsx
  frontend/src/components/agents/AgentCard.tsx
  frontend/src/components/agents/AgentsPanel.tsx
  frontend/src/components/agents/__tests__/AgentsPanel.test.tsx
  frontend/src/components/chores/ChoreCard.tsx
  frontend/src/components/chores/__tests__/ChoresPanel.test.tsx
  frontend/src/components/ui/confirmation-dialog.tsx
  frontend/src/hooks/useConfirmation.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/test/test-utils.tsx
  specs/030-confirmation-dialog/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.tasks changes into copilot/implement-confirmation-flow
  specs/001-confirmation-flow/tasks.md
Due: none

Merge speckit.tasks changes into copilot/dry-logging-error-handling-modernization
  specs/030-dry-error-handling/tasks.md
Due: none

Merge speckit.implement changes into copilot/bug-bash-code-review
  backend/src/api/chat.py
  backend/src/main.py
  backend/src/services/cache.py
  backend/src/services/chores/service.py
  backend/src/services/completion_providers.py
  backend/src/services/database.py
  backend/src/services/websocket.py
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_cache.py
  backend/tests/unit/test_chores_service.py
  backend/tests/unit/test_completion_providers.py
  backend/tests/unit/test_websocket.py
  frontend/src/components/pipeline/PipelineBoard.tsx
  specs/030-bug-basher/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.implement changes into copilot/implement-confirmation-flow
  frontend/src/App.tsx
  frontend/src/components/agents/AgentCard.tsx
  frontend/src/components/agents/AgentsPanel.tsx
  frontend/src/components/agents/__tests__/AgentsPanel.test.tsx
  frontend/src/components/chores/ChoreCard.tsx
  frontend/src/components/chores/__tests__/ChoresPanel.test.tsx
  frontend/src/components/ui/__tests__/confirmation-dialog.test.tsx
  frontend/src/components/ui/confirmation-dialog.tsx
  frontend/src/hooks/__tests__/useConfirmation.test.tsx
  frontend/src/hooks/useConfirmation.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/test/test-utils.tsx
  specs/001-confirmation-flow/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.plan changes into copilot/create-github-issues-with-selected-pipeline
  .github/agents/copilot-instructions.md
  specs/030-chat-pipeline-config/contracts/api.md
  specs/030-chat-pipeline-config/contracts/components.md
  specs/030-chat-pipeline-config/data-model.md
  specs/030-chat-pipeline-config/plan.md
  specs/030-chat-pipeline-config/quickstart.md
  specs/030-chat-pipeline-config/research.md
Due: none

Path conditions:
  backend-pyright: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-test: any of: ^backend/.*\.py$
