Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

backend-pyright:
  name: Type Check Backend (pyright)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
  language: system
  pass_filenames: false

frontend-lint:
  name: Lint Frontend (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Type Check Frontend (TypeScript)
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-test:
  name: Test Frontend (Vitest)
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false

backend-test:
  name: Test Backend (pytest)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix: adopt Copilot PR reviewer recommendations for PR #944
  backend/src/services/model_fetcher.py
  backend/tests/unit/test_model_fetcher.py
  frontend/src/services/api.ts
  frontend/src/test/setup.ts
  specs/012-settings-dynamic-ux/contracts/settings-api.yaml
  specs/012-settings-dynamic-ux/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.plan changes into copilot/refactor-codebase-quality
  .github/agents/copilot-instructions.md
  specs/014-codebase-quality-refactor/contracts/internal-contracts.md
  specs/014-codebase-quality-refactor/data-model.md
  specs/014-codebase-quality-refactor/plan.md
  specs/014-codebase-quality-refactor/quickstart.md
  specs/014-codebase-quality-refactor/research.md
Due: none

Merge speckit.tasks changes into copilot/refactor-codebase-quality
  specs/014-codebase-quality-refactor/tasks.md
Due: none

Merge speckit.implement changes into copilot/refactor-codebase-quality
  backend/Dockerfile
  backend/src/api/auth.py
  backend/src/config.py
  backend/src/constants.py
  backend/src/dependencies.py
  backend/src/main.py
  backend/tests/unit/test_config.py
  backend/tests/unit/test_github_projects.py
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  specs/014-codebase-quality-refactor/tasks.md
Due: backend-pyright, backend-test

spec: Settings Page — Dynamic Value Fetching, Caching, and UX Simplification (#944)
  backend/src/api/settings.py
  backend/src/models/settings.py
  backend/src/services/model_fetcher.py
  backend/tests/unit/test_model_fetcher.py
  frontend/src/components/settings/AdvancedSettings.tsx
  frontend/src/components/settings/DynamicDropdown.tsx
  frontend/src/components/settings/PrimarySettings.tsx
  frontend/src/hooks/useSettings.ts
  frontend/src/pages/SettingsPage.tsx
  frontend/src/services/api.ts
  frontend/src/test/setup.ts
  frontend/src/types/index.ts
  specs/012-settings-dynamic-ux/checklists/requirements.md
  specs/012-settings-dynamic-ux/contracts/settings-api.yaml
  specs/012-settings-dynamic-ux/data-model.md
  specs/012-settings-dynamic-ux/plan.md
  specs/012-settings-dynamic-ux/quickstart.md
  specs/012-settings-dynamic-ux/research.md
  specs/012-settings-dynamic-ux/spec.md
  specs/012-settings-dynamic-ux/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.plan changes into copilot/preserve-full-issue-descriptions
  .github/agents/copilot-instructions.md
  specs/014-preserve-issue-description/contracts/issue-creation-contract.md
  specs/014-preserve-issue-description/data-model.md
  specs/014-preserve-issue-description/plan.md
  specs/014-preserve-issue-description/quickstart.md
  specs/014-preserve-issue-description/research.md
Due: none

Merge speckit.tasks changes into copilot/preserve-full-issue-descriptions
  specs/014-preserve-issue-description/tasks.md
Due: none

Merge speckit.implement changes into copilot/preserve-full-issue-descriptions
  backend/src/api/chat.py
  backend/src/constants.py
  backend/src/models/recommendation.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_api_workflow.py
  backend/tests/unit/test_recommendation_models.py
  backend/tests/unit/test_workflow_orchestrator.py
  specs/014-preserve-issue-description/tasks.md
Due: backend-pyright, backend-test

Merge speckit.plan changes into copilot/add-human-agent-type
  .github/agents/copilot-instructions.md
  specs/014-human-agent-pipeline/contracts/human-agent-events.md
  specs/014-human-agent-pipeline/data-model.md
  specs/014-human-agent-pipeline/plan.md
  specs/014-human-agent-pipeline/quickstart.md
  specs/014-human-agent-pipeline/research.md
Due: none

Merge speckit.plan changes into copilot/create-ux-ui-review-specification
  specs/014-ux-ui-review-testing/contracts/audit-standards.md
  specs/014-ux-ui-review-testing/data-model.md
  specs/014-ux-ui-review-testing/plan.md
  specs/014-ux-ui-review-testing/quickstart.md
  specs/014-ux-ui-review-testing/research.md
Due: none

Merge speckit.plan changes into copilot/enhance-chat-commands
  specs/014-chat-hash-commands/contracts/command-registry.md
  specs/014-chat-hash-commands/data-model.md
  specs/014-chat-hash-commands/plan.md
  specs/014-chat-hash-commands/quickstart.md
  specs/014-chat-hash-commands/research.md
Due: none

Merge speckit.tasks changes into copilot/add-human-agent-type
  specs/014-human-agent-pipeline/tasks.md
Due: none

Merge speckit.tasks changes into copilot/enhance-chat-commands
  specs/014-chat-hash-commands/tasks.md
Due: none

Merge speckit.tasks changes into copilot/create-ux-ui-review-specification
  specs/014-ux-ui-review-testing/tasks.md
Due: none

Merge speckit.plan changes into copilot/attach-parent-branch-issue
  specs/014-attach-parent-branch-issue/contracts/branch-issue-link-workflow.md
  specs/014-attach-parent-branch-issue/data-model.md
  specs/014-attach-parent-branch-issue/plan.md
  specs/014-attach-parent-branch-issue/quickstart.md
  specs/014-attach-parent-branch-issue/research.md
Due: none

Merge speckit.plan changes into copilot/add-native-ios-support-iphone14pro
  .github/agents/copilot-instructions.md
  specs/014-native-ios-support/contracts/capacitor-plugins.md
  specs/014-native-ios-support/data-model.md
  specs/014-native-ios-support/plan.md
  specs/014-native-ios-support/quickstart.md
  specs/014-native-ios-support/research.md
Due: none

Merge speckit.plan changes into copilot/add-manual-auto-refresh-button
  .github/agents/copilot-instructions.md
  specs/014-board-refresh-ratelimit/contracts/board-refresh-api.md
  specs/014-board-refresh-ratelimit/data-model.md
  specs/014-board-refresh-ratelimit/plan.md
  specs/014-board-refresh-ratelimit/quickstart.md
  specs/014-board-refresh-ratelimit/research.md
Due: none

Merge speckit.implement changes into copilot/enhance-chat-commands
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/ChatPopup.tsx
  frontend/src/components/chat/CommandAutocomplete.test.tsx
  frontend/src/components/chat/CommandAutocomplete.tsx
  frontend/src/components/chat/SystemMessage.tsx
  frontend/src/hooks/useChat.test.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useCommands.test.tsx
  frontend/src/hooks/useCommands.ts
  frontend/src/lib/commands/handlers/help.test.ts
  frontend/src/lib/commands/handlers/help.ts
  frontend/src/lib/commands/handlers/settings.test.ts
  frontend/src/lib/commands/handlers/settings.ts
  frontend/src/lib/commands/registry.test.ts
  frontend/src/lib/commands/registry.ts
  frontend/src/lib/commands/types.ts
  frontend/src/test/factories/index.ts
  specs/014-chat-hash-commands/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.implement changes into copilot/add-human-agent-type
  backend/src/constants.py
  backend/src/services/agent_tracking.py
  backend/src/services/copilot_polling/helpers.py
  backend/src/services/github_projects/graphql.py
  backend/src/services/github_projects/service.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_github_projects.py
  frontend/src/components/board/AgentTile.tsx
  specs/014-human-agent-pipeline/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.implement changes into copilot/create-ux-ui-review-specification
  frontend/docs/findings-log.md
  frontend/e2e/board-navigation.spec.ts
  frontend/e2e/chat-interaction.spec.ts
  frontend/e2e/responsive-board.spec.ts
  frontend/e2e/responsive-home.spec.ts
  frontend/e2e/responsive-settings.spec.ts
  frontend/e2e/settings-flow.spec.ts
  frontend/e2e/viewports.ts
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ThemeProvider.test.tsx
  frontend/src/components/board/AddAgentPopover.tsx
  frontend/src/components/board/AgentPresetSelector.tsx
  frontend/src/components/board/AgentSaveBar.test.tsx
  frontend/src/components/board/BoardColumn.test.tsx
  frontend/src/components/board/IssueCard.test.tsx
  frontend/src/components/board/IssueDetailModal.test.tsx
  frontend/src/components/board/IssueDetailModal.tsx
  frontend/src/components/chat/ChatPopup.tsx
  frontend/src/components/chat/IssueRecommendationPreview.test.tsx
  frontend/src/components/chat/MessageBubble.test.tsx
  frontend/src/components/chat/StatusChangePreview.test.tsx
  frontend/src/components/chat/TaskPreview.test.tsx
  frontend/src/components/settings/DynamicDropdown.test.tsx
  frontend/src/components/settings/SettingsSection.test.tsx
  frontend/src/components/settings/SignalConnection.tsx
  frontend/src/components/ui/button.test.tsx
  frontend/src/components/ui/card.test.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/input.test.tsx
  frontend/src/test/a11y-helpers.ts
  frontend/src/test/setup.ts
  specs/014-ux-ui-review-testing/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.tasks changes into copilot/attach-parent-branch-issue
  specs/014-attach-parent-branch-issue/tasks.md
Due: none

Merge speckit.tasks changes into copilot/add-native-ios-support-iphone14pro
  specs/014-native-ios-support/tasks.md
Due: none

Merge speckit.tasks changes into copilot/add-manual-auto-refresh-button
  specs/014-board-refresh-ratelimit/tasks.md
Due: none

Merge speckit.implement changes into copilot/attach-parent-branch-issue
  .github/workflows/branch-issue-link.yml
  specs/014-attach-parent-branch-issue/tasks.md
Due: none

Merge speckit.plan changes into copilot/refactor-codebase-cleanup
  .github/agents/copilot-instructions.md
  specs/010-codebase-cleanup-refactor/contracts/README.md
  specs/010-codebase-cleanup-refactor/data-model.md
  specs/010-codebase-cleanup-refactor/plan.md
  specs/010-codebase-cleanup-refactor/quickstart.md
  specs/010-codebase-cleanup-refactor/research.md
Due: none

Merge speckit.implement changes into copilot/add-native-ios-support-iphone14pro
  .gitignore
  frontend/capacitor.config.ts
  frontend/index.html
  frontend/ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  frontend/ios/App/App/Info.plist
  frontend/ios/App/App/PrivacyInfo.xcprivacy
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ios/SafeAreaWrapper.tsx
  frontend/src/hooks/useIOSLifecycle.ts
  frontend/src/hooks/usePushNotifications.ts
  frontend/src/index.css
  frontend/src/services/capacitor.ts
  specs/014-native-ios-support/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.tasks changes into copilot/refactor-codebase-cleanup
  specs/010-codebase-cleanup-refactor/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-manual-auto-refresh-button
  backend/src/api/board.py
  backend/src/models/board.py
  backend/src/services/cache.py
  backend/src/services/github_projects/service.py
  frontend/src/components/board/RefreshButton.tsx
  frontend/src/constants.ts
  frontend/src/hooks/useBoardRefresh.ts
  frontend/src/hooks/useRealTimeSync.ts
  frontend/src/pages/ProjectBoardPage.tsx
  frontend/src/types/index.ts
  frontend/src/utils/formatTime.ts
  specs/014-board-refresh-ratelimit/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.implement changes into copilot/refactor-codebase-cleanup
  backend/src/api/auth.py
  backend/src/api/board.py
  backend/src/api/chat.py
  backend/src/api/projects.py
  backend/src/api/settings.py
  backend/src/api/workflow.py
  backend/src/constants.py
  backend/src/models/chat.py
  backend/src/prompts/issue_generation.py
  backend/src/services/ai_agent.py
  backend/src/services/cache.py
  backend/src/services/copilot_polling/agent_output.py
  backend/src/services/copilot_polling/helpers.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/encryption.py
  backend/src/services/model_fetcher.py
  backend/src/services/signal_chat.py
  backend/src/services/workflow_orchestrator/__init__.py
  backend/src/services/workflow_orchestrator/config.py
  backend/tests/integration/test_custom_agent_assignment.py
  backend/tests/unit/test_api_board.py
  backend/tests/unit/test_api_projects.py
  backend/tests/unit/test_config.py
  backend/tests/unit/test_prompts.py
  frontend/src/hooks/useAgentConfig.ts
  frontend/src/types/index.ts
  specs/010-codebase-cleanup-refactor/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.plan changes into copilot/add-housekeeping-issue-templates
  .github/agents/copilot-instructions.md
  specs/014-housekeeping-triggers/contracts/housekeeping-api.md
  specs/014-housekeeping-triggers/data-model.md
  specs/014-housekeeping-triggers/plan.md
  specs/014-housekeeping-triggers/quickstart.md
  specs/014-housekeeping-triggers/research.md
Due: none

Merge speckit.tasks changes into copilot/add-housekeeping-issue-templates
  specs/014-housekeeping-triggers/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-housekeeping-issue-templates
  .github/workflows/housekeeping-cron.yml
  backend/src/api/__init__.py
  backend/src/api/housekeeping.py
  backend/src/main.py
  backend/src/migrations/007_housekeeping.sql
  backend/src/models/housekeeping.py
  backend/src/services/housekeeping/__init__.py
  backend/src/services/housekeeping/counter.py
  backend/src/services/housekeeping/scheduler.py
  backend/src/services/housekeeping/seed.py
  backend/src/services/housekeeping/service.py
  frontend/src/components/housekeeping/HousekeepingTaskForm.tsx
  frontend/src/components/housekeeping/HousekeepingTaskList.tsx
  frontend/src/components/housekeeping/RunNowButton.tsx
  frontend/src/components/housekeeping/TemplateLibrary.tsx
  frontend/src/components/housekeeping/TriggerHistoryLog.tsx
  frontend/src/hooks/useHousekeeping.ts
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/014-housekeeping-triggers/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

feat: add #agent custom agent creation via chat and Signal
  .github/agents/copilot-instructions.md
  README.md
  backend/src/api/chat.py
  backend/src/migrations/007_agent_configs.sql
  backend/src/models/__init__.py
  backend/src/models/agent_creator.py
  backend/src/services/agent_creator.py
  backend/src/services/ai_agent.py
  backend/src/services/github_projects/graphql.py
  backend/src/services/github_projects/service.py
  backend/src/services/signal_chat.py
  specs/001-custom-agent-creation/checklists/requirements.md
  specs/001-custom-agent-creation/contracts/agent-creator-api.md
  specs/001-custom-agent-creation/data-model.md
  specs/001-custom-agent-creation/plan.md
  specs/001-custom-agent-creation/quickstart.md
  specs/001-custom-agent-creation/research.md
  specs/001-custom-agent-creation/spec.md
  specs/001-custom-agent-creation/tasks.md
Due: backend-pyright, backend-test

Add agent config: CIAnalyze
  .github/agents/README.md
  .github/agents/cianalyze.yml
  .github/agents/prompts/cianalyze.md
Due: none

Add agent config: Architect
  .github/agents/README.md
  .github/agents/architect.yml
  .github/agents/prompts/architect.md
Due: none

fix: address PR #1054 review — admin gate, data integrity, tests
  backend/src/models/agent_creator.py
  backend/src/services/agent_creator.py
  backend/src/services/ai_agent.py
  backend/src/services/signal_chat.py
  backend/tests/unit/test_agent_creator.py
  backend/tests/unit/test_ai_agent.py
  specs/001-custom-agent-creation/quickstart.md
Due: backend-pyright, backend-test

feat: add #agent custom agent creation via chat and Signal (#1054)
  .github/agents/copilot-instructions.md
  README.md
  backend/src/api/chat.py
  backend/src/migrations/007_agent_configs.sql
  backend/src/models/__init__.py
  backend/src/models/agent_creator.py
  backend/src/services/agent_creator.py
  backend/src/services/ai_agent.py
  backend/src/services/github_projects/graphql.py
  backend/src/services/github_projects/service.py
  backend/src/services/signal_chat.py
  backend/tests/unit/test_agent_creator.py
  backend/tests/unit/test_ai_agent.py
  specs/001-custom-agent-creation/checklists/requirements.md
  specs/001-custom-agent-creation/contracts/agent-creator-api.md
  specs/001-custom-agent-creation/data-model.md
  specs/001-custom-agent-creation/plan.md
  specs/001-custom-agent-creation/quickstart.md
  specs/001-custom-agent-creation/research.md
  specs/001-custom-agent-creation/spec.md
  specs/001-custom-agent-creation/tasks.md
Due: backend-pyright, backend-test

fix: address PR #960 AI review — backoff, lifespan safety, admin row guard, tests
  backend/src/dependencies.py
  backend/src/main.py
  backend/tests/unit/test_config.py
  backend/tests/unit/test_main.py
Due: backend-pyright, backend-test

spec: Add specification for codebase quality refactor (014-codebase-quality-refactor) (#960)
  .github/agents/copilot-instructions.md
  backend/Dockerfile
  backend/src/api/auth.py
  backend/src/config.py
  backend/src/constants.py
  backend/src/dependencies.py
  backend/src/main.py
  backend/tests/unit/test_config.py
  backend/tests/unit/test_github_projects.py
  backend/tests/unit/test_main.py
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  specs/014-codebase-quality-refactor/checklists/requirements.md
  specs/014-codebase-quality-refactor/contracts/internal-contracts.md
  specs/014-codebase-quality-refactor/data-model.md
  specs/014-codebase-quality-refactor/plan.md
  specs/014-codebase-quality-refactor/quickstart.md
  specs/014-codebase-quality-refactor/research.md
  specs/014-codebase-quality-refactor/spec.md
  specs/014-codebase-quality-refactor/tasks.md
Due: backend-pyright, backend-test

fix: adopt Copilot review recommendations for PR #970
  .github/agents/copilot-instructions.md
  backend/src/api/chat.py
  backend/src/api/workflow.py
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_api_workflow.py
  backend/tests/unit/test_recommendation_models.py
  specs/014-preserve-issue-description/checklists/requirements.md
  specs/014-preserve-issue-description/contracts/issue-creation-contract.md
  specs/014-preserve-issue-description/data-model.md
  specs/014-preserve-issue-description/plan.md
  specs/014-preserve-issue-description/quickstart.md
  specs/014-preserve-issue-description/research.md
  specs/014-preserve-issue-description/spec.md
  specs/014-preserve-issue-description/tasks.md
Due: backend-pyright, backend-test

Path conditions:
  backend-pyright: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-test: any of: ^backend/.*\.py$
