Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

backend-pyright:
  name: Type Check Backend (pyright)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
  language: system
  pass_filenames: false

frontend-lint:
  name: Lint Frontend (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Type Check Frontend (TypeScript)
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-test:
  name: Test Frontend (Vitest)
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false

backend-test:
  name: Test Backend (pytest)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Merge speckit.plan changes into copilot/add-clean-up-button-feature
  .github/agents/copilot-instructions.md
  specs/015-stale-cleanup-button/contracts/cleanup-api.md
  specs/015-stale-cleanup-button/data-model.md
  specs/015-stale-cleanup-button/plan.md
  specs/015-stale-cleanup-button/quickstart.md
  specs/015-stale-cleanup-button/research.md
Due: none

fix: adopt Copilot review recommendations for PR #1023
  backend/src/api/board.py
  backend/src/services/github_projects/service.py
  frontend/src/hooks/useBoardRefresh.test.tsx
  frontend/src/hooks/useBoardRefresh.ts
  frontend/src/hooks/useRealTimeSync.test.tsx
  specs/014-board-refresh-ratelimit/checklists/requirements.md
  specs/014-board-refresh-ratelimit/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.tasks changes into copilot/add-clean-up-button-feature
  specs/015-stale-cleanup-button/tasks.md
Due: none

style: fix ruff format violation in test_workflow_orchestrator.py
  backend/tests/unit/test_workflow_orchestrator.py
Due: backend-pyright, backend-test

spec: Preserve full GitHub Issue description without truncation (014) (#970)
  .github/agents/copilot-instructions.md
  backend/src/api/chat.py
  backend/src/api/workflow.py
  backend/src/constants.py
  backend/src/models/recommendation.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_api_workflow.py
  backend/tests/unit/test_recommendation_models.py
  backend/tests/unit/test_workflow_orchestrator.py
  specs/014-preserve-issue-description/checklists/requirements.md
  specs/014-preserve-issue-description/contracts/issue-creation-contract.md
  specs/014-preserve-issue-description/data-model.md
  specs/014-preserve-issue-description/plan.md
  specs/014-preserve-issue-description/quickstart.md
  specs/014-preserve-issue-description/research.md
  specs/014-preserve-issue-description/spec.md
  specs/014-preserve-issue-description/tasks.md
Due: backend-pyright, backend-test

fix: address remaining Copilot review findings for PR #1023
  backend/src/services/github_projects/service.py
  frontend/src/hooks/useBoardRefresh.test.tsx
  frontend/src/hooks/useBoardRefresh.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

spec: Add feature specification for project board refresh & GitHub API rate limit optimization (#1023)
  .github/agents/copilot-instructions.md
  backend/src/api/board.py
  backend/src/models/board.py
  backend/src/services/cache.py
  backend/src/services/github_projects/service.py
  frontend/src/components/board/RefreshButton.tsx
  frontend/src/constants.ts
  frontend/src/hooks/useBoardRefresh.test.tsx
  frontend/src/hooks/useBoardRefresh.ts
  frontend/src/hooks/useRealTimeSync.test.tsx
  frontend/src/hooks/useRealTimeSync.ts
  frontend/src/pages/ProjectBoardPage.tsx
  frontend/src/types/index.ts
  frontend/src/utils/formatTime.ts
  specs/014-board-refresh-ratelimit/checklists/requirements.md
  specs/014-board-refresh-ratelimit/contracts/board-refresh-api.md
  specs/014-board-refresh-ratelimit/data-model.md
  specs/014-board-refresh-ratelimit/plan.md
  specs/014-board-refresh-ratelimit/quickstart.md
  specs/014-board-refresh-ratelimit/research.md
  specs/014-board-refresh-ratelimit/spec.md
  specs/014-board-refresh-ratelimit/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: address Copilot review findings for PR #987
  frontend/e2e/chat-interaction.spec.ts
  frontend/e2e/settings-flow.spec.ts
  frontend/src/components/board/AddAgentPopover.tsx
  frontend/src/components/board/IssueDetailModal.tsx
  frontend/src/components/chat/ChatPopup.tsx
  frontend/src/components/chat/MessageBubble.test.tsx
  frontend/src/components/ui/card.tsx
  specs/014-ux-ui-review-testing/plan.md
  specs/014-ux-ui-review-testing/quickstart.md
  specs/014-ux-ui-review-testing/research.md
  specs/014-ux-ui-review-testing/spec.md
Due: frontend-lint, frontend-typecheck, frontend-test

fix: resolve CI failures - format cache.py and sync package-lock.json
  backend/src/services/cache.py
  frontend/package-lock.json
Due: backend-pyright, backend-test

fix: adopt Copilot AI review recommendations for PR #994
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/hooks/useChat.test.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/lib/commands/handlers/help.ts
  frontend/src/lib/commands/handlers/settings.test.ts
  frontend/src/lib/commands/handlers/settings.ts
  frontend/src/lib/commands/registry.test.ts
  frontend/src/lib/commands/registry.ts
  frontend/src/test/factories/index.ts
Due: frontend-lint, frontend-typecheck, frontend-test

fix: add tabIndex to listbox with aria-activedescendant (a11y lint)
  frontend/src/components/chat/CommandAutocomplete.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

spec: Chat # Commands — App-Wide Settings Control & #help Command (#994)
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/ChatPopup.tsx
  frontend/src/components/chat/CommandAutocomplete.test.tsx
  frontend/src/components/chat/CommandAutocomplete.tsx
  frontend/src/components/chat/SystemMessage.tsx
  frontend/src/hooks/useChat.test.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useCommands.test.tsx
  frontend/src/hooks/useCommands.ts
  frontend/src/lib/commands/handlers/help.test.ts
  frontend/src/lib/commands/handlers/help.ts
  frontend/src/lib/commands/handlers/settings.test.ts
  frontend/src/lib/commands/handlers/settings.ts
  frontend/src/lib/commands/registry.test.ts
  frontend/src/lib/commands/registry.ts
  frontend/src/lib/commands/types.ts
  frontend/src/test/factories/index.ts
  specs/014-chat-hash-commands/checklists/requirements.md
  specs/014-chat-hash-commands/contracts/command-registry.md
  specs/014-chat-hash-commands/data-model.md
  specs/014-chat-hash-commands/plan.md
  specs/014-chat-hash-commands/quickstart.md
  specs/014-chat-hash-commands/research.md
  specs/014-chat-hash-commands/spec.md
  specs/014-chat-hash-commands/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

fix: adopt Copilot review recommendations for branch-issue-link workflow
  .github/workflows/branch-issue-link.yml
  specs/014-attach-parent-branch-issue/contracts/branch-issue-link-workflow.md
Due: none

spec: Attach Parent Branch to GitHub Issue Upon Branch Creation (#1004)
  .github/workflows/branch-issue-link.yml
  specs/014-attach-parent-branch-issue/checklists/requirements.md
  specs/014-attach-parent-branch-issue/contracts/branch-issue-link-workflow.md
  specs/014-attach-parent-branch-issue/data-model.md
  specs/014-attach-parent-branch-issue/plan.md
  specs/014-attach-parent-branch-issue/quickstart.md
  specs/014-attach-parent-branch-issue/research.md
  specs/014-attach-parent-branch-issue/spec.md
  specs/014-attach-parent-branch-issue/tasks.md
Due: none

fix: adopt Copilot PR review recommendations for Human agent (#980)
  <MagicMock name='get_settings().database_path' id='139810626547504'>
  <MagicMock name='get_settings().database_path' id='139810627517376'>
  <MagicMock name='get_settings().database_path' id='139810645655728'>
  <MagicMock name='get_settings().database_path' id='139810651789872'>
  <MagicMock name='get_settings().database_path' id='140318976607536'>
  <MagicMock name='get_settings().database_path' id='140318998950448'>
  <MagicMock name='get_settings().database_path' id='140318999575008'>
  <MagicMock name='get_settings().database_path' id='140319003318496'>
  backend/src/services/agent_tracking.py
  backend/src/services/copilot_polling/helpers.py
  backend/src/services/github_projects/service.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_agent_tracking.py
  backend/tests/unit/test_copilot_polling.py
  backend/tests/unit/test_github_projects.py
Due: backend-pyright, backend-test

Add feature specification for 'Human' Agent Type in Agent Pipeline (014) (#980)
  .github/agents/copilot-instructions.md
  <MagicMock name='get_settings().database_path' id='139810626547504'>
  <MagicMock name='get_settings().database_path' id='139810627517376'>
  <MagicMock name='get_settings().database_path' id='139810645655728'>
  <MagicMock name='get_settings().database_path' id='139810651789872'>
  <MagicMock name='get_settings().database_path' id='140318976607536'>
  <MagicMock name='get_settings().database_path' id='140318998950448'>
  <MagicMock name='get_settings().database_path' id='140318999575008'>
  <MagicMock name='get_settings().database_path' id='140319003318496'>
  backend/src/constants.py
  backend/src/services/agent_tracking.py
  backend/src/services/copilot_polling/helpers.py
  backend/src/services/github_projects/graphql.py
  backend/src/services/github_projects/service.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_agent_tracking.py
  backend/tests/unit/test_copilot_polling.py
  backend/tests/unit/test_github_projects.py
  frontend/src/components/board/AgentTile.tsx
  specs/014-human-agent-pipeline/checklists/requirements.md
  specs/014-human-agent-pipeline/contracts/human-agent-events.md
  specs/014-human-agent-pipeline/data-model.md
  specs/014-human-agent-pipeline/plan.md
  specs/014-human-agent-pipeline/quickstart.md
  specs/014-human-agent-pipeline/research.md
  specs/014-human-agent-pipeline/spec.md
  specs/014-human-agent-pipeline/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Add 'Clean Up' button for stale branch/PR deletion with project board awareness (#1068)
  backend/src/api/__init__.py
  backend/src/api/cleanup.py
  backend/src/migrations/008_cleanup_audit_logs.sql
  backend/src/models/cleanup.py
  backend/src/services/cleanup_service.py
  frontend/src/components/board/CleanUpAuditHistory.tsx
  frontend/src/components/board/CleanUpButton.tsx
  frontend/src/components/board/CleanUpConfirmModal.tsx
  frontend/src/components/board/CleanUpSummary.tsx
  frontend/src/hooks/useCleanup.ts
  frontend/src/pages/ProjectBoardPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/015-stale-cleanup-button/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: adopt all 4 Copilot code-review recommendations from PR #1048
  backend/src/api/housekeeping.py
  backend/src/migrations/007_housekeeping.sql
  backend/src/models/housekeeping.py
  backend/src/services/housekeeping/service.py
  backend/tests/unit/test_housekeeping_service.py
Due: backend-pyright, backend-test

fix(ci): resolve pyright, eslint, and lifespan test failures
  backend/src/api/housekeeping.py
  backend/src/main.py
  frontend/src/components/housekeeping/HousekeepingTaskForm.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

spec: Housekeeping Issue Templates with Configurable Triggers (#1048)
  .github/agents/copilot-instructions.md
  .github/workflows/housekeeping-cron.yml
  backend/src/api/__init__.py
  backend/src/api/housekeeping.py
  backend/src/main.py
  backend/src/migrations/007_housekeeping.sql
  backend/src/models/housekeeping.py
  backend/src/services/housekeeping/__init__.py
  backend/src/services/housekeeping/counter.py
  backend/src/services/housekeeping/scheduler.py
  backend/src/services/housekeeping/seed.py
  backend/src/services/housekeeping/service.py
  backend/tests/unit/test_housekeeping_service.py
  frontend/src/components/housekeeping/HousekeepingTaskForm.tsx
  frontend/src/components/housekeeping/HousekeepingTaskList.tsx
  frontend/src/components/housekeeping/RunNowButton.tsx
  frontend/src/components/housekeeping/TemplateLibrary.tsx
  frontend/src/components/housekeeping/TriggerHistoryLog.tsx
  frontend/src/hooks/useHousekeeping.ts
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/014-housekeeping-triggers/checklists/requirements.md
  specs/014-housekeeping-triggers/contracts/housekeeping-api.md
  specs/014-housekeeping-triggers/data-model.md
  specs/014-housekeeping-triggers/plan.md
  specs/014-housekeeping-triggers/quickstart.md
  specs/014-housekeeping-triggers/research.md
  specs/014-housekeeping-triggers/spec.md
  specs/014-housekeeping-triggers/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Address Copilot AI review: harden cleanup safety, add tests, fix docs
  backend/src/models/cleanup.py
  backend/src/services/cleanup_service.py
  backend/tests/unit/test_cleanup_service.py
  frontend/src/components/board/CleanUpButton.tsx
  frontend/src/types/index.ts
  specs/015-stale-cleanup-button/quickstart.md
  specs/015-stale-cleanup-button/research.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Fix CI: add role="none" to modal backdrop divs for jsx-a11y compliance
  frontend/src/components/board/CleanUpAuditHistory.tsx
  frontend/src/components/board/CleanUpConfirmModal.tsx
  frontend/src/components/board/CleanUpSummary.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Fix CI: resolve merge conflict in api.ts that broke cleanupApi and housekeepingApi
  frontend/src/services/api.ts
Due: frontend-lint, frontend-typecheck, frontend-test

Add feature specification for 'Clean Up' button (015-stale-cleanup-button) (#1065)
  .github/agents/copilot-instructions.md
  backend/src/api/__init__.py
  backend/src/api/cleanup.py
  backend/src/migrations/008_cleanup_audit_logs.sql
  backend/src/models/cleanup.py
  backend/src/services/cleanup_service.py
  backend/tests/unit/test_cleanup_service.py
  frontend/src/components/board/CleanUpAuditHistory.tsx
  frontend/src/components/board/CleanUpButton.tsx
  frontend/src/components/board/CleanUpConfirmModal.tsx
  frontend/src/components/board/CleanUpSummary.tsx
  frontend/src/hooks/useCleanup.ts
  frontend/src/pages/ProjectBoardPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/015-stale-cleanup-button/checklists/requirements.md
  specs/015-stale-cleanup-button/contracts/cleanup-api.md
  specs/015-stale-cleanup-button/data-model.md
  specs/015-stale-cleanup-button/plan.md
  specs/015-stale-cleanup-button/quickstart.md
  specs/015-stale-cleanup-button/research.md
  specs/015-stale-cleanup-button/spec.md
  specs/015-stale-cleanup-button/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Add agent config: PRArchitectReviewer
  .github/agents/README.md
  .github/agents/prarchitectreviewer.yml
  .github/agents/prompts/prarchitectreviewer.md
Due: none

Merge speckit.tasks changes into copilot/repository-wide-codebase-cleanup
  specs/016-codebase-cleanup-debt/tasks.md
Due: none

Merge speckit.tasks changes into copilot/repository-wide-codebase-cleanup-again
  specs/016-repo-wide-cleanup/tasks.md
Due: none

fix: agent creator, pipeline stall, admin auth, and docs overhaul
  <MagicMock name='get_settings().database_path' id='139810626547504'>
  <MagicMock name='get_settings().database_path' id='139810627517376'>
  <MagicMock name='get_settings().database_path' id='139810645655728'>
  <MagicMock name='get_settings().database_path' id='139810651789872'>
  <MagicMock name='get_settings().database_path' id='140318976607536'>
  <MagicMock name='get_settings().database_path' id='140318998950448'>
  <MagicMock name='get_settings().database_path' id='140318999575008'>
  <MagicMock name='get_settings().database_path' id='140319003318496'>
  README.md
  backend/src/main.py
  backend/src/migrations/009_housekeeping.sql
  backend/src/services/agent_creator.py
  backend/src/services/ai_agent.py
  backend/src/services/copilot_polling/agent_output.py
  backend/src/services/copilot_polling/completion.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/github_projects/graphql.py
  backend/src/services/github_projects/service.py
  backend/tests/unit/test_agent_creator.py
  backend/tests/unit/test_housekeeping_service.py
  docs/agent-pipeline.md
  docs/api-reference.md
  docs/architecture.md
  docs/configuration.md
  docs/project-structure.md
  docs/setup.md
  docs/signal-integration.md
  docs/testing.md
  docs/troubleshooting.md
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/hooks/useChat.test.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useCommands.test.tsx
  frontend/src/hooks/useCommands.ts
  frontend/src/lib/commands/handlers/agent.ts
  frontend/src/lib/commands/registry.test.ts
  frontend/src/lib/commands/registry.ts
  frontend/src/lib/commands/types.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: adopt Copilot AI review recommendations from PR #1106
  backend/src/services/agent_creator.py
  backend/src/services/ai_agent.py
  backend/tests/unit/test_agent_creator.py
  docs/testing.md
Due: backend-pyright, backend-test

fix: Agent creator, pipeline stall, admin auth, and docs overhaul (#1106)
  <MagicMock name='get_settings().database_path' id='139810626547504'>
  <MagicMock name='get_settings().database_path' id='139810627517376'>
  <MagicMock name='get_settings().database_path' id='139810645655728'>
  <MagicMock name='get_settings().database_path' id='139810651789872'>
  <MagicMock name='get_settings().database_path' id='140318976607536'>
  <MagicMock name='get_settings().database_path' id='140318998950448'>
  <MagicMock name='get_settings().database_path' id='140318999575008'>
  <MagicMock name='get_settings().database_path' id='140319003318496'>
  README.md
  backend/src/main.py
  backend/src/migrations/009_housekeeping.sql
  backend/src/services/agent_creator.py
  backend/src/services/ai_agent.py
  backend/src/services/copilot_polling/agent_output.py
  backend/src/services/copilot_polling/completion.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/github_projects/graphql.py
  backend/src/services/github_projects/service.py
  backend/tests/unit/test_agent_creator.py
  backend/tests/unit/test_housekeeping_service.py
  docs/agent-pipeline.md
  docs/api-reference.md
  docs/architecture.md
  docs/configuration.md
  docs/project-structure.md
  docs/setup.md
  docs/signal-integration.md
  docs/testing.md
  docs/troubleshooting.md
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/hooks/useChat.test.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useCommands.test.tsx
  frontend/src/hooks/useCommands.ts
  frontend/src/lib/commands/handlers/agent.ts
  frontend/src/lib/commands/registry.test.ts
  frontend/src/lib/commands/registry.ts
  frontend/src/lib/commands/types.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Add agent config: architect
  .github/agents/architect.agent.md
  .github/prompts/architect.prompt.md
Due: none

Path conditions:
  backend-pyright: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-test: any of: ^backend/.*\.py$
