Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

backend-pyright:
  name: Type Check Backend (pyright)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
  language: system
  pass_filenames: false

frontend-lint:
  name: Lint Frontend (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Type Check Frontend (TypeScript)
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-test:
  name: Test Frontend (Vitest)
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false

backend-test:
  name: Test Backend (pytest)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Merge speckit.plan changes into copilot/display-models-in-agent-pipeline
  .github/agents/copilot-instructions.md
  specs/030-pipeline-model-display/contracts/tracking-table.md
  specs/030-pipeline-model-display/data-model.md
  specs/030-pipeline-model-display/plan.md
  specs/030-pipeline-model-display/quickstart.md
  specs/030-pipeline-model-display/research.md
Due: none

Merge speckit.tasks changes into copilot/create-github-issues-with-selected-pipeline
  specs/030-chat-pipeline-config/tasks.md
Due: none

Merge speckit.plan changes into copilot/add-blocking-feature-toggle
  .github/agents/copilot-instructions.md
  specs/030-blocking-queue/contracts/api.md
  specs/030-blocking-queue/contracts/components.md
  specs/030-blocking-queue/data-model.md
  specs/030-blocking-queue/plan.md
  specs/030-blocking-queue/quickstart.md
  specs/030-blocking-queue/research.md
Due: none

Merge judge changes into copilot/implement-confirmation-flow
  frontend/src/hooks/__tests__/useConfirmation.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

feat: expand MCP tools page for GitHub agent config
  backend/src/api/tools.py
  backend/src/models/tools.py
  backend/src/services/tools/presets.py
  backend/src/services/tools/service.py
  backend/tests/conftest.py
  backend/tests/unit/test_api_tools.py
  backend/tests/unit/test_tools_service.py
  frontend/src/App.tsx
  frontend/src/components/tools/GitHubToolsetSelector.tsx
  frontend/src/components/tools/McpPresetsGallery.tsx
  frontend/src/components/tools/RepoConfigPanel.tsx
  frontend/src/components/tools/ToolsEnhancements.test.tsx
  frontend/src/components/tools/ToolsPanel.tsx
  frontend/src/components/tools/UploadMcpModal.tsx
  frontend/src/hooks/useMcpPresets.ts
  frontend/src/hooks/useRepoMcpConfig.ts
  frontend/src/hooks/useTools.ts
  frontend/src/pages/ToolsPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  frontend/vite.config.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.tasks changes into copilot/add-blocking-feature-toggle
  specs/030-blocking-queue/tasks.md
Due: none

Merge judge changes into copilot/bug-bash-code-review
  backend/src/services/chores/service.py
  backend/tests/unit/test_chores_service.py
Due: backend-pyright, backend-test

Merge speckit.implement changes into copilot/add-comprehensive-tooltips-ui
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/agents/AddAgentModal.tsx
  frontend/src/components/agents/AgentCard.tsx
  frontend/src/components/agents/AgentsPanel.tsx
  frontend/src/components/agents/__tests__/AgentsPanel.test.tsx
  frontend/src/components/board/BoardToolbar.tsx
  frontend/src/components/board/CleanUpButton.tsx
  frontend/src/components/board/RefreshButton.tsx
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/ChatToolbar.tsx
  frontend/src/components/chores/ChoreCard.tsx
  frontend/src/components/chores/__tests__/ChoresPanel.test.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/components/tools/ToolCard.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/constants/tooltip-content.ts
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/test/test-utils.tsx
  specs/030-ui-tooltips/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.tasks changes into copilot/display-models-in-agent-pipeline
  specs/030-pipeline-model-display/tasks.md
Due: none

Merge linter changes into copilot/add-confirmation-dialog-component
  specs/030-confirmation-dialog/contracts/components.md
  specs/030-confirmation-dialog/data-model.md
  specs/030-confirmation-dialog/quickstart.md
  specs/030-confirmation-dialog/research.md
Due: none

Merge linter changes into copilot/implement-confirmation-flow
  specs/001-confirmation-flow/contracts/api.md
  specs/001-confirmation-flow/contracts/components.md
Due: none

Merge judge changes into copilot/add-comprehensive-tooltips-ui
  frontend/src/components/agents/AgentCard.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/components/tools/ToolCard.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.implement changes into copilot/dry-logging-error-handling-modernization
  backend/src/api/agents.py
  backend/src/api/auth.py
  backend/src/api/board.py
  backend/src/api/chores.py
  backend/src/api/cleanup.py
  backend/src/api/pipelines.py
  backend/src/api/settings.py
  backend/src/api/signal.py
  backend/src/api/tools.py
  backend/src/api/webhooks.py
  backend/src/api/workflow.py
  backend/src/dependencies.py
  backend/src/main.py
Due: backend-pyright, backend-test

Merge speckit.plan changes into copilot/fix-screen-scrolling-issue
  .github/agents/copilot-instructions.md
  specs/030-fix-scroll-stuck/contracts/components.md
  specs/030-fix-scroll-stuck/data-model.md
  specs/030-fix-scroll-stuck/plan.md
  specs/030-fix-scroll-stuck/quickstart.md
  specs/030-fix-scroll-stuck/research.md
Due: none

Merge speckit.plan changes into copilot/create-github-issues-with-selected-pipeline
  backend/src/api/chat.py
  backend/src/models/recommendation.py
  backend/src/services/workflow_orchestrator/config.py
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/PipelineWarningBanner.tsx
  frontend/src/components/chat/TaskPreview.tsx
  frontend/src/hooks/useSelectedPipeline.ts
  frontend/src/types/index.ts
  specs/030-chat-pipeline-config/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.plan changes into copilot/add-blocking-feature-toggle
  backend/src/api/chat.py
  backend/src/migrations/017_blocking_queue.sql
  backend/src/models/blocking.py
  backend/src/models/chores.py
  backend/src/models/pipeline.py
  backend/src/services/blocking_queue.py
  backend/src/services/blocking_queue_store.py
  backend/src/services/chores/service.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/copilot_polling/polling_loop.py
  backend/src/services/pipelines/service.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_blocking_queue.py
  backend/tests/unit/test_chat_block.py
  frontend/src/components/board/IssueCard.tsx
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chores/ChoreCard.tsx
  frontend/src/components/pipeline/SavedWorkflowsList.tsx
  frontend/src/hooks/usePipelineConfig.ts
  frontend/src/types/index.ts
  specs/030-blocking-queue/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge linter changes into copilot/bug-bash-code-review
  backend/tests/unit/test_chores_service.py
Due: backend-pyright, backend-test

Merge speckit.implement changes into copilot/create-github-issues-with-selected-pipeline
  backend/src/services/workflow_orchestrator/config.py
Due: backend-pyright, backend-test

Merge speckit.plan changes into copilot/add-agent-pipeline-mention-support
  .github/agents/copilot-instructions.md
  specs/030-at-mention-pipeline/contracts/api.md
  specs/030-at-mention-pipeline/contracts/components.md
  specs/030-at-mention-pipeline/data-model.md
  specs/030-at-mention-pipeline/plan.md
  specs/030-at-mention-pipeline/quickstart.md
  specs/030-at-mention-pipeline/research.md
Due: none

Merge speckit.tasks changes into copilot/fix-screen-scrolling-issue
  specs/030-fix-scroll-stuck/tasks.md
Due: none

Merge linter changes into copilot/add-comprehensive-tooltips-ui
  specs/030-ui-tooltips/contracts/components.md
  specs/030-ui-tooltips/data-model.md
  specs/030-ui-tooltips/quickstart.md
  specs/030-ui-tooltips/research.md
Due: none

Merge judge changes into copilot/dry-logging-error-handling-modernization
  backend/src/api/agents.py
  backend/src/api/board.py
  backend/src/api/chores.py
  backend/src/api/pipelines.py
  backend/src/api/settings.py
  backend/src/api/signal.py
  backend/src/api/tools.py
  backend/src/api/webhooks.py
  backend/src/exceptions.py
  specs/030-dry-error-handling/spec.md
Due: backend-pyright, backend-test

Merge speckit.tasks changes into copilot/add-agent-pipeline-mention-support
  specs/030-at-mention-pipeline/tasks.md
Due: none

Merge speckit.implement changes into copilot/fix-screen-scrolling-issue
  frontend/src/components/agents/AgentIconPickerModal.tsx
  frontend/src/components/board/AddAgentPopover.tsx
  frontend/src/components/board/CleanUpAuditHistory.tsx
  frontend/src/components/board/CleanUpConfirmModal.tsx
  frontend/src/components/board/CleanUpSummary.tsx
  frontend/src/components/board/IssueDetailModal.tsx
  frontend/src/components/pipeline/ModelSelector.tsx
  frontend/src/components/pipeline/PipelineToolbar.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/hooks/useScrollLock.test.ts
  frontend/src/hooks/useScrollLock.ts
  frontend/src/layout/NotificationBell.tsx
  specs/030-fix-scroll-stuck/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge judge changes into copilot/create-github-issues-with-selected-pipeline
  specs/030-chat-pipeline-config/plan.md
Due: none

Merge speckit.implement changes into copilot/add-blocking-feature-toggle
  backend/src/api/board.py
  backend/src/services/blocking_queue.py
  backend/src/services/blocking_queue_store.py
  backend/tests/integration/test_blocking_chore_trigger.py
  backend/tests/integration/test_blocking_pipeline.py
  backend/tests/unit/test_blocking_queue.py
  frontend/src/components/board/BlockingChainPanel.tsx
  frontend/src/hooks/useBlockingQueue.ts
  frontend/src/hooks/useRealTimeSync.ts
  frontend/src/pages/ProjectsPage.tsx
  frontend/src/services/api.ts
  specs/030-blocking-queue/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.implement changes into copilot/display-models-in-agent-pipeline
  backend/src/services/agent_tracking.py
  backend/tests/unit/test_agent_tracking.py
  specs/030-pipeline-model-display/tasks.md
Due: backend-pyright, backend-test

Merge linter changes into copilot/create-github-issues-with-selected-pipeline
  specs/030-chat-pipeline-config/contracts/api.md
  specs/030-chat-pipeline-config/data-model.md
  specs/030-chat-pipeline-config/quickstart.md
  specs/030-chat-pipeline-config/research.md
  specs/030-chat-pipeline-config/tasks.md
Due: none

Merge judge changes into copilot/fix-screen-scrolling-issue
  specs/030-fix-scroll-stuck/plan.md
  specs/030-fix-scroll-stuck/quickstart.md
Due: none

Merge judge changes into copilot/add-blocking-feature-toggle
  backend/src/api/chat.py
  backend/src/services/blocking_queue.py
  backend/tests/unit/test_blocking_queue.py
  backend/tests/unit/test_chat_block.py
Due: backend-pyright, backend-test

Merge speckit.implement changes into copilot/add-agent-pipeline-mention-support
  backend/src/api/chat.py
  backend/src/models/chat.py
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/MentionAutocomplete.tsx
  frontend/src/components/chat/MentionInput.tsx
  frontend/src/components/chat/MentionToken.tsx
  frontend/src/components/chat/PipelineIndicator.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useMentionAutocomplete.ts
  frontend/src/types/index.ts
  specs/030-at-mention-pipeline/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge judge changes into copilot/display-models-in-agent-pipeline
  specs/030-pipeline-model-display/contracts/tracking-table.md
  specs/030-pipeline-model-display/plan.md
  specs/030-pipeline-model-display/quickstart.md
  specs/030-pipeline-model-display/research.md
Due: none

Path conditions:
  backend-pyright: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-test: any of: ^backend/.*\.py$
