Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

backend-pyright:
  name: Type Check Backend (pyright)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
  language: system
  pass_filenames: false

frontend-lint:
  name: Lint Frontend (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Type Check Frontend (TypeScript)
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-test:
  name: Test Frontend (Vitest)
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false

backend-test:
  name: Test Backend (pytest)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Merge archivist changes into copilot/speckit-fix-chat-microphone-support
  README.md
  docs/architecture.md
  docs/project-structure.md
  docs/troubleshooting.md
Due: none

Merge archivist changes into copilot/speckit-specify-add-mcps
  docs/architecture.md
  docs/custom-agents-best-practices.md
  docs/project-structure.md
Due: none

Merge linter changes into copilot/speckit-fix-chat-microphone-support
  backend/src/middleware/csp.py
  backend/src/services/chat_store.py
  backend/src/services/pipeline_state_store.py
  backend/src/services/workflow_orchestrator/transitions.py
  backend/tests/integration/test_pipeline_lifecycle.py
  tasks.md
Due: backend-pyright, backend-test

Merge linter changes into copilot/speckit-specify-add-mcps
  backend/src/main.py
  backend/src/middleware/csp.py
  backend/src/services/agents/agent_mcp_sync.py
  backend/src/services/agents/service.py
  backend/src/services/chat_store.py
  backend/src/services/pipeline_state_store.py
  backend/src/services/tools/service.py
  backend/src/services/workflow_orchestrator/transitions.py
  backend/tests/integration/test_pipeline_lifecycle.py
  backend/tests/unit/test_agent_mcp_sync.py
Due: backend-pyright, backend-test

speckit.specify: Feature spec for fixing chat mic voice input browser detection (036-fix-voice-input) (#3467)
  README.md
  backend/src/services/pipeline_state_store.py
  docs/architecture.md
  docs/project-structure.md
  docs/troubleshooting.md
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/ChatToolbar.tsx
  frontend/src/components/chat/VoiceInputButton.test.tsx
  frontend/src/components/chat/VoiceInputButton.tsx
  frontend/src/hooks/useVoiceInput.test.ts
  frontend/src/index.css
  specs/036-fix-voice-input/checklists/requirements.md
  specs/036-fix-voice-input/contracts/voice-input-button.md
  specs/036-fix-voice-input/contracts/voice-input-hook.md
  specs/036-fix-voice-input/data-model.md
  specs/036-fix-voice-input/plan.md
  specs/036-fix-voice-input/quickstart.md
  specs/036-fix-voice-input/research.md
  specs/036-fix-voice-input/spec.md
  specs/036-fix-voice-input/tasks.md
  tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

spec: Add specification for Agents page audit (035-audit-agents-page) (#3437)
  frontend/src/components/agents/AddAgentModal.tsx
  frontend/src/components/agents/AgentCard.tsx
  frontend/src/components/agents/AgentIconCatalog.tsx
  frontend/src/components/agents/AgentIconPickerModal.tsx
  frontend/src/components/agents/AgentInlineEditor.tsx
  frontend/src/components/agents/AgentsPanel.tsx
  frontend/src/components/agents/BulkModelUpdateDialog.tsx
  frontend/src/components/agents/ToolsEditor.tsx
  frontend/src/components/board/AddAgentPopover.tsx
  frontend/src/components/board/AgentColumnCell.tsx
  frontend/src/components/board/AgentConfigRow.tsx
  frontend/src/components/board/AgentDragOverlay.tsx
  frontend/src/components/board/AgentPresetSelector.tsx
  frontend/src/components/board/AgentSaveBar.test.tsx
  frontend/src/components/board/AgentSaveBar.tsx
  frontend/src/components/board/AgentTile.test.tsx
  frontend/src/components/board/AgentTile.tsx
  frontend/src/index.css
  frontend/src/pages/AgentsPage.tsx
  specs/035-audit-agents-page/analysis-report.md
  specs/035-audit-agents-page/checklists/requirements.md
  specs/035-audit-agents-page/contracts/component-contracts.yaml
  specs/035-audit-agents-page/data-model.md
  specs/035-audit-agents-page/plan.md
  specs/035-audit-agents-page/quickstart.md
  specs/035-audit-agents-page/research.md
  specs/035-audit-agents-page/spec.md
  specs/035-audit-agents-page/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Copilot/speckit specify plan overhaul (#3531)
  tasks.md
Due: none

Merge designer changes into copilot/speckit-specify-remove-blocking-feature
  backend/src/api/board.py
  backend/src/api/chat.py
  backend/src/api/pipelines.py
  backend/src/constants.py
  backend/src/models/blocking.py
  backend/src/models/chores.py
  backend/src/models/pipeline.py
  backend/src/models/recommendation.py
  backend/src/services/blocking_queue.py
  backend/src/services/blocking_queue_store.py
  backend/src/services/chores/service.py
  backend/src/services/pipelines/service.py
  backend/tests/integration/test_blocking_chore_trigger.py
  backend/tests/integration/test_blocking_pipeline.py
  backend/tests/unit/test_blocking_queue.py
  frontend/src/components/board/BlockingChainPanel.tsx
  frontend/src/components/board/BlockingIssuePill.test.tsx
  frontend/src/components/board/BlockingIssuePill.tsx
  frontend/src/components/board/BoardColumn.tsx
  frontend/src/components/board/IssueCard.test.tsx
  frontend/src/components/board/IssueCard.tsx
  frontend/src/components/board/ProjectBoard.tsx
  frontend/src/components/chores/ChoreCard.tsx
  frontend/src/components/chores/ChoreInlineEditor.tsx
  frontend/src/components/chores/__tests__/ChoresPanel.test.tsx
  frontend/src/components/pipeline/PipelineBoard.test.tsx
  frontend/src/components/pipeline/PipelineBoard.tsx
  frontend/src/components/pipeline/SavedWorkflowsList.tsx
  frontend/src/hooks/useBlockingQueue.ts
  frontend/src/hooks/usePipelineBoardMutations.ts
  frontend/src/hooks/usePipelineConfig.ts
  frontend/src/hooks/usePipelineReducer.ts
  frontend/src/hooks/useRealTimeSync.ts
  frontend/src/pages/AgentsPipelinePage.test.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/pages/ProjectsPage.test.tsx
  frontend/src/pages/ProjectsPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.plan changes into copilot/speckit-specify-remove-blocking-feature
  .github/agents/copilot-instructions.md
  specs/035-remove-blocking-feature/contracts/blocking-queue-removal.md
  specs/035-remove-blocking-feature/contracts/model-field-removal.md
  specs/035-remove-blocking-feature/data-model.md
  specs/035-remove-blocking-feature/plan.md
  specs/035-remove-blocking-feature/quickstart.md
  specs/035-remove-blocking-feature/research.md
Due: none

Merge speckit.tasks changes into copilot/speckit-specify-remove-blocking-feature
  specs/035-remove-blocking-feature/tasks.md
Due: none

Merge speckit.implement changes into copilot/speckit-specify-remove-blocking-feature
  backend/src/api/chat.py
  backend/src/api/workflow.py
  backend/src/migrations/021_remove_blocking.sql
  backend/src/services/ai_agent.py
  backend/src/services/chores/service.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/copilot_polling/polling_loop.py
  backend/src/services/copilot_polling/recovery.py
  backend/src/services/signal_chat.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_api_board.py
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_api_pipelines.py
  backend/tests/unit/test_chat_block.py
  backend/tests/unit/test_copilot_polling.py
  frontend/src/components/board/ProjectIssueLaunchPanel.test.tsx
  frontend/src/components/pipeline/SavedWorkflowsList.test.tsx
  frontend/src/pages/ProjectsPage.test.tsx
  specs/035-remove-blocking-feature/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge judge changes into copilot/speckit-specify-remove-blocking-feature
  backend/src/api/board.py
  backend/tests/unit/test_label_constants.py
  backend/tests/unit/test_label_fast_path.py
  backend/tests/unit/test_label_validation.py
  backend/tests/unit/test_label_write_path.py
Due: backend-pyright, backend-test

Merge quality-assurance changes into copilot/speckit-specify-remove-blocking-feature
  backend/src/services/pipeline_state_store.py
  backend/tests/unit/test_api_workflow.py
  backend/tests/unit/test_label_write_path.py
  backend/tests/unit/test_workflow_orchestrator.py
  frontend/src/components/chat/ChatInterface.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge tester changes into copilot/speckit-specify-remove-blocking-feature
  backend/tests/unit/test_blocking_removal.py
  backend/tests/unit/test_pipeline_state_store.py
Due: backend-pyright, backend-test

Merge archivist changes into copilot/speckit-specify-remove-blocking-feature
  docs/agent-pipeline.md
  docs/api-reference.md
  docs/configuration.md
Due: none

Merge speckit.plan changes into copilot/speckitspecify-bug-review-and-fix
  .github/agents/copilot-instructions.md
  specs/037-bug-basher/contracts/bug-report-schema.yaml
  specs/037-bug-basher/data-model.md
  specs/037-bug-basher/plan.md
  specs/037-bug-basher/quickstart.md
  specs/037-bug-basher/research.md
Due: none

Merge speckit.plan changes into copilot/speckit-specify-audit-light-dark-theme
  .github/agents/copilot-instructions.md
  specs/037-theme-contrast-audit/contracts/audit-checklist.md
  specs/037-theme-contrast-audit/contracts/token-registry.md
  specs/037-theme-contrast-audit/data-model.md
  specs/037-theme-contrast-audit/plan.md
  specs/037-theme-contrast-audit/quickstart.md
  specs/037-theme-contrast-audit/research.md
Due: none

Merge speckit.tasks changes into copilot/speckitspecify-bug-review-and-fix
  specs/037-bug-basher/tasks.md
Due: none

Merge speckit.plan changes into copilot/speckitspecify-attach-user-chat-attachments
  .github/agents/copilot-instructions.md
  specs/037-chat-attachment-github-issue/contracts/chat-attachment-api.yaml
  specs/037-chat-attachment-github-issue/data-model.md
  specs/037-chat-attachment-github-issue/plan.md
  specs/037-chat-attachment-github-issue/quickstart.md
  specs/037-chat-attachment-github-issue/research.md
Due: none

Merge speckit.tasks changes into copilot/speckit-specify-audit-light-dark-theme
  specs/037-theme-contrast-audit/tasks.md
Due: none

Merge speckit.tasks changes into copilot/speckitspecify-attach-user-chat-attachments
  specs/037-chat-attachment-github-issue/tasks.md
Due: none

Merge speckit.implement changes into copilot/speckitspecify-bug-review-and-fix
  backend/src/services/database.py
  backend/tests/unit/test_database.py
  frontend/src/hooks/useFileUpload.test.ts
  frontend/src/hooks/useFileUpload.ts
  frontend/src/hooks/usePipelineReducer.test.ts
  frontend/src/hooks/usePipelineReducer.ts
  frontend/src/services/api.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.implement changes into copilot/speckitspecify-attach-user-chat-attachments
  backend/src/api/chat.py
  backend/src/attachment_formatter.py
  backend/src/migrations/022_chat_file_urls.sql
  backend/src/models/recommendation.py
  backend/src/services/chat_store.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_attachment_formatter.py
  backend/tests/unit/test_recommendation_models.py
  specs/037-chat-attachment-github-issue/tasks.md
Due: backend-pyright, backend-test

Merge speckit.implement changes into copilot/speckit-specify-audit-light-dark-theme
  frontend/package.json
  frontend/scripts/audit-theme-colors.mjs
  frontend/scripts/check-theme-contrast.mjs
  frontend/src/components/board/IssueCard.tsx
  frontend/src/components/chat/ChatToolbar.tsx
  frontend/src/components/pipeline/AgentNode.tsx
  frontend/src/components/pipeline/ModelSelector.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/components/settings/DynamicDropdown.tsx
  frontend/src/index.css
  frontend/src/layout/NotificationBell.tsx
  frontend/src/layout/RateLimitBar.tsx
  frontend/src/layout/Sidebar.tsx
  frontend/src/lib/themeAudit.test.ts
  frontend/src/lib/themeAudit.ts
  specs/037-theme-contrast-audit/contracts/token-registry.md
  specs/037-theme-contrast-audit/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Path conditions:
  backend-pyright: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-test: any of: ^backend/.*\.py$
