Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Backend Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff-format
        name: Format Python (ruff)
        files: ^backend/
      - id: ruff
        name: Lint Python (ruff)
        files: ^backend/
        args: [--fix]

  - repo: local
    hooks:
      - id: backend-pyright
        name: Type Check Backend (pyright)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Lint Frontend (ESLint)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: Type Check Frontend (TypeScript)
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-test
        name: Test Frontend (Vitest)
        entry: bash -c 'cd frontend && npm test'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: backend-test
        name: Test Backend (pytest)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        stages: [pre-push]  # Run tests only on push, not every commit

Merge archivist changes into copilot/frontend-style-audit-animations
  docs/architecture.md
  docs/project-structure.md
  frontend/docs/findings-log.md
Due: none

Fix celestial theme polish regressions
  frontend/src/components/board/AgentTile.tsx
  frontend/src/components/chores/ChoreChatFlow.tsx
  frontend/src/components/chores/ChoreInlineEditor.tsx
  frontend/src/components/chores/ChoreScheduleConfig.tsx
  frontend/src/components/common/ProjectSelectionEmptyState.tsx
  frontend/src/components/settings/AIPreferences.tsx
  frontend/src/components/settings/DisplayPreferences.tsx
  frontend/src/components/settings/DynamicDropdown.tsx
  frontend/src/components/settings/GlobalSettings.tsx
  frontend/src/components/settings/McpSettings.tsx
  frontend/src/components/settings/NotificationPreferences.tsx
  frontend/src/components/settings/PrimarySettings.tsx
  frontend/src/components/settings/ProjectSettings.tsx
  frontend/src/components/settings/WorkflowDefaults.tsx
  frontend/src/index.css
  frontend/src/layout/AuthGate.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Apply judged fixes for profile page PR
  .github/agents/copilot-instructions.md
  backend/src/api/profile.py
  backend/src/migrations/019_user_profiles.sql
  backend/src/services/profile_store.py
  backend/tests/unit/test_api_profile.py
  backend/tests/unit/test_profile_store.py
  frontend/src/components/profile/ProfileHeader.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/types/index.ts
  specs/031-profile-page/contracts/components.md
  specs/031-profile-page/quickstart.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Apply judged fixes for responsive audit PR
  docs/responsive-design.md
  docs/testing.md
  frontend/e2e/responsive-navigation.spec.ts
  frontend/e2e/responsive-touch-targets.spec.ts
  frontend/e2e/responsive-typography.spec.ts
  frontend/e2e/viewports.ts
  frontend/src/hooks/useSidebarState.test.ts
  frontend/src/hooks/useSidebarState.ts
  frontend/src/layout/Sidebar.tsx
  frontend/src/layout/TopBar.test.tsx
  frontend/src/layout/TopBar.tsx
  specs/031-frontend-responsive-audit/contracts/components.md
  specs/031-frontend-responsive-audit/quickstart.md
  specs/031-frontend-responsive-audit/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Align chat helper text spec breakpoints
  specs/031-chat-helper-text/contracts/components.md
  specs/031-chat-helper-text/data-model.md
  specs/031-chat-helper-text/quickstart.md
  specs/031-chat-helper-text/research.md
  specs/031-chat-helper-text/spec.md
  specs/031-chat-helper-text/tasks.md
Due: none

speckit.specify: Add spec for chat helper text UX update (031-chat-helper-text) (#2592)
  .github/agents/copilot-instructions.md
  frontend/src/components/agents/AgentChatFlow.tsx
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/MentionInput.test.tsx
  frontend/src/components/chat/MentionInput.tsx
  frontend/src/components/chores/ChoreChatFlow.tsx
  frontend/src/constants/chat-placeholders.ts
  frontend/src/hooks/useCyclingPlaceholder.test.ts
  frontend/src/hooks/useCyclingPlaceholder.ts
  frontend/src/index.css
  specs/031-chat-helper-text/checklists/requirements.md
  specs/031-chat-helper-text/contracts/components.md
  specs/031-chat-helper-text/data-model.md
  specs/031-chat-helper-text/plan.md
  specs/031-chat-helper-text/quickstart.md
  specs/031-chat-helper-text/research.md
  specs/031-chat-helper-text/spec.md
  specs/031-chat-helper-text/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

review: adopt justified PR feedback
  frontend/src/components/chat/ChatPopup.tsx
  frontend/src/components/chat/MessageBubble.tsx
  specs/031-celestial-theme-animations/checklists/requirements.md
  specs/031-celestial-theme-animations/spec.md
Due: frontend-lint, frontend-typecheck, frontend-test

Fix MentionInput parser regression
  frontend/src/components/chat/MentionInput.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.plan changes into copilot/speckit-sweep-documentation
  .github/agents/copilot-instructions.md
  specs/032-doc-sweep/contracts/checklists.md
  specs/032-doc-sweep/contracts/ci-config.md
  specs/032-doc-sweep/contracts/pr-template.md
  specs/032-doc-sweep/data-model.md
  specs/032-doc-sweep/plan.md
  specs/032-doc-sweep/quickstart.md
  specs/032-doc-sweep/research.md
Due: none

Merge speckit.plan changes into copilot/create-performance-review-specification-again
  .github/agents/copilot-instructions.md
  specs/032-performance-review/contracts/cache-contract.md
  specs/032-performance-review/contracts/refresh-contract.md
  specs/032-performance-review/data-model.md
  specs/032-performance-review/plan.md
  specs/032-performance-review/quickstart.md
  specs/032-performance-review/research.md
Due: none

Merge speckit.plan changes into copilot/write-performance-review-specification
  .github/agents/copilot-instructions.md
  specs/032-performance-review/contracts/internal-contracts.md
  specs/032-performance-review/data-model.md
  specs/032-performance-review/plan.md
  specs/032-performance-review/quickstart.md
  specs/032-performance-review/research.md
Due: none

Merge designer changes into copilot/add-help-documentation-resource
  README.md
  docs/help.md
  frontend/src/App.tsx
  frontend/src/constants.ts
  frontend/src/pages/HelpPage.test.tsx
  frontend/src/pages/HelpPage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.tasks changes into copilot/speckit-sweep-documentation
  specs/032-doc-sweep/tasks.md
Due: none

Merge speckit.tasks changes into copilot/create-performance-review-specification-again
  specs/032-performance-review/tasks.md
Due: none

Merge speckit.implement changes into copilot/speckit-sweep-documentation
  docs/OWNERS.md
  docs/checklists/monthly-review.md
  specs/032-doc-sweep/tasks.md
Due: none

Merge speckit.tasks changes into copilot/write-performance-review-specification
  specs/032-performance-review/tasks.md
Due: none

Merge speckit.plan changes into copilot/add-help-documentation-resource
  .github/agents/copilot-instructions.md
  specs/032-help-docs/contracts/components.md
  specs/032-help-docs/data-model.md
  specs/032-help-docs/plan.md
  specs/032-help-docs/quickstart.md
  specs/032-help-docs/research.md
Due: none

Merge judge changes into copilot/speckit-sweep-documentation
  .github/agents/copilot-instructions.md
  specs/032-doc-sweep/spec.md
  specs/032-doc-sweep/tasks.md
Due: none

chore: sync MCP tool 'GitHub MCP Server (Full Access)' configuration
  .vscode/mcp.json
Due: none

chore: sync MCP tool 'GitHub MCP Server (Full Access)' configuration
  .copilot/mcp.json
Due: none

chore: remove MCP tool 'GitHub MCP Server (Full Access)' configuration
  .copilot/mcp.json
Due: none

chore: remove MCP tool 'GitHub MCP Server (Full Access)' configuration
  .vscode/mcp.json
Due: none

fix: minor UI improvements across Pipeline, Board, Chores, and Agents pages
  .github/agents/archivist.agent.md
  .github/agents/designer.agent.md
  .github/agents/judge.agent.md
  .github/agents/linter.agent.md
  .github/agents/quality-assurance.agent.md
  .github/agents/tester.agent.md
  .vscode/mcp.json
  backend/src/api/chat.py
  backend/src/api/workflow.py
  backend/src/models/chores.py
  backend/src/services/chores/service.py
  backend/src/services/github_projects/service.py
  backend/src/services/workflow_orchestrator/models.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_workflow_orchestrator.py
  frontend/src/components/board/AgentConfigRow.tsx
  frontend/src/components/board/AgentTile.tsx
  frontend/src/components/board/BoardColumn.tsx
  frontend/src/components/board/IssueCard.tsx
  frontend/src/components/board/ProjectBoard.tsx
  frontend/src/components/chores/ChoreCard.tsx
  frontend/src/components/chores/ChoreInlineEditor.tsx
  frontend/src/components/chores/__tests__/ChoresPanel.test.tsx
  frontend/src/components/common/CelestialCatalogHero.tsx
  frontend/src/components/pipeline/AgentNode.tsx
  frontend/src/components/pipeline/PipelineToolbar.tsx
  frontend/src/hooks/useScrollLock.test.ts
  frontend/src/hooks/useScrollLock.ts
  frontend/src/index.css
  frontend/src/layout/AppLayout.tsx
  frontend/src/pages/AgentsPage.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/pages/ProjectsPage.tsx
  frontend/src/tests/utils/formatAgentName.test.ts
  frontend/src/utils/formatAgentName.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: preserve selected pipeline and refine projects UI
  backend/src/api/chat.py
  backend/src/models/recommendation.py
  backend/src/services/github_projects/service.py
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_github_projects.py
  frontend/src/components/common/CelestialCatalogHero.tsx
  frontend/src/index.css
  frontend/src/pages/ProjectsPage.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge judge changes into copilot/display-only-parent-issues
  frontend/src/utils/filterParentIssueColumns.test.ts
Due: frontend-lint, frontend-typecheck, frontend-test

fix: precreate pipeline sub-issues for manual task creation
  backend/src/api/tasks.py
  backend/tests/unit/test_api_tasks.py
Due: backend-pyright, backend-test
