Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

backend-pyright:
  name: Type Check Backend (pyright)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
  language: system
  pass_filenames: false

frontend-lint:
  name: Lint Frontend (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Type Check Frontend (TypeScript)
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-test:
  name: Test Frontend (Vitest)
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false

backend-test:
  name: Test Backend (pytest)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Merge linter changes into copilot/fix-tech-debt-dead-code
  backend/src/prompts/issue_generation.py
  backend/src/services/signal_chat.py
Due: backend-pyright, backend-test

Merge judge changes into copilot/fix-tech-debt-dead-code
  backend/src/api/chat.py
  backend/src/api/workflow.py
  backend/src/services/chat_store.py
  backend/src/services/signal_chat.py
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_api_workflow.py
Due: backend-pyright, backend-test

feat: UI polish, pipeline analytics, and security hardening
  .cgcignore
  .github/agents/copilot-instructions.md
  CHANGELOG.md
  backend/src/config.py
  backend/src/models/user.py
  frontend/src/components/agents/AgentsPanel.tsx
  frontend/src/components/board/IssueCard.tsx
  frontend/src/components/board/ProjectBoard.tsx
  frontend/src/components/pipeline/PipelineAnalytics.tsx
  frontend/src/components/tools/GitHubMcpConfigGenerator.tsx
  frontend/src/components/tools/McpPresetsGallery.tsx
  frontend/src/layout/Sidebar.tsx
  frontend/src/pages/AgentsPage.tsx
  frontend/src/pages/AgentsPipelinePage.test.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/pages/ProjectsPage.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: address PR review comments — expires_at fallback, error classification, line length, boundary violation
  backend/src/api/chat.py
  backend/src/api/chores.py
  backend/src/services/chat_store.py
  backend/src/services/github_projects/projects.py
Due: backend-pyright, backend-test

judge: adopt 3 review comments from PR #3817
  .cgcignore
  frontend/src/components/pipeline/PipelineAnalytics.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

fix: update 4-column tracking tables to 5-column format in tests
  backend/tests/unit/test_copilot_polling.py
  backend/tests/unit/test_polling_loop.py
Due: backend-pyright, backend-test

refactor: consolidate 28 migration files into single schema
  backend/src/api/chat.py
  backend/src/migrations/001_initial_schema.sql
  backend/src/migrations/002_add_workflow_config_column.sql
  backend/src/migrations/003_add_admin_column.sql
  backend/src/migrations/004_add_signal_tables.sql
  backend/src/migrations/005_signal_phone_hash_unique.sql
  backend/src/migrations/006_add_mcp_configurations.sql
  backend/src/migrations/007_agent_configs.sql
  backend/src/migrations/008_cleanup_audit_logs.sql
  backend/src/migrations/009_housekeeping.sql
  backend/src/migrations/010_chores.sql
  backend/src/migrations/011_metadata_cache.sql
  backend/src/migrations/012_chat_persistence.sql
  backend/src/migrations/013_agent_config_lifecycle_status.sql
  backend/src/migrations/013_pipeline_configs.sql
  backend/src/migrations/014_agent_default_models.sql
  backend/src/migrations/014_extend_mcp_tools.sql
  backend/src/migrations/015_agent_icon_name.sql
  backend/src/migrations/015_pipeline_mcp_presets.sql
  backend/src/migrations/016_chores_enhancements.sql
  backend/src/migrations/017_blocking_queue.sql
  backend/src/migrations/018_pipeline_blocking_override.sql
  backend/src/migrations/019_agent_model_setting.sql
  backend/src/migrations/020_chore_presets.sql
  backend/src/migrations/021_pipeline_state.sql
  backend/src/migrations/021_remove_blocking.sql
  backend/src/migrations/022_chat_file_urls.sql
  backend/src/migrations/022_encrypt_existing_tokens.sql
  backend/src/migrations/023_chat_proposal_pipeline.sql
  backend/src/migrations/023_consolidated_schema.sql
  backend/src/services/chat_store.py
  backend/src/services/database.py
  backend/tests/unit/test_database.py
Due: backend-pyright, backend-test

feat: UI polish, pipeline analytics, and security hardening (#3817)
  .cgcignore
  .github/agents/copilot-instructions.md
  CHANGELOG.md
  backend/src/config.py
  backend/src/models/user.py
  frontend/src/components/agents/AgentsPanel.tsx
  frontend/src/components/board/IssueCard.tsx
  frontend/src/components/board/ProjectBoard.tsx
  frontend/src/components/pipeline/PipelineAnalytics.tsx
  frontend/src/components/tools/GitHubMcpConfigGenerator.tsx
  frontend/src/components/tools/McpPresetsGallery.tsx
  frontend/src/layout/Sidebar.tsx
  frontend/src/pages/AgentsPage.tsx
  frontend/src/pages/AgentsPipelinePage.test.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/pages/ProjectsPage.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: add IF NOT EXISTS to consolidated migration DDL
  backend/src/migrations/023_consolidated_schema.sql
Due: none

fix(cgc): add env vars and missing ignore patterns for CodeGraphContext MCP
  .cgcignore
  .github/agents/archivist.agent.md
  .github/agents/designer.agent.md
  .github/agents/judge.agent.md
  .github/agents/linter.agent.md
  .github/agents/mcp.json
  .github/agents/quality-assurance.agent.md
  .github/agents/speckit.analyze.agent.md
  .github/agents/speckit.checklist.agent.md
  .github/agents/speckit.clarify.agent.md
  .github/agents/speckit.constitution.agent.md
  .github/agents/speckit.implement.agent.md
  .github/agents/speckit.plan.agent.md
  .github/agents/speckit.specify.agent.md
  .github/agents/speckit.tasks.agent.md
  .github/agents/speckit.taskstoissues.agent.md
  .github/agents/tester.agent.md
  .github/workflows/copilot-setup-steps.yml
  backend/src/services/tools/presets.py
Due: backend-pyright, backend-test

feat(cleanup): clickable GitHub links and per-item toggle in cleanup modal
  frontend/src/components/board/CleanUpButton.tsx
  frontend/src/components/board/CleanUpConfirmModal.tsx
  frontend/src/hooks/useCleanup.ts
  frontend/src/types/index.ts
Due: frontend-lint, frontend-typecheck, frontend-test

fix(backend): resolve 7 pyright type errors across chat, pipeline, and orchestrator
  backend/src/api/chat.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_label_fast_path.py
Due: backend-pyright, backend-test

chore: update Librarian
  .github/ISSUE_TEMPLATE/chore-documentation-sweep.md
Due: none

ci: fix ruff format, CHANGELOG lint, and regenerate diagrams
  .markdownlint.json
  CHANGELOG.md
  backend/src/api/chat.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/copilot_polling/recovery.py
  backend/tests/unit/test_agent_tracking.py
  backend/tests/unit/test_label_fast_path.py
  docs/architectures/frontend-components.mmd
Due: backend-pyright, backend-test

chore: update Librarian (#3848)
  .github/ISSUE_TEMPLATE/chore-documentation-sweep.md
Due: none

Merge speckit.plan changes into copilot/speckitspecify-documentation-refresh-playbook
  specs/040-doc-refresh-playbook/contracts/change-detection.md
  specs/040-doc-refresh-playbook/contracts/documentation-update.md
  specs/040-doc-refresh-playbook/contracts/verification-baseline.md
  specs/040-doc-refresh-playbook/data-model.md
  specs/040-doc-refresh-playbook/plan.md
  specs/040-doc-refresh-playbook/quickstart.md
  specs/040-doc-refresh-playbook/research.md
Due: none

review: clear stale executeResult at start of confirmExecute
  frontend/src/hooks/useCleanup.ts
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.tasks changes into copilot/speckitspecify-documentation-refresh-playbook
  specs/040-doc-refresh-playbook/tasks.md
Due: none

review: replace non-null assertions with render guard in CleanUpButton
  frontend/src/components/board/CleanUpButton.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

fix: cgc MCP config, interactive cleanup modal, and pyright type safety (#3842)
  .cgcignore
  .github/agents/archivist.agent.md
  .github/agents/designer.agent.md
  .github/agents/judge.agent.md
  .github/agents/linter.agent.md
  .github/agents/mcp.json
  .github/agents/quality-assurance.agent.md
  .github/agents/speckit.analyze.agent.md
  .github/agents/speckit.checklist.agent.md
  .github/agents/speckit.clarify.agent.md
  .github/agents/speckit.constitution.agent.md
  .github/agents/speckit.implement.agent.md
  .github/agents/speckit.plan.agent.md
  .github/agents/speckit.specify.agent.md
  .github/agents/speckit.tasks.agent.md
  .github/agents/speckit.taskstoissues.agent.md
  .github/agents/tester.agent.md
  .github/workflows/copilot-setup-steps.yml
  .markdownlint.json
  CHANGELOG.md
  backend/src/api/chat.py
  backend/src/migrations/023_consolidated_schema.sql
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/copilot_polling/recovery.py
  backend/src/services/tools/presets.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_agent_tracking.py
  backend/tests/unit/test_label_fast_path.py
  docs/architectures/frontend-components.mmd
  frontend/src/components/board/CleanUpButton.tsx
  frontend/src/components/board/CleanUpConfirmModal.tsx
  frontend/src/hooks/useCleanup.ts
  frontend/src/types/index.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.implement changes into copilot/speckitspecify-documentation-refresh-playbook
  CHANGELOG.md
  docs/.change-manifest.md
  docs/.last-refresh
  docs/agent-pipeline.md
  docs/architecture.md
  docs/configuration.md
  docs/setup.md
  docs/troubleshooting.md
  specs/040-doc-refresh-playbook/tasks.md
Due: none

Merge linter changes into copilot/speckitspecify-documentation-refresh-playbook
  docs/troubleshooting.md
  specs/040-doc-refresh-playbook/contracts/change-detection.md
  specs/040-doc-refresh-playbook/contracts/documentation-update.md
  specs/040-doc-refresh-playbook/contracts/verification-baseline.md
  specs/040-doc-refresh-playbook/data-model.md
  specs/040-doc-refresh-playbook/plan.md
  specs/040-doc-refresh-playbook/quickstart.md
  specs/040-doc-refresh-playbook/research.md
  specs/040-doc-refresh-playbook/tasks.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on designer.agent.md
  .github/agents/designer.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on archivist.agent.md
  .github/agents/archivist.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on judge.agent.md
  .github/agents/judge.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on quality-assurance.agent.md
  .github/agents/quality-assurance.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on linter.agent.md
  .github/agents/linter.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on speckit.analyze.agent.md
  .github/agents/speckit.analyze.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on speckit.clarify.agent.md
  .github/agents/speckit.clarify.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on speckit.checklist.agent.md
  .github/agents/speckit.checklist.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on speckit.constitution.agent.md
  .github/agents/speckit.constitution.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on speckit.implement.agent.md
  .github/agents/speckit.implement.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on speckit.plan.agent.md
  .github/agents/speckit.plan.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on speckit.specify.agent.md
  .github/agents/speckit.specify.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on speckit.tasks.agent.md
  .github/agents/speckit.tasks.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on tester.agent.md
  .github/agents/tester.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on speckit.taskstoissues.agent.md
  .github/agents/speckit.taskstoissues.agent.md
Due: none

Path conditions:
  backend-pyright: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-test: any of: ^backend/.*\.py$
