Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Backend Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff-format
        name: Format Python (ruff)
        files: ^backend/
      - id: ruff
        name: Lint Python (ruff)
        files: ^backend/
        args: [--fix]

  - repo: local
    hooks:
      - id: backend-pyright
        name: Type Check Backend (pyright)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Lint Frontend (ESLint)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: Type Check Frontend (TypeScript)
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-test
        name: Test Frontend (Vitest)
        entry: bash -c 'cd frontend && npm test'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: backend-test
        name: Test Backend (pytest)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        stages: [pre-push]  # Run tests only on push, not every commit

fix: check Copilot assignment on sub-issue to prevent premature agent completion
  .github/agents/copilot-instructions.md
  backend/src/services/copilot_polling/__init__.py
  backend/src/services/copilot_polling/agent_output.py
  backend/src/services/copilot_polling/completion.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/copilot_polling/polling_loop.py
  backend/src/services/copilot_polling/state.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_copilot_polling.py
Due: backend-pyright, backend-test

Merge speckit.implement changes into copilot/add-diamond-pattern-background
  frontend/src/index.css
  frontend/src/styles/diamond-background.test.ts
Due: frontend-lint, frontend-typecheck, frontend-test

refactor: address Copilot code review recommendations (PR #1639)
  backend/src/api/board.py
  backend/src/main.py
  backend/src/services/copilot_polling/helpers.py
  docs/agent-pipeline.md
  frontend/src/pages/ProjectBoardPage.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.plan changes into copilot/add-ruby-background-theme
  .github/agents/copilot-instructions.md
  specs/018-ruby-background-theme/contracts/README.md
  specs/018-ruby-background-theme/data-model.md
  specs/018-ruby-background-theme/plan.md
  specs/018-ruby-background-theme/quickstart.md
  specs/018-ruby-background-theme/research.md
Due: none

Merge speckit.tasks changes into copilot/add-ruby-background-theme
  specs/018-ruby-background-theme/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-ruby-background-theme
  frontend/src/index.css
  specs/018-ruby-background-theme/tasks.md
Due: none

fix: prevent false stall detection for non-coding agents & defensive SWE un-assignment
  backend/src/services/copilot_polling/recovery.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_copilot_polling.py
  backend/tests/unit/test_workflow_orchestrator.py
Due: backend-pyright, backend-test

Merge linter changes into copilot/add-ruby-background-theme
  frontend/src/index.css
Due: none

Merge speckit.plan changes into copilot/bug-bash-code-review
  specs/018-bug-basher/plan.md
Due: none

Merge speckit.plan changes into copilot/audit-refactor-fastapi-react
  .github/agents/copilot-instructions.md
  specs/018-audit-refactor-codebase/contracts/copilot-client-pool.md
  specs/018-audit-refactor-codebase/contracts/fallback-helper.md
  specs/018-audit-refactor-codebase/contracts/header-builder.md
  specs/018-audit-refactor-codebase/contracts/unified-retry.md
  specs/018-audit-refactor-codebase/data-model.md
  specs/018-audit-refactor-codebase/plan.md
  specs/018-audit-refactor-codebase/quickstart.md
  specs/018-audit-refactor-codebase/research.md
Due: none

Merge speckit.tasks changes into copilot/bug-bash-code-review
  specs/018-bug-basher/tasks.md
Due: none

Merge speckit.plan changes into copilot/code-cleanup-repository
  .github/agents/copilot-instructions.md
  specs/018-code-cleanup/contracts/README.md
  specs/018-code-cleanup/data-model.md
  specs/018-code-cleanup/plan.md
  specs/018-code-cleanup/quickstart.md
  specs/018-code-cleanup/research.md
Due: none

Merge speckit.tasks changes into copilot/audit-refactor-fastapi-react
  specs/018-audit-refactor-codebase/tasks.md
Due: none

Merge speckit.specify changes into copilot/update-github-issue-metadata
  specs/018-issue-metadata-autogen/checklists/requirements.md
  specs/018-issue-metadata-autogen/spec.md
Due: none

Merge speckit.tasks changes into copilot/code-cleanup-repository
  specs/018-code-cleanup/tasks.md
Due: none

Merge speckit.specify changes into copilot/add-chat-message-history-navigation
  specs/018-chat-history-navigation/checklists/requirements.md
  specs/018-chat-history-navigation/spec.md
Due: none

Merge speckit.specify changes into copilot/add-file-upload-voice-input
  specs/018-chat-upload-voice/spec.md
Due: none

Merge speckit.plan changes into copilot/update-github-issue-metadata
  .github/agents/copilot-instructions.md
  specs/018-issue-metadata-autogen/contracts/issue-creation-api.yaml
  specs/018-issue-metadata-autogen/contracts/metadata-api.yaml
  specs/018-issue-metadata-autogen/data-model.md
  specs/018-issue-metadata-autogen/plan.md
  specs/018-issue-metadata-autogen/quickstart.md
  specs/018-issue-metadata-autogen/research.md
Due: none

Merge speckit.plan changes into copilot/add-chat-message-history-navigation
  .github/agents/copilot-instructions.md
  specs/018-chat-history-navigation/contracts/useChatHistory-api.md
  specs/018-chat-history-navigation/data-model.md
  specs/018-chat-history-navigation/plan.md
  specs/018-chat-history-navigation/quickstart.md
  specs/018-chat-history-navigation/research.md
Due: none

Merge speckit.implement changes into copilot/bug-bash-code-review
  .env.example
  backend/src/api/chores.py
  backend/src/api/settings.py
  backend/src/services/database.py
  backend/src/services/websocket.py
  backend/src/services/workflow_orchestrator/config.py
  backend/tests/unit/test_chores_api.py
  backend/tests/unit/test_database.py
  backend/tests/unit/test_websocket.py
  specs/018-bug-basher/tasks.md
Due: backend-pyright, backend-test

Merge speckit.tasks changes into copilot/update-github-issue-metadata
  specs/018-issue-metadata-autogen/tasks.md
Due: none

Merge speckit.plan changes into copilot/add-file-upload-voice-input
  .github/agents/copilot-instructions.md
  specs/018-chat-upload-voice/contracts/api.yaml
  specs/018-chat-upload-voice/data-model.md
  specs/018-chat-upload-voice/plan.md
  specs/018-chat-upload-voice/quickstart.md
  specs/018-chat-upload-voice/research.md
Due: none

Merge speckit.implement changes into copilot/audit-refactor-fastapi-react
  backend/pyproject.toml
  backend/src/api/chat.py
  backend/src/api/workflow.py
  backend/src/dependencies.py
  backend/src/services/agents/service.py
  backend/src/services/chores/chat.py
  backend/src/services/completion_providers.py
  backend/src/services/github_auth.py
  backend/src/services/github_commit_workflow.py
  backend/src/services/github_projects/graphql.py
  backend/src/services/github_projects/service.py
  backend/src/services/model_fetcher.py
  backend/src/services/signal_chat.py
  backend/src/services/workflow_orchestrator/config.py
  backend/src/services/workflow_orchestrator/transitions.py
  backend/tests/conftest.py
  backend/tests/unit/test_completion_providers.py
  frontend/package.json
  specs/018-audit-refactor-codebase/tasks.md
Due: backend-pyright, backend-test

Merge speckit.implement changes into copilot/code-cleanup-repository
  backend/src/api/agents.py
  backend/src/api/auth.py
  backend/src/api/board.py
  backend/src/api/chat.py
  backend/src/api/chores.py
  backend/src/api/cleanup.py
  backend/src/api/mcp.py
  backend/src/api/projects.py
  backend/src/api/settings.py
  backend/src/api/signal.py
  backend/src/api/tasks.py
  backend/src/api/workflow.py
  backend/src/dependencies.py
  backend/src/models/chat.py
  backend/src/prompts/issue_generation.py
  backend/src/services/completion_providers.py
  backend/src/services/model_fetcher.py
  backend/src/services/token_client_cache.py
  backend/tests/conftest.py
  backend/tests/integration/test_custom_agent_assignment.py
  backend/tests/integration/test_webhook_verification.py
  backend/tests/unit/test_admin_authorization.py
  backend/tests/unit/test_ai_agent.py
  backend/tests/unit/test_api_auth.py
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_api_tasks.py
  backend/tests/unit/test_api_workflow.py
  backend/tests/unit/test_auth_security.py
  backend/tests/unit/test_completion_providers.py
  backend/tests/unit/test_models.py
  backend/tests/unit/test_module_boundaries.py
  backend/tests/unit/test_prompts.py
  backend/tests/unit/test_workflow_orchestrator.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CowboyAvatar.tsx
  frontend/src/components/settings/DynamicDropdown.tsx
  frontend/src/constants.ts
  specs/018-code-cleanup/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.tasks changes into copilot/add-chat-message-history-navigation
  specs/018-chat-history-navigation/tasks.md
Due: none

Merge speckit.tasks changes into copilot/add-file-upload-voice-input
  specs/018-chat-upload-voice/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-chat-message-history-navigation
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/hooks/useChatHistory.test.ts
  frontend/src/hooks/useChatHistory.ts
  specs/018-chat-history-navigation/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.implement changes into copilot/update-github-issue-metadata
  backend/src/api/__init__.py
  backend/src/api/chat.py
  backend/src/api/metadata.py
  backend/src/config.py
  backend/src/migrations/011_metadata_cache.sql
  backend/src/models/recommendation.py
  backend/src/prompts/issue_generation.py
  backend/src/services/ai_agent.py
  backend/src/services/github_projects/service.py
  backend/src/services/metadata_service.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  frontend/src/components/chat/IssueRecommendationPreview.tsx
  frontend/src/hooks/useMetadata.ts
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/018-issue-metadata-autogen/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.implement changes into copilot/add-file-upload-voice-input
  .gitignore
  backend/src/api/chat.py
  backend/src/models/chat.py
  backend/src/services/file_upload.py
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/DragDropOverlay.tsx
  frontend/src/components/chat/FilePreviewArea.tsx
  frontend/src/components/chat/FilePreviewItem.tsx
  frontend/src/components/chat/FileUploadButton.tsx
  frontend/src/components/chat/RecordingIndicator.tsx
  frontend/src/components/chat/VoiceInputButton.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useDragDrop.ts
  frontend/src/hooks/useFileUpload.ts
  frontend/src/hooks/useVoiceInput.ts
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/018-chat-upload-voice/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: prevent rate-limit deadlock in polling loop
  backend/src/services/copilot_polling/polling_loop.py
  backend/tests/unit/test_copilot_polling.py
Due: backend-pyright, backend-test

Merge judge changes into copilot/bug-bash-code-review
  backend/tests/unit/test_chores_api.py
Due: backend-pyright, backend-test

Merge judge changes into copilot/add-chat-message-history-navigation
  .github/agents/copilot-instructions.md
  frontend/src/components/chat/ChatInterface.tsx
Due: frontend-lint, frontend-typecheck, frontend-test
