Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Backend Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff-format
        name: Format Python (ruff)
        files: ^backend/
      - id: ruff
        name: Lint Python (ruff)
        files: ^backend/
        args: [--fix]

  - repo: local
    hooks:
      - id: backend-pyright
        name: Type Check Backend (pyright)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Lint Frontend (ESLint)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: Type Check Frontend (TypeScript)
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-test
        name: Test Frontend (Vitest)
        entry: bash -c 'cd frontend && npm test'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: backend-test
        name: Test Backend (pytest)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        stages: [pre-push]  # Run tests only on push, not every commit

Merge speckit.implement changes into copilot/add-purple-background-app
  .gitignore
  frontend/package-lock.json
  frontend/src/App.css
  frontend/src/index.css
  specs/005-purple-background/tasks.md
Due: none

fix: persist workflow config to SQLite, close sub-issues on agent completion, and fix agent pipeline tracking
  backend/src/api/chat.py
  backend/src/api/workflow.py
  backend/src/migrations/002_add_workflow_config_column.sql
  backend/src/services/agent_tracking.py
  backend/src/services/copilot_polling.py
  backend/src/services/workflow_orchestrator.py
Due: backend-pyright, backend-test

docs: update README and backend docs to match current implementation
  README.md
  backend/README.md
Due: none

Merge speckit.plan changes into copilot/update-app-title-to-dev-bots
  backend/src/main.py
  frontend/e2e/auth.spec.ts
  frontend/e2e/integration.spec.ts
  frontend/e2e/ui.spec.ts
  frontend/index.html
  frontend/package-lock.json
  frontend/src/App.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

ci: fix lint, type errors, test failures, and apply code review fixes
  backend/pyproject.toml
  backend/src/api/projects.py
  backend/src/services/copilot_polling.py
  backend/src/services/database.py
  backend/src/services/github_projects.py
  backend/src/services/session_store.py
  backend/src/services/settings_store.py
  backend/src/services/workflow_orchestrator.py
  backend/tests/test_api_e2e.py
  backend/tests/unit/test_github_auth.py
  frontend/package-lock.json
  frontend/package.json
  frontend/vitest.config.ts
  specs/005-sqlite-settings-storage/spec.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.plan changes into copilot/improve-test-coverage-85
  .github/agents/copilot-instructions.md
  specs/001-test-coverage-bugfix/contracts/coverage-contract.md
  specs/001-test-coverage-bugfix/data-model.md
  specs/001-test-coverage-bugfix/plan.md
  specs/001-test-coverage-bugfix/quickstart.md
  specs/001-test-coverage-bugfix/research.md
Due: none

fix(polling): route Done! markers to parent issue, md files to sub-issue only
  .github/agents/copilot-instructions.md
  README.md
  backend/src/services/copilot_polling.py
  backend/tests/unit/test_copilot_polling.py
  specs/007-codebase-cleanup-refactor/checklists/requirements.md
  specs/007-codebase-cleanup-refactor/contracts/error-response.md
  specs/007-codebase-cleanup-refactor/data-model.md
  specs/007-codebase-cleanup-refactor/plan.md
  specs/007-codebase-cleanup-refactor/quickstart.md
  specs/007-codebase-cleanup-refactor/research.md
  specs/007-codebase-cleanup-refactor/spec.md
Due: backend-pyright, backend-test

spec(001): Codebase Cleanup & Refactor specification (#638)
  .github/agents/copilot-instructions.md
  README.md
  backend/src/services/copilot_polling.py
  backend/tests/unit/test_copilot_polling.py
  specs/001-codebase-cleanup-refactor/checklists/requirements.md
  specs/001-codebase-cleanup-refactor/spec.md
  specs/007-codebase-cleanup-refactor/checklists/requirements.md
  specs/007-codebase-cleanup-refactor/contracts/error-response.md
  specs/007-codebase-cleanup-refactor/data-model.md
  specs/007-codebase-cleanup-refactor/plan.md
  specs/007-codebase-cleanup-refactor/quickstart.md
  specs/007-codebase-cleanup-refactor/research.md
  specs/007-codebase-cleanup-refactor/spec.md
Due: backend-pyright, backend-test

Merge speckit.plan changes into copilot/add-green-background-to-app
  .github/agents/copilot-instructions.md
  specs/008-green-background/contracts/theme-tokens.md
  specs/008-green-background/data-model.md
  specs/008-green-background/plan.md
  specs/008-green-background/quickstart.md
  specs/008-green-background/research.md
Due: none

Merge speckit.tasks changes into copilot/add-green-background-to-app
  specs/008-green-background/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-green-background-to-app
  .gitignore
  frontend/package-lock.json
  frontend/src/App.css
  frontend/src/components/chat/ChatInterface.css
  frontend/src/index.css
  specs/008-green-background/tasks.md
Due: none

feat: expand test coverage to 85% and add error recovery for agent assignment
  .github/agents/copilot-instructions.md
  backend/src/api/workflow.py
  backend/src/services/workflow_orchestrator.py
  backend/tests/conftest.py
  backend/tests/unit/test_agent_tracking.py
  backend/tests/unit/test_ai_agent.py
  backend/tests/unit/test_api_auth.py
  backend/tests/unit/test_api_board.py
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_api_projects.py
  backend/tests/unit/test_api_settings.py
  backend/tests/unit/test_api_tasks.py
  backend/tests/unit/test_api_workflow.py
  backend/tests/unit/test_completion_providers.py
  backend/tests/unit/test_config.py
  backend/tests/unit/test_copilot_polling.py
  backend/tests/unit/test_database.py
  backend/tests/unit/test_github_auth.py
  backend/tests/unit/test_github_projects.py
  backend/tests/unit/test_main.py
  backend/tests/unit/test_prompts.py
  backend/tests/unit/test_session_store.py
  backend/tests/unit/test_settings_store.py
  backend/tests/unit/test_webhooks.py
  backend/tests/unit/test_workflow_orchestrator.py
  frontend/src/App.tsx
  frontend/src/components/chat/ChatInterface.css
  frontend/src/components/chat/IssueRecommendationPreview.tsx
  frontend/src/test/setup.ts
  frontend/src/test/test-utils.tsx
  frontend/tsconfig.json
  specs/008-test-coverage-bug-fixes/checklists/requirements.md
  specs/008-test-coverage-bug-fixes/contracts/backend-coverage.toml
  specs/008-test-coverage-bug-fixes/contracts/frontend-coverage.json
  specs/008-test-coverage-bug-fixes/data-model.md
  specs/008-test-coverage-bug-fixes/plan.md
  specs/008-test-coverage-bug-fixes/quickstart.md
  specs/008-test-coverage-bug-fixes/research.md
  specs/008-test-coverage-bug-fixes/spec.md
  specs/008-test-coverage-bug-fixes/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: close sub-issues when agents complete across status transitions
  backend/src/services/copilot_polling.py
  backend/src/services/workflow_orchestrator.py
  backend/tests/unit/test_copilot_polling.py
  backend/tests/unit/test_workflow_orchestrator.py
Due: backend-pyright, backend-test

Merge speckit.plan changes into copilot/add-black-background-theme
  .github/agents/copilot-instructions.md
  specs/009-black-background/contracts/theme-tokens.md
  specs/009-black-background/data-model.md
  specs/009-black-background/plan.md
  specs/009-black-background/quickstart.md
  specs/009-black-background/research.md
Due: none

Merge copilot-review changes into copilot/add-black-background-theme
  specs/009-black-background/tasks.md
Due: none

chore: fix linting, type errors, and update documentation
  README.md
  backend/README.md
  backend/src/services/completion_providers.py
  backend/src/services/copilot_polling.py
  backend/tests/unit/test_ai_agent.py
  backend/tests/unit/test_api_auth.py
  backend/tests/unit/test_api_board.py
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_api_projects.py
  backend/tests/unit/test_api_tasks.py
  backend/tests/unit/test_api_workflow.py
  backend/tests/unit/test_completion_providers.py
  backend/tests/unit/test_config.py
  backend/tests/unit/test_copilot_polling.py
  backend/tests/unit/test_github_projects.py
  backend/tests/unit/test_settings_store.py
  backend/tests/unit/test_webhooks.py
  backend/tests/unit/test_workflow_orchestrator.py
Due: backend-pyright, backend-test

fix: address Copilot PR review feedback
  backend/README.md
  backend/src/services/workflow_orchestrator.py
  backend/tests/unit/test_completion_providers.py
  frontend/src/test/setup.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.specify changes into copilot/add-pink-background-color
  .github/agents/copilot-instructions.md
  specs/011-pink-background/contracts/design-tokens.md
  specs/011-pink-background/data-model.md
  specs/011-pink-background/plan.md
  specs/011-pink-background/quickstart.md
  specs/011-pink-background/research.md
Due: none

chore: fix linting, formatting, and type errors for CI compliance
  backend/src/api/auth.py
  backend/src/api/chat.py
  backend/src/api/workflow.py
  backend/src/models/agent.py
  backend/src/models/chat.py
  backend/src/models/project.py
  backend/src/models/recommendation.py
  backend/src/models/task.py
  backend/src/prompts/issue_generation.py
  backend/src/services/ai_agent.py
  backend/src/services/cache.py
  backend/src/services/copilot_polling/__init__.py
  backend/src/services/copilot_polling/agent_output.py
  backend/src/services/copilot_polling/completion.py
  backend/src/services/copilot_polling/helpers.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/copilot_polling/polling_loop.py
  backend/src/services/copilot_polling/recovery.py
  backend/src/services/github_projects/graphql.py
  backend/src/services/github_projects/service.py
  backend/src/services/workflow_orchestrator/config.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_api_projects.py
  backend/tests/unit/test_api_tasks.py
  backend/tests/unit/test_api_workflow.py
  backend/tests/unit/test_cache.py
  backend/tests/unit/test_copilot_polling.py
  backend/tests/unit/test_main.py
  backend/tests/unit/test_prompts.py
  backend/tests/unit/test_workflow_orchestrator.py
Due: backend-pyright, backend-test

Address PR #761 AI reviewer recommendations
  backend/src/services/copilot_polling/helpers.py
  backend/src/services/settings_store.py
  backend/src/services/workflow_orchestrator/config.py
  backend/tests/unit/test_workflow_orchestrator.py
  frontend/src/utils/generateId.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Address PR #761 AI reviewer recommendations (round 2)
  backend/src/api/chat.py
  backend/src/api/workflow.py
  backend/src/services/session_store.py
  backend/src/services/settings_store.py
  backend/src/services/workflow_orchestrator/config.py
  backend/tests/unit/test_workflow_orchestrator.py
  frontend/src/services/api.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test
