Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

backend-pyright:
  name: Type Check Backend (pyright)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
  language: system
  pass_filenames: false

frontend-lint:
  name: Lint Frontend (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Type Check Frontend (TypeScript)
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-test:
  name: Test Frontend (Vitest)
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false

backend-test:
  name: Test Backend (pytest)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

chore: sync MCP servers and enforce tools: ['*'] on speckit.tasks.agent.md
  .github/agents/speckit.tasks.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on speckit.taskstoissues.agent.md
  .github/agents/speckit.taskstoissues.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on tester.agent.md
  .github/agents/tester.agent.md
Due: none

Merge speckit.specify changes into copilot/speckit-specify-write-specification
  specs/001-intelligent-chat-agent/checklists/requirements.md
  specs/001-intelligent-chat-agent/spec.md
Due: none

Merge speckit.specify changes into copilot/plan-v02-intelligent-chat-agent
  specs/001-intelligent-chat-agent/checklists/requirements.md
  specs/001-intelligent-chat-agent/spec.md
Due: none

fix: reduce GitHub API requests to prevent rate limit exhaustion
  backend/src/services/copilot_polling.py
  backend/src/services/github_projects.py
  frontend/package-lock.json
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useRealTimeSync.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Update application title to 'GitHub Workflows' across all screens (#5843)
  frontend/e2e/auth.spec.ts
  frontend/e2e/integration.spec.ts
  frontend/e2e/ui.spec.ts
  frontend/index.html
  frontend/src/App.tsx
  frontend/tsconfig.tsbuildinfo
Due: frontend-lint, frontend-typecheck, frontend-test

fix(build): resolve devcontainer Codespaces compatibility issues
  .devcontainer/docker-compose.devcontainer.yml
  .devcontainer/post-start.sh
Due: none

fix(build): resolve devcontainer Codespaces compatibility issues (#5852)
  .devcontainer/docker-compose.devcontainer.yml
  .devcontainer/post-start.sh
Due: none

Path conditions:
  backend-pyright: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-test: any of: ^backend/.*\.py$
