Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

backend-pyright:
  name: Type Check Backend (pyright)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
  language: system
  pass_filenames: false

frontend-lint:
  name: Lint Frontend (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Type Check Frontend (TypeScript)
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-test:
  name: Test Frontend (Vitest)
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false

backend-test:
  name: Test Backend (pytest)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

docs(agents): add MCP tool usage requirements to copilot instructions
  .github/agents/copilot-instructions.md
Due: none

Merge quality-assurance changes into copilot/update-tools-page-github-mcp
  frontend/src/components/tools/GitHubMcpConfigGenerator.tsx
  frontend/src/components/tools/ToolsEnhancements.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.plan changes into copilot/audit-pipelines-page-ui-consistency
  .github/agents/copilot-instructions.md
  specs/033-audit-pipelines-ux/contracts/audit-process.md
  specs/033-audit-pipelines-ux/contracts/components.md
  specs/033-audit-pipelines-ux/data-model.md
  specs/033-audit-pipelines-ux/plan.md
  specs/033-audit-pipelines-ux/quickstart.md
  specs/033-audit-pipelines-ux/research.md
Due: none

Merge designer changes into copilot/audit-polish-projects-page-again
  frontend/src/components/common/ProjectSelectionEmptyState.test.tsx
  frontend/src/components/common/ProjectSelectionEmptyState.tsx
  frontend/src/pages/ProjectsPage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.plan changes into copilot/fix-silent-failures-security
  .github/agents/copilot-instructions.md
  specs/033-fix-silent-failures-security/contracts/logging-contract.md
  specs/033-fix-silent-failures-security/data-model.md
  specs/033-fix-silent-failures-security/plan.md
  specs/033-fix-silent-failures-security/quickstart.md
  specs/033-fix-silent-failures-security/research.md
Due: none

Merge speckit.plan changes into copilot/create-side-by-side-agent-layout
  .github/agents/copilot-instructions.md
  specs/033-parallel-agent-layout/contracts/pipeline-api.yaml
  specs/033-parallel-agent-layout/data-model.md
  specs/033-parallel-agent-layout/plan.md
  specs/033-parallel-agent-layout/quickstart.md
  specs/033-parallel-agent-layout/research.md
Due: none

Merge tester changes into copilot/update-tools-page-github-mcp
  frontend/src/components/tools/ToolsEnhancements.test.tsx
  frontend/src/lib/buildGitHubMcpConfig.test.ts
  frontend/src/lib/buildGitHubMcpConfig.ts
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.plan changes into copilot/fix-silent-failures-security
  specs/033-fix-silent-failures-security/tasks.md
Due: none

Merge speckit.tasks changes into copilot/create-side-by-side-agent-layout
  specs/033-parallel-agent-layout/tasks.md
Due: none

Merge speckit.tasks changes into copilot/fix-silent-failures-security
  backend/tests/unit/test_signal_chat.py
Due: backend-pyright, backend-test

Merge archivist changes into copilot/update-tools-page-github-mcp
  docs/architecture.md
  docs/project-structure.md
  docs/testing.md
Due: none

Merge speckit.implement changes into copilot/audit-pipelines-page-ui-consistency
  frontend/.gitignore
  frontend/src/components/pipeline/PipelineBoard.test.tsx
  frontend/src/components/pipeline/PipelineBoard.tsx
  frontend/src/components/pipeline/SavedWorkflowsList.test.tsx
  frontend/src/components/pipeline/SavedWorkflowsList.tsx
  frontend/src/pages/AgentsPipelinePage.test.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
  specs/033-audit-pipelines-ux/audit-report.md
Due: frontend-lint, frontend-typecheck, frontend-test

feat: speckit.plan — implementation plan for 033-projects-page-audit (#3161)
  .github/agents/copilot-instructions.md
  specs/033-projects-page-audit/contracts/component-contracts.yaml
  specs/033-projects-page-audit/data-model.md
  specs/033-projects-page-audit/plan.md
  specs/033-projects-page-audit/quickstart.md
  specs/033-projects-page-audit/research.md
Due: none

Polish Projects page status, controls, and empty states (#3157)
  frontend/src/pages/ProjectsPage.test.tsx
  frontend/src/pages/ProjectsPage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.implement changes into copilot/create-side-by-side-agent-layout
  backend/src/api/chat.py
  backend/src/api/pipelines.py
  backend/src/models/pipeline.py
  backend/src/models/workflow.py
  backend/src/services/chores/service.py
  backend/src/services/pipelines/service.py
  backend/src/services/workflow_orchestrator/config.py
  backend/src/services/workflow_orchestrator/models.py
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_workflow_orchestrator_config.py
  backend/uv.lock
  frontend/src/components/pipeline/AgentNode.tsx
  frontend/src/components/pipeline/ParallelStageGroup.tsx
  frontend/src/components/pipeline/PipelineBoard.test.tsx
  frontend/src/components/pipeline/PipelineBoard.tsx
  frontend/src/components/pipeline/StageCard.test.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/constants/tooltip-content.ts
  frontend/src/hooks/usePipelineConfig.ts
  frontend/src/types/index.ts
  specs/033-parallel-agent-layout/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge judge changes into copilot/fix-scroll-freezing-issue
  frontend/src/layout/NotificationBell.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Phase 1: Dead code & build artifact cleanup (T001-T007)
  backend/pyproject.toml
  backend/src/logging_utils.py
  backend/tests/unit/test_logging_utils.py
Due: backend-pyright, backend-test

Merge speckit.implement changes into copilot/audit-polish-projects-page-again
  frontend/src/pages/ProjectsPage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge linter changes into copilot/fix-scroll-freezing-issue
  frontend/src/components/board/AddAgentPopover.tsx
  frontend/src/components/chat/ChatPopup.tsx
  frontend/src/components/chores/ChoreCard.tsx
  frontend/src/components/pipeline/ModelSelector.tsx
  frontend/src/layout/NotificationBell.test.tsx
  frontend/src/layout/NotificationBell.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

review: reword parallel execution copy to match current backend semantics (#3187)
  frontend/src/components/pipeline/ParallelStageGroup.tsx
  frontend/src/components/pipeline/PipelineBoard.test.tsx
  frontend/src/components/pipeline/PipelineBoard.tsx
  frontend/src/components/pipeline/StageCard.test.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/constants/tooltip-content.ts
Due: frontend-lint, frontend-typecheck, frontend-test

fix: throttle popover scroll handlers and scope ChatPopup resize listeners (#3177)
  frontend/src/components/board/AddAgentPopover.tsx
  frontend/src/components/chat/ChatPopup.test.tsx
  frontend/src/components/chat/ChatPopup.tsx
  frontend/src/components/chores/ChoreCard.tsx
  frontend/src/components/pipeline/ModelSelector.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/layout/NotificationBell.test.tsx
  frontend/src/layout/NotificationBell.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Path conditions:
  backend-pyright: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-test: any of: ^backend/.*\.py$
