Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

backend-pyright:
  name: Type Check Backend (pyright)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
  language: system
  pass_filenames: false

frontend-lint:
  name: Lint Frontend (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Type Check Frontend (TypeScript)
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-test:
  name: Test Frontend (Vitest)
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false

backend-test:
  name: Test Backend (pytest)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Merge speckit.plan changes into copilot/add-brown-background-color-one-more-time
  specs/010-brown-background/plan.md
Due: none

Merge speckit.specify changes into copilot/add-brown-background-color-one-more-time
  frontend/package-lock.json
Due: none

Merge speckit.implement changes into copilot/add-brown-background-color-one-more-time
  specs/010-brown-background/tasks.md
Due: none

Merge speckit.plan changes into copilot/add-blue-background-color-yet-again
  .github/agents/copilot-instructions.md
  specs/010-blue-background/contracts/css-tokens.md
  specs/010-blue-background/data-model.md
  specs/010-blue-background/plan.md
  specs/010-blue-background/quickstart.md
  specs/010-blue-background/research.md
Due: none

Merge speckit.tasks changes into copilot/add-blue-background-color-yet-again
  specs/010-blue-background/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-blue-background-color-yet-again
  .gitignore
  frontend/index.html
  frontend/src/index.css
  specs/010-blue-background/tasks.md
Due: none

Merge speckit.plan changes into copilot/add-red-background-color
  .github/agents/copilot-instructions.md
  specs/011-red-background/contracts/README.md
  specs/011-red-background/data-model.md
  specs/011-red-background/plan.md
  specs/011-red-background/quickstart.md
  specs/011-red-background/research.md
Due: none

Merge speckit.tasks changes into copilot/add-red-background-color
  specs/011-red-background/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-red-background-color
  frontend/src/index.css
  specs/011-red-background/tasks.md
Due: none

Merge speckit.plan changes into copilot/update-title-text-to-tim-is-awesome
  .github/agents/copilot-instructions.md
  specs/011-update-title-text/contracts/README.md
  specs/011-update-title-text/data-model.md
  specs/011-update-title-text/plan.md
  specs/011-update-title-text/quickstart.md
  specs/011-update-title-text/research.md
Due: none

Merge speckit.tasks changes into copilot/update-title-text-to-tim-is-awesome
  specs/011-update-title-text/tasks.md
Due: none

Merge speckit.implement changes into copilot/update-title-text-to-tim-is-awesome
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .env.example
  .gitignore
  README.md
  backend/README.md
  backend/pyproject.toml
  backend/src/main.py
  backend/tests/test_api_e2e.py
  frontend/e2e/auth.spec.ts
  frontend/e2e/integration.spec.ts
  frontend/e2e/ui.spec.ts
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/011-update-title-text/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.plan changes into copilot/move-chat-to-project-board
  specs/011-chat-popup-homepage/contracts/component-contracts.md
  specs/011-chat-popup-homepage/data-model.md
  specs/011-chat-popup-homepage/plan.md
  specs/011-chat-popup-homepage/quickstart.md
  specs/011-chat-popup-homepage/research.md
Due: none

Merge speckit.implement changes into copilot/move-chat-to-project-board
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/chat/ChatPopup.css
  frontend/src/components/chat/ChatPopup.tsx
  frontend/src/pages/ProjectBoardPage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.plan changes into copilot/add-red-background-color
  specs/011-red-background/contracts/css-tokens.md
  specs/011-red-background/data-model.md
  specs/011-red-background/plan.md
  specs/011-red-background/quickstart.md
  specs/011-red-background/research.md
Due: none

Merge speckit.implement changes into copilot/add-red-background-color
  frontend/src/index.css
Due: none

fix: resolve dark mode, chat popup resize, and dropdown z-index issues
  docker-compose.yml
  frontend/src/components/board/AddAgentPopover.tsx
  frontend/src/components/chat/ChatPopup.tsx
  frontend/src/components/settings/AIPreferences.tsx
  frontend/src/components/settings/DisplayPreferences.tsx
  frontend/src/components/settings/GlobalSettings.tsx
  frontend/src/components/settings/ProjectSettings.tsx
  frontend/src/hooks/useAppTheme.ts
  frontend/src/index.css
  frontend/src/pages/ProjectBoardPage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

refactor: address PR review feedback
  .gitignore
  frontend/e2e-report/index.html
  frontend/src/components/ThemeProvider.tsx
  frontend/src/components/board/AddAgentPopover.tsx
  frontend/src/components/chat/ChatInterface.tsx
  frontend/test-results/.last-run.json
Due: frontend-lint, frontend-typecheck, frontend-test

feat: add Signal messaging integration (011-signal-chat-integration)
  .github/agents/copilot-instructions.md
  README.md
  backend/pyproject.toml
  backend/src/api/__init__.py
  backend/src/api/chat.py
  backend/src/api/signal.py
  backend/src/config.py
  backend/src/main.py
  backend/src/migrations/004_add_signal_tables.sql
  backend/src/models/signal.py
  backend/src/services/signal_bridge.py
  backend/src/services/signal_delivery.py
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/settings/SignalConnection.tsx
  frontend/src/hooks/useSettings.ts
  frontend/src/pages/SettingsPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/011-signal-chat-integration/checklists/requirements.md
  specs/011-signal-chat-integration/contracts/signal-api.yaml
  specs/011-signal-chat-integration/data-model.md
  specs/011-signal-chat-integration/plan.md
  specs/011-signal-chat-integration/quickstart.md
  specs/011-signal-chat-integration/research.md
  specs/011-signal-chat-integration/spec.md
  specs/011-signal-chat-integration/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

refactor: adopt PR code review — DRY inbound processing, webhook auth, unique constraint
  backend/src/api/signal.py
  backend/src/config.py
  backend/src/migrations/005_signal_phone_hash_unique.sql
  backend/src/models/signal.py
  backend/src/services/signal_bridge.py
  frontend/package-lock.json
  frontend/src/hooks/useSettings.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: Signal linking never completes when SIGNAL_PHONE_NUMBER not pre-configured
  backend/src/services/signal_bridge.py
Due: backend-pyright, backend-test

feat: Signal conversational AI — full chat UX mirroring web app
  backend/src/api/signal.py
  backend/src/services/signal_bridge.py
  backend/src/services/signal_chat.py
Due: backend-pyright, backend-test

fix: handle Signal syncMessage envelopes for linked-device mode
  backend/src/services/completion_providers.py
  backend/src/services/signal_bridge.py
Due: backend-pyright, backend-test

Path conditions:
  backend-pyright: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-test: any of: ^backend/.*\.py$
