Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

backend-pyright:
  name: Type Check Backend (pyright)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
  language: system
  pass_filenames: false

frontend-lint:
  name: Lint Frontend (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Type Check Frontend (TypeScript)
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-test:
  name: Test Frontend (Vitest)
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false

backend-test:
  name: Test Backend (pytest)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Merge speckit.plan changes into copilot/add-tools-page-mcp-upload
  backend/src/api/__init__.py
  backend/src/api/agents.py
  backend/src/api/tools.py
  backend/src/migrations/014_extend_mcp_tools.sql
  backend/src/models/tools.py
  backend/src/services/tools/__init__.py
  backend/src/services/tools/service.py
  frontend/src/App.tsx
  frontend/src/components/agents/AddAgentModal.tsx
  frontend/src/components/tools/ToolCard.tsx
  frontend/src/components/tools/ToolChips.tsx
  frontend/src/components/tools/ToolSelectorModal.tsx
  frontend/src/components/tools/ToolsPanel.tsx
  frontend/src/components/tools/UploadMcpModal.tsx
  frontend/src/constants.ts
  frontend/src/hooks/useAgentTools.ts
  frontend/src/hooks/useTools.ts
  frontend/src/pages/ToolsPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge judge changes into copilot/documentation-sweep-setup
  .github/pull_request_template.md
  docs/checklists/monthly-review.md
  specs/027-doc-sweep/contracts/ci-config.md
  specs/027-doc-sweep/contracts/pr-template.md
  specs/027-doc-sweep/quickstart.md
  specs/027-doc-sweep/research.md
  specs/027-doc-sweep/spec.md
Due: none

Merge linter changes into copilot/write-performance-review-specification
  backend/tests/test_api_e2e.py
  backend/tests/unit/test_github_projects.py
  backend/tests/unit/test_settings_store.py
  backend/tests/unit/test_webhooks.py
Due: backend-pyright, backend-test

Merge linter changes into copilot/documentation-sweep-setup
  .github/ISSUE_TEMPLATE/chore-bug-basher.md
  .github/ISSUE_TEMPLATE/chore-documentation.md
  .github/ISSUE_TEMPLATE/chore-performance-review.md
  .github/ISSUE_TEMPLATE/chore-security-review.md
  .pre-commit-config.yaml
  backend/README.md
  frontend/docs/findings-log.md
Due: none

Merge speckit.implement changes into copilot/add-tools-page-mcp-upload
  backend/src/api/agents.py
  backend/src/api/tools.py
  backend/src/services/tools/service.py
  frontend/src/components/agents/AddAgentModal.tsx
  frontend/src/components/tools/UploadMcpModal.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge judge changes into copilot/add-tools-page-mcp-upload
  backend/src/api/agents.py
  backend/src/api/tools.py
  backend/src/services/tools/service.py
  frontend/src/components/agents/AddAgentModal.tsx
  frontend/src/components/tools/ToolCard.tsx
  frontend/src/components/tools/ToolsPanel.tsx
  frontend/src/types/index.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge linter changes into copilot/add-tools-page-mcp-upload
  backend/src/services/tools/service.py
Due: backend-pyright, backend-test

spec: 027-doc-sweep — Recurring Documentation Update Process (#2048)
  .github/ISSUE_TEMPLATE/chore-bug-basher.md
  .github/ISSUE_TEMPLATE/chore-documentation.md
  .github/ISSUE_TEMPLATE/chore-performance-review.md
  .github/ISSUE_TEMPLATE/chore-security-review.md
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  backend/README.md
  docs/OWNERS.md
  docs/checklists/monthly-review.md
  docs/checklists/quarterly-audit.md
  docs/checklists/weekly-sweep.md
  frontend/docs/findings-log.md
  specs/027-doc-sweep/checklists/requirements.md
  specs/027-doc-sweep/contracts/checklists.md
  specs/027-doc-sweep/contracts/ci-config.md
  specs/027-doc-sweep/contracts/pr-template.md
  specs/027-doc-sweep/data-model.md
  specs/027-doc-sweep/plan.md
  specs/027-doc-sweep/quickstart.md
  specs/027-doc-sweep/research.md
  specs/027-doc-sweep/spec.md
  specs/027-doc-sweep/tasks.md
Due: none

Add spec 027: Performance Review specification (#2035)
  .github/agents/copilot-instructions.md
  backend/tests/test_api_e2e.py
  backend/tests/unit/test_github_projects.py
  backend/tests/unit/test_settings_store.py
  backend/tests/unit/test_webhooks.py
  frontend/src/components/board/BoardColumn.tsx
  frontend/src/components/board/IssueCard.tsx
  frontend/src/components/chat/ChatPopup.tsx
  frontend/src/hooks/useBoardRefresh.test.tsx
  frontend/src/hooks/useBoardRefresh.ts
  frontend/src/hooks/useRealTimeSync.test.tsx
  frontend/src/hooks/useRealTimeSync.ts
  frontend/src/pages/ProjectsPage.tsx
  specs/027-performance-review/checklists/requirements.md
  specs/027-performance-review/contracts/cache-contract.md
  specs/027-performance-review/contracts/refresh-contract.md
  specs/027-performance-review/data-model.md
  specs/027-performance-review/plan.md
  specs/027-performance-review/quickstart.md
  specs/027-performance-review/research.md
  specs/027-performance-review/spec.md
  specs/027-performance-review/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

feat: agent default model selection with session-aware model cache
  backend/src/api/workflow.py
  backend/src/migrations/014_agent_default_models.sql
  backend/src/models/agent.py
  backend/src/models/agents.py
  backend/src/services/agents/service.py
  frontend/Dockerfile
  frontend/src/App.tsx
  frontend/src/components/agents/AgentCard.tsx
  frontend/src/components/agents/AgentsPanel.tsx
  frontend/src/components/board/AgentColumnCell.tsx
  frontend/src/components/board/AgentConfigRow.tsx
  frontend/src/components/pipeline/ModelSelector.tsx
  frontend/src/components/pipeline/PipelineBoard.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/hooks/useAgents.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useModels.ts
  frontend/src/hooks/usePipelineConfig.test.tsx
  frontend/src/hooks/usePipelineConfig.ts
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

spec(027): Add Tools Page with MCP Configuration Upload and Agent Tool Selection (#2059)
  .github/agents/copilot-instructions.md
  backend/src/api/__init__.py
  backend/src/api/agents.py
  backend/src/api/tools.py
  backend/src/migrations/014_extend_mcp_tools.sql
  backend/src/models/tools.py
  backend/src/services/tools/__init__.py
  backend/src/services/tools/service.py
  frontend/src/App.tsx
  frontend/src/components/agents/AddAgentModal.tsx
  frontend/src/components/tools/ToolCard.tsx
  frontend/src/components/tools/ToolChips.tsx
  frontend/src/components/tools/ToolSelectorModal.tsx
  frontend/src/components/tools/ToolsPanel.tsx
  frontend/src/components/tools/UploadMcpModal.tsx
  frontend/src/constants.ts
  frontend/src/hooks/useAgentTools.ts
  frontend/src/hooks/useTools.ts
  frontend/src/pages/ToolsPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/027-mcp-tools-page/checklists/requirements.md
  specs/027-mcp-tools-page/contracts/api.md
  specs/027-mcp-tools-page/contracts/components.md
  specs/027-mcp-tools-page/data-model.md
  specs/027-mcp-tools-page/plan.md
  specs/027-mcp-tools-page/quickstart.md
  specs/027-mcp-tools-page/research.md
  specs/027-mcp-tools-page/spec.md
  specs/027-mcp-tools-page/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

feat: move GitHub rate limit health bar to global header
  frontend/src/context/RateLimitContext.tsx
  frontend/src/layout/AppLayout.tsx
  frontend/src/layout/RateLimitBar.tsx
  frontend/src/layout/TopBar.tsx
  frontend/src/pages/ProjectsPage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

fix: address PR review — reduce API overhead, fix duplicates, harden guards
  backend/src/api/workflow.py
  backend/src/services/agents/service.py
  frontend/src/App.tsx
  frontend/src/components/board/AgentConfigRow.tsx
  frontend/src/context/RateLimitContext.tsx
  frontend/src/hooks/usePipelineConfig.test.tsx
  frontend/src/pages/ProjectsPage.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

feat: agent default model selection & rate limit bar in global header (#2079)
  backend/src/api/workflow.py
  backend/src/migrations/014_agent_default_models.sql
  backend/src/models/agent.py
  backend/src/models/agents.py
  backend/src/services/agents/service.py
  frontend/Dockerfile
  frontend/src/App.tsx
  frontend/src/components/agents/AgentCard.tsx
  frontend/src/components/agents/AgentsPanel.tsx
  frontend/src/components/board/AgentColumnCell.tsx
  frontend/src/components/board/AgentConfigRow.tsx
  frontend/src/components/pipeline/ModelSelector.tsx
  frontend/src/components/pipeline/PipelineBoard.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/context/RateLimitContext.tsx
  frontend/src/hooks/useAgents.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useModels.ts
  frontend/src/hooks/usePipelineConfig.test.tsx
  frontend/src/hooks/usePipelineConfig.ts
  frontend/src/layout/AppLayout.tsx
  frontend/src/layout/RateLimitBar.tsx
  frontend/src/layout/TopBar.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/pages/ProjectsPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: resolve issue creation 404, pipeline table, and misc bugs
  backend/src/api/chat.py
  backend/src/migrations/013_pipeline_configs.sql
  backend/src/services/github_auth.py
  backend/src/services/github_projects/service.py
  backend/src/services/settings_store.py
  backend/tests/unit/test_github_auth.py
  backend/tests/unit/test_github_projects.py
  frontend/src/components/chat/TaskPreview.tsx
  frontend/src/components/pipeline/PipelineToolbar.tsx
  frontend/src/hooks/useChat.test.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/usePipelineConfig.ts
  frontend/src/pages/AgentsPipelinePage.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.plan changes into copilot/implement-simplicity-dry-refactoring
  specs/028-simplicity-dry-refactor/contracts/backend-helpers.md
  specs/028-simplicity-dry-refactor/contracts/frontend-abstractions.md
  specs/028-simplicity-dry-refactor/contracts/initialization.md
  specs/028-simplicity-dry-refactor/contracts/service-decomposition.md
  specs/028-simplicity-dry-refactor/contracts/test-cleanup.md
  specs/028-simplicity-dry-refactor/data-model.md
  specs/028-simplicity-dry-refactor/plan.md
  specs/028-simplicity-dry-refactor/quickstart.md
  specs/028-simplicity-dry-refactor/research.md
Due: none

fix: apply AI review recommendations
  backend/src/services/github_projects/service.py
  backend/tests/unit/test_github_projects.py
Due: backend-pyright, backend-test

fix: resolve issue creation 404, pipeline table, and misc bugs (#2091)
  backend/src/api/chat.py
  backend/src/migrations/013_pipeline_configs.sql
  backend/src/services/github_auth.py
  backend/src/services/github_projects/service.py
  backend/src/services/settings_store.py
  backend/tests/unit/test_github_auth.py
  backend/tests/unit/test_github_projects.py
  frontend/src/components/chat/TaskPreview.tsx
  frontend/src/components/pipeline/PipelineToolbar.tsx
  frontend/src/hooks/useChat.test.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/usePipelineConfig.ts
  frontend/src/pages/AgentsPipelinePage.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix(chores): restore and improve Clean Up button on Chores page
  frontend/src/components/board/CleanUpAuditHistory.tsx
  frontend/src/components/board/CleanUpButton.tsx
  frontend/src/components/board/CleanUpConfirmModal.tsx
  frontend/src/components/board/CleanUpSummary.tsx
  frontend/src/components/chores/ChoresPanel.tsx
  frontend/src/pages/ChoresPage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

fix(chores): address AI review recommendations on PR #2092
  frontend/src/components/board/CleanUpButton.tsx
  frontend/src/components/chores/ChoresPanel.tsx
  frontend/src/pages/ChoresPage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

fix(chores): restore and improve Clean Up button on Chores page (#2092)
  frontend/src/components/board/CleanUpAuditHistory.tsx
  frontend/src/components/board/CleanUpButton.tsx
  frontend/src/components/board/CleanUpConfirmModal.tsx
  frontend/src/components/board/CleanUpSummary.tsx
  frontend/src/components/chores/ChoresPanel.tsx
  frontend/src/pages/ChoresPage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.plan changes into copilot/create-pipeline-page-specification
  .github/agents/copilot-instructions.md
  specs/028-pipeline-mcp-config/contracts/api.md
  specs/028-pipeline-mcp-config/contracts/components.md
  specs/028-pipeline-mcp-config/data-model.md
  specs/028-pipeline-mcp-config/plan.md
  specs/028-pipeline-mcp-config/quickstart.md
  specs/028-pipeline-mcp-config/research.md
Due: none

Merge speckit.tasks changes into copilot/create-pipeline-page-specification
  specs/028-pipeline-mcp-config/tasks.md
Due: none

Merge speckit.plan changes into copilot/speckit-specify-agent-pipeline-ux
  specs/028-project-page-ux/contracts/api.md
  specs/028-project-page-ux/contracts/components.md
  specs/028-project-page-ux/data-model.md
  specs/028-project-page-ux/plan.md
  specs/028-project-page-ux/quickstart.md
  specs/028-project-page-ux/research.md
Due: none

Merge speckit.tasks changes into copilot/speckit-specify-agent-pipeline-ux
  specs/028-project-page-ux/tasks.md
Due: none

Merge speckit.plan changes into copilot/speckit-specify-refactor-simplicity-dry
  specs/028-simplicity-dry-refactor/contracts/api.md
  specs/028-simplicity-dry-refactor/contracts/components.md
  specs/028-simplicity-dry-refactor/data-model.md
  specs/028-simplicity-dry-refactor/plan.md
  specs/028-simplicity-dry-refactor/quickstart.md
  specs/028-simplicity-dry-refactor/research.md
Due: none

Merge speckit.implement changes into copilot/create-pipeline-page-specification
  backend/src/api/pipelines.py
  backend/src/migrations/015_pipeline_mcp_presets.sql
  backend/src/models/pipeline.py
  backend/src/services/pipelines/service.py
  frontend/src/components/pipeline/AgentNode.tsx
  frontend/src/components/pipeline/PipelineBoard.tsx
  frontend/src/components/pipeline/PipelineFlowGraph.tsx
  frontend/src/components/pipeline/PipelineModelDropdown.tsx
  frontend/src/components/pipeline/PipelineToolbar.tsx
  frontend/src/components/pipeline/PresetBadge.tsx
  frontend/src/components/pipeline/SavedWorkflowsList.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/components/pipeline/index.ts
  frontend/src/data/preset-pipelines.ts
  frontend/src/hooks/usePipelineConfig.ts
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/028-pipeline-mcp-config/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.implement changes into copilot/speckit-specify-agent-pipeline-ux
  backend/src/services/github_projects/service.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/board/AgentColumnCell.tsx
  frontend/src/components/board/AgentConfigRow.tsx
  frontend/src/components/board/AgentDragOverlay.tsx
  frontend/src/components/board/AgentPresetSelector.tsx
  frontend/src/components/board/AgentTile.tsx
  frontend/src/components/board/BoardColumn.tsx
  frontend/src/components/board/IssueDetailModal.tsx
  frontend/src/components/board/ProjectBoard.tsx
  frontend/src/index.css
  frontend/src/pages/ProjectsPage.tsx
  frontend/src/tests/utils/formatAgentName.test.ts
  frontend/src/types/index.ts
  frontend/src/utils/formatAgentName.ts
  specs/028-project-page-ux/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.tasks changes into copilot/speckit-specify-refactor-simplicity-dry
  specs/028-simplicity-dry-refactor/tasks.md
Due: none

Merge speckit.plan changes into copilot/fix-tools-page-mcp-bugs
  .github/agents/copilot-instructions.md
  specs/028-mcp-tools-fixes/contracts/api.md
  specs/028-mcp-tools-fixes/contracts/components.md
  specs/028-mcp-tools-fixes/data-model.md
  specs/028-mcp-tools-fixes/plan.md
  specs/028-mcp-tools-fixes/quickstart.md
  specs/028-mcp-tools-fixes/research.md
Due: none

Merge speckit.tasks changes into copilot/fix-tools-page-mcp-bugs
  specs/028-mcp-tools-fixes/tasks.md
Due: none

Merge speckit.plan changes into copilot/create-chat-ux-enhancements-spec
  .github/agents/copilot-instructions.md
  specs/028-chat-ux-enhancements/contracts/api.md
  specs/028-chat-ux-enhancements/contracts/components.md
  specs/028-chat-ux-enhancements/data-model.md
  specs/028-chat-ux-enhancements/plan.md
  specs/028-chat-ux-enhancements/quickstart.md
  specs/028-chat-ux-enhancements/research.md
Due: none

Merge judge changes into copilot/create-pipeline-page-specification
  backend/src/services/pipelines/service.py
  specs/028-pipeline-mcp-config/contracts/api.md
Due: backend-pyright, backend-test

Path conditions:
  backend-pyright: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-test: any of: ^backend/.*\.py$
