Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Backend Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff-format
        name: Format Python (ruff)
        files: ^backend/
      - id: ruff
        name: Lint Python (ruff)
        files: ^backend/
        args: [--fix]

  - repo: local
    hooks:
      - id: backend-pyright
        name: Type Check Backend (pyright)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Lint Frontend (ESLint)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: Type Check Frontend (TypeScript)
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-test
        name: Test Frontend (Vitest)
        entry: bash -c 'cd frontend && npm test'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: backend-test
        name: Test Backend (pytest)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        stages: [pre-push]  # Run tests only on push, not every commit

feat(cleanup): detect branches/PRs linked to sub-issues of closed parent issues
  backend/src/models/cleanup.py
  backend/src/services/cleanup_service.py
  frontend/src/components/board/CleanUpConfirmModal.tsx
  frontend/src/types/index.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix(board): restyle GitHub label pills to translucent app-theme chips
  frontend/src/components/board/IssueCard.test.tsx
  frontend/src/components/board/IssueCard.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

fix(pipeline): resolve TypeScript type errors and pipeline UX improvements
  frontend/src/components/pipeline/AgentNode.tsx
  frontend/src/components/pipeline/PipelineBoard.tsx
  frontend/src/components/pipeline/PipelineToolbar.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/hooks/usePipelineConfig.ts
  frontend/src/pages/AgentsPage.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/pages/ProjectsPage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

feat(chores): enrich pipeline trigger button with label prefix and stage/agent counts
  frontend/src/components/chores/ChoreCard.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

chore: remove MCP tool 'markitdown' configuration
  .vscode/mcp.json
Due: none

chore: remove MCP tool 'markitdown' configuration
  .copilot/mcp.json
Due: none

Merge speckit.plan changes into copilot/add-profile-page-to-app
  .github/agents/copilot-instructions.md
  specs/031-profile-page/contracts/components.md
  specs/031-profile-page/data-model.md
  specs/031-profile-page/plan.md
  specs/031-profile-page/quickstart.md
  specs/031-profile-page/research.md
Due: none

Merge speckit.tasks changes into copilot/add-profile-page-to-app
  specs/031-profile-page/tasks.md
Due: none

fix(pr): adopt justified review follow-ups for repo MCP and UI behaviors
  backend/src/api/tools.py
  backend/src/services/tools/service.py
  backend/tests/unit/test_api_tools.py
  backend/tests/unit/test_tools_service.py
  frontend/src/components/agents/AgentCard.tsx
  frontend/src/components/agents/__tests__/AgentsPanel.test.tsx
  frontend/src/components/tools/EditRepoMcpModal.tsx
  frontend/src/components/tools/ToolsPanel.tsx
  frontend/src/pages/ProjectsPage.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix(readme): remove dead license link
  README.md
Due: none

Merge speckit.implement changes into copilot/add-profile-page-to-app
  backend/src/api/__init__.py
  backend/src/api/profile.py
  backend/src/models/user.py
  backend/src/services/profile_store.py
  frontend/src/App.tsx
  frontend/src/components/profile/ProfileForm.tsx
  frontend/src/components/profile/ProfileHeader.tsx
  frontend/src/components/profile/ProfileMetadata.tsx
  frontend/src/constants.ts
  frontend/src/hooks/useProfile.ts
  frontend/src/layout/TopBar.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/031-profile-page/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge judge changes into copilot/add-profile-page-to-app
  backend/src/api/profile.py
  frontend/src/components/profile/ProfileHeader.tsx
  frontend/src/layout/TopBar.tsx
  frontend/src/services/api.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge linter changes into copilot/add-profile-page-to-app
  backend/src/services/profile_store.py
Due: backend-pyright, backend-test

Fix chat placeholder cycling behavior
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/MentionInput.test.tsx
  frontend/src/components/chat/MentionInput.tsx
  frontend/src/hooks/useCyclingPlaceholder.test.ts
  frontend/src/hooks/useCyclingPlaceholder.ts
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.plan changes into copilot/analyze-frontend-responsiveness
  .github/agents/copilot-instructions.md
  specs/031-frontend-responsive-audit/contracts/components.md
  specs/031-frontend-responsive-audit/data-model.md
  specs/031-frontend-responsive-audit/plan.md
  specs/031-frontend-responsive-audit/quickstart.md
  specs/031-frontend-responsive-audit/research.md
Due: none

Merge speckit.tasks changes into copilot/analyze-frontend-responsiveness
  specs/031-frontend-responsive-audit/tasks.md
Due: none

Merge designer changes into copilot/frontend-style-audit-animations
  frontend/src/components/common/CelestialCatalogHero.tsx
  frontend/src/components/common/ProjectSelectionEmptyState.tsx
  frontend/src/index.css
  frontend/src/layout/AppLayout.tsx
  frontend/src/layout/Sidebar.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/NotFoundPage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.plan changes into copilot/frontend-style-audit-animations
  .github/agents/copilot-instructions.md
  specs/031-celestial-theme-animations/contracts/components.md
  specs/031-celestial-theme-animations/data-model.md
  specs/031-celestial-theme-animations/plan.md
  specs/031-celestial-theme-animations/quickstart.md
  specs/031-celestial-theme-animations/research.md
Due: none

Merge speckit.implement changes into copilot/analyze-frontend-responsiveness
  frontend/e2e/viewports.ts
  frontend/src/components/agents/AddAgentModal.tsx
  frontend/src/components/agents/AgentIconPickerModal.tsx
  frontend/src/components/agents/BulkModelUpdateDialog.tsx
  frontend/src/components/board/CleanUpConfirmModal.tsx
  frontend/src/components/board/IssueDetailModal.tsx
  frontend/src/components/board/ProjectBoard.tsx
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chores/AddChoreModal.tsx
  frontend/src/components/chores/ChoreScheduleConfig.tsx
  frontend/src/components/chores/ConfirmChoreModal.tsx
  frontend/src/components/pipeline/PipelineFlowGraph.tsx
  frontend/src/components/pipeline/UnsavedChangesDialog.tsx
  frontend/src/components/tools/EditRepoMcpModal.tsx
  frontend/src/components/tools/ToolSelectorModal.tsx
  frontend/src/components/tools/UploadMcpModal.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/confirmation-dialog.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/constants.ts
  frontend/src/hooks/useMediaQuery.ts
  frontend/src/hooks/useSidebarState.ts
  frontend/src/index.css
  frontend/src/layout/AppLayout.tsx
  frontend/src/layout/NotificationBell.tsx
  frontend/src/layout/Sidebar.tsx
  frontend/src/layout/TopBar.tsx
  frontend/src/pages/AgentsPage.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/pages/AppPage.tsx
  frontend/src/pages/ChoresPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/ProjectsPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/ToolsPage.tsx
  specs/031-frontend-responsive-audit/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.tasks changes into copilot/frontend-style-audit-animations
  specs/031-celestial-theme-animations/tasks.md
Due: none

Merge judge changes into copilot/analyze-frontend-responsiveness
  frontend/src/components/board/ProjectBoard.tsx
  frontend/src/layout/AppLayout.tsx
  frontend/src/layout/Sidebar.tsx
  frontend/src/layout/TopBar.tsx
  specs/031-frontend-responsive-audit/contracts/components.md
  specs/031-frontend-responsive-audit/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge quality-assurance changes into copilot/analyze-frontend-responsiveness
  frontend/src/components/chores/ConfirmChoreModal.tsx
  frontend/src/components/pipeline/PipelineFlowGraph.tsx
  frontend/src/components/ui/button.test.tsx
  frontend/src/constants.test.ts
  frontend/src/hooks/useMediaQuery.test.ts
Due: frontend-lint, frontend-typecheck, frontend-test

Merge tester changes into copilot/analyze-frontend-responsiveness
  docs/testing.md
  frontend/e2e/responsive-layouts.spec.ts
  frontend/e2e/responsive-navigation.spec.ts
  frontend/e2e/responsive-touch-targets.spec.ts
  frontend/e2e/responsive-typography.spec.ts
  frontend/src/hooks/useSidebarState.test.ts
  frontend/src/layout/Sidebar.test.tsx
  frontend/src/layout/TopBar.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge archivist changes into copilot/analyze-frontend-responsiveness
  README.md
  docs/architecture.md
  docs/project-structure.md
  docs/responsive-design.md
  docs/testing.md
Due: none

Merge judge changes into copilot/frontend-style-audit-animations
  .github/agents/copilot-instructions.md
  frontend/src/components/ThemeProvider.test.tsx
  frontend/src/components/ThemeProvider.tsx
  frontend/src/components/board/IssueCard.tsx
  frontend/src/components/chat/ChatPopup.tsx
  frontend/src/components/common/CelestialLoader.tsx
  frontend/src/components/settings/GlobalSettings.tsx
  frontend/src/index.css
Due: frontend-lint, frontend-typecheck, frontend-test

Merge linter changes into copilot/analyze-frontend-responsiveness
  frontend/src/components/agents/AddAgentModal.tsx
  frontend/src/components/agents/AgentIconPickerModal.tsx
  frontend/src/components/agents/BulkModelUpdateDialog.tsx
  frontend/src/components/board/CleanUpConfirmModal.tsx
  frontend/src/components/board/IssueDetailModal.tsx
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chores/AddChoreModal.tsx
  frontend/src/components/chores/ChoreScheduleConfig.tsx
  frontend/src/components/chores/ConfirmChoreModal.tsx
  frontend/src/components/pipeline/PipelineFlowGraph.tsx
  frontend/src/components/pipeline/UnsavedChangesDialog.tsx
  frontend/src/components/tools/EditRepoMcpModal.tsx
  frontend/src/components/tools/ToolSelectorModal.tsx
  frontend/src/components/tools/UploadMcpModal.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/confirmation-dialog.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/constants.ts
  frontend/src/hooks/useMediaQuery.test.ts
  frontend/src/hooks/useSidebarState.ts
  frontend/src/index.css
  frontend/src/layout/AppLayout.tsx
  frontend/src/layout/NotificationBell.tsx
  frontend/src/layout/Sidebar.test.tsx
  frontend/src/layout/Sidebar.tsx
  frontend/src/layout/TopBar.test.tsx
  frontend/src/pages/AgentsPage.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/pages/AppPage.tsx
  frontend/src/pages/ChoresPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/ProjectsPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/ToolsPage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge quality-assurance changes into copilot/frontend-style-audit-animations
  frontend/src/components/common/CelestialLoader.tsx
  frontend/src/components/ui/button.test.tsx
  frontend/src/components/ui/input.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge tester changes into copilot/frontend-style-audit-animations
  frontend/src/components/ThemeProvider.test.tsx
  frontend/src/components/common/CelestialCatalogHero.test.tsx
  frontend/src/components/common/CelestialLoader.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-test
