Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Backend Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff-format
        name: Format Python (ruff)
        files: ^backend/
      - id: ruff
        name: Lint Python (ruff)
        files: ^backend/
        args: [--fix]

  - repo: local
    hooks:
      - id: backend-pyright
        name: Type Check Backend (pyright)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Lint Frontend (ESLint)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: Type Check Frontend (TypeScript)
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-test
        name: Test Frontend (Vitest)
        entry: bash -c 'cd frontend && npm test'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: backend-test
        name: Test Backend (pytest)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        stages: [pre-push]  # Run tests only on push, not every commit

fix: address AI code review feedback from PR #332
  backend/src/main.py
  backend/src/services/workflow_orchestrator.py
  frontend/src/components/board/AgentPresetSelector.tsx
  frontend/src/hooks/useAgentConfig.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.plan changes into copilot/update-app-title-to-hello-world-again
  .github/agents/copilot-instructions.md
  specs/005-hello-world-title/contracts/README.md
  specs/005-hello-world-title/data-model.md
  specs/005-hello-world-title/plan.md
  specs/005-hello-world-title/quickstart.md
  specs/005-hello-world-title/research.md
Due: none

Merge speckit.tasks changes into copilot/update-app-title-to-hello-world-again
  specs/005-hello-world-title/tasks.md
Due: none

Merge speckit.implement changes into copilot/update-app-title-to-hello-world-again
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .env.example
  .gitignore
  README.md
  backend/README.md
  backend/pyproject.toml
  backend/src/main.py
  backend/tests/test_api_e2e.py
  frontend/e2e/auth.spec.ts
  frontend/e2e/integration.spec.ts
  frontend/e2e/ui.spec.ts
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/005-hello-world-title/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.tasks changes into copilot/achieve-90-percent-test-coverage
  backend/pyproject.toml
  backend/tests/unit/test_completion_providers.py
  frontend/src/hooks/useWorkflow.test.tsx
  specs/005-test-coverage/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.plan changes into copilot/update-app-title-to-goodbye
  .github/agents/copilot-instructions.md
  specs/005-goodbye-app-title/contracts/README.md
  specs/005-goodbye-app-title/data-model.md
  specs/005-goodbye-app-title/plan.md
  specs/005-goodbye-app-title/quickstart.md
  specs/005-goodbye-app-title/research.md
Due: none

Merge speckit.tasks changes into copilot/update-app-title-to-goodbye
  specs/005-goodbye-app-title/tasks.md
Due: none

Merge speckit.plan changes into copilot/update-app-title-to-agentic
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .env.example
  README.md
  backend/README.md
  backend/pyproject.toml
  backend/src/main.py
  backend/tests/test_api_e2e.py
  frontend/e2e/auth.spec.ts
  frontend/e2e/integration.spec.ts
  frontend/e2e/ui.spec.ts
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.specify changes into copilot/add-pink-background-color-another-one
  specs/005-pink-background/checklists/requirements.md
  specs/005-pink-background/spec.md
Due: none

Merge speckit.plan changes into copilot/update-app-title-to-agentic
  .github/agents/copilot-instructions.md
  specs/001-agentic-app-title/contracts/file-changes.md
  specs/001-agentic-app-title/data-model.md
  specs/001-agentic-app-title/plan.md
  specs/001-agentic-app-title/quickstart.md
  specs/001-agentic-app-title/research.md
Due: none

Merge speckit.plan changes into copilot/update-app-title-to-new-app
  .github/agents/copilot-instructions.md
  specs/005-new-app-title/contracts/file-changes.md
  specs/005-new-app-title/data-model.md
  specs/005-new-app-title/plan.md
  specs/005-new-app-title/quickstart.md
  specs/005-new-app-title/research.md
Due: none

Merge speckit.implement changes into copilot/update-app-title-to-new-app
  specs/005-new-app-title/tasks.md
Due: none

Merge speckit.implement changes into copilot/update-app-title-to-new-app
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .env.example
  .gitignore
  README.md
  backend/README.md
  backend/pyproject.toml
  backend/src/main.py
  backend/tests/test_api_e2e.py
  frontend/e2e/auth.spec.ts
  frontend/e2e/integration.spec.ts
  frontend/e2e/ui.spec.ts
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/005-new-app-title/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.tasks changes into copilot/add-brown-background-color
  specs/005-brown-background/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-brown-background-color
  .gitignore
  frontend/src/App.css
  frontend/src/index.css
  specs/005-brown-background/tasks.md
Due: none

Merge speckit.plan changes into copilot/add-teal-background-color
  .github/agents/copilot-instructions.md
  specs/007-teal-background/contracts/file-changes.md
  specs/007-teal-background/data-model.md
  specs/007-teal-background/plan.md
  specs/007-teal-background/quickstart.md
  specs/007-teal-background/research.md
Due: none

Merge speckit.tasks changes into copilot/add-teal-background-color
  specs/007-teal-background/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-teal-background-color
  frontend/src/index.css
  frontend/tsconfig.tsbuildinfo
  specs/007-teal-background/tasks.md
Due: none

feat: add sub-issues to GitHub Project on creation
  backend/src/services/github_projects.py
  backend/src/services/workflow_orchestrator.py
Due: backend-pyright, backend-test

Merge speckit.plan changes into copilot/update-page-title-to-objects
  .github/agents/copilot-instructions.md
  specs/005-update-page-title/contracts/file-changes.md
  specs/005-update-page-title/data-model.md
  specs/005-update-page-title/plan.md
  specs/005-update-page-title/quickstart.md
  specs/005-update-page-title/research.md
Due: none

Merge speckit.tasks changes into copilot/update-page-title-to-objects
  specs/005-update-page-title/tasks.md
Due: none

Merge speckit.implement changes into copilot/update-page-title-to-objects
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .env.example
  README.md
  backend/README.md
  backend/pyproject.toml
  backend/src/main.py
  backend/tests/test_api_e2e.py
  frontend/e2e/auth.spec.ts
  frontend/e2e/integration.spec.ts
  frontend/e2e/ui.spec.ts
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.implement changes into copilot/update-page-title-to-objects
  .gitignore
  backend/pyproject.toml
  frontend/package-lock.json
  frontend/package.json
  specs/005-update-page-title/tasks.md
Due: none

Merge speckit.plan changes into copilot/add-blue-background-color-another-one
  .gitignore
  frontend/package-lock.json
  frontend/src/App.css
  frontend/src/index.css
Due: none

Merge speckit.plan changes into copilot/update-app-title-to-one-more
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .env.example
  .gitignore
  README.md
  backend/README.md
  backend/pyproject.toml
  backend/src/main.py
  backend/tests/test_api_e2e.py
  frontend/e2e/auth.spec.ts
  frontend/e2e/integration.spec.ts
  frontend/e2e/ui.spec.ts
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  frontend/tsconfig.node.tsbuildinfo
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.tasks changes into copilot/update-app-title-to-one-more
  specs/007-update-app-title/tasks.md
Due: none

Merge speckit.implement changes into copilot/update-app-title-to-one-more
  frontend/package-lock.json
  specs/007-update-app-title/tasks.md
Due: none

Merge speckit.plan changes into copilot/add-black-background-theme
  .github/agents/copilot-instructions.md
  specs/007-black-background/contracts/css-changes.md
  specs/007-black-background/data-model.md
  specs/007-black-background/plan.md
  specs/007-black-background/quickstart.md
  specs/007-black-background/research.md
Due: none
