Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Backend Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff-format
        name: Format Python (ruff)
        files: ^backend/
      - id: ruff
        name: Lint Python (ruff)
        files: ^backend/
        args: [--fix]

  - repo: local
    hooks:
      - id: backend-pyright
        name: Type Check Backend (pyright)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Lint Frontend (ESLint)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: Type Check Frontend (TypeScript)
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-test
        name: Test Frontend (Vitest)
        entry: bash -c 'cd frontend && npm test'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: backend-test
        name: Test Backend (pytest)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        stages: [pre-push]  # Run tests only on push, not every commit

chore: sync MCP servers and enforce tools: ['*'] on speckit.taskstoissues.agent.md
  .github/agents/speckit.taskstoissues.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on speckit.tasks.agent.md
  .github/agents/speckit.tasks.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on tester.agent.md
  .github/agents/tester.agent.md
Due: none

docs: fix documentation drift found during documentation sweep (#3649)
  docs/api-reference.md
  docs/project-structure.md
  docs/setup.md
  docs/testing.md
Due: none

Merge linter changes into copilot/make-parent-issue-intake-collapsible
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/board/ProjectIssueLaunchPanel.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge judge changes into copilot/make-parent-issue-intake-collapsible
  frontend/src/components/board/ProjectIssueLaunchPanel.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

feat: make Parent Issue Intake module collapsible (collapsed by default) (#3657)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/board/ProjectIssueLaunchPanel.test.tsx
  frontend/src/components/board/ProjectIssueLaunchPanel.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

security: require ADMIN_GITHUB_USER_ID in production mode
  backend/src/config.py
  backend/src/dependencies.py
  backend/src/services/agent_creator.py
  backend/tests/unit/test_agent_creator.py
  backend/tests/unit/test_api_auth.py
  backend/tests/unit/test_auth_security.py
  backend/tests/unit/test_config_validation.py
Due: backend-pyright, backend-test

chore: remove top-level tools field from all agent definitions
  .github/agents/archivist.agent.md
  .github/agents/designer.agent.md
  .github/agents/judge.agent.md
  .github/agents/linter.agent.md
  .github/agents/quality-assurance.agent.md
  .github/agents/speckit.analyze.agent.md
  .github/agents/speckit.checklist.agent.md
  .github/agents/speckit.clarify.agent.md
  .github/agents/speckit.constitution.agent.md
  .github/agents/speckit.implement.agent.md
  .github/agents/speckit.plan.agent.md
  .github/agents/speckit.specify.agent.md
  .github/agents/speckit.tasks.agent.md
  .github/agents/speckit.taskstoissues.agent.md
  .github/agents/tester.agent.md
Due: none

fix: address PR review — type normalization, is_admin_user parity, validation
  backend/src/config.py
  backend/src/dependencies.py
  backend/src/services/agent_creator.py
  backend/tests/unit/test_agent_creator.py
  backend/tests/unit/test_config_validation.py
Due: backend-pyright, backend-test

fix: address round-2 review comments on PR #3697
  backend/src/config.py
  backend/src/dependencies.py
  backend/src/services/agent_creator.py
  backend/src/services/agents/agent_mcp_sync.py
  backend/tests/unit/test_agent_creator.py
  backend/tests/unit/test_agent_mcp_sync.py
  backend/tests/unit/test_config_validation.py
Due: backend-pyright, backend-test

Merge speckit.plan changes into copilot/speckit-specify-performance-review-again
  .github/agents/copilot-instructions.md
  specs/039-performance-review/contracts/cache-behavior.md
  specs/039-performance-review/contracts/refresh-policy.md
  specs/039-performance-review/contracts/render-behavior.md
  specs/039-performance-review/data-model.md
  specs/039-performance-review/plan.md
  specs/039-performance-review/quickstart.md
  specs/039-performance-review/research.md
Due: none

style: auto-format 4 files with ruff (pre-existing drift)
  backend/src/attachment_formatter.py
  backend/src/services/chat_store.py
  backend/src/services/pipelines/service.py
  backend/tests/unit/test_attachment_formatter.py
Due: backend-pyright, backend-test

Remove 'Current Pipeline' section from Pipelines page (#3696)
  frontend/src/pages/AgentsPipelinePage.test.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

security: require ADMIN_GITHUB_USER_ID in production mode + remove tools from agent defs (#3697)
  .github/agents/archivist.agent.md
  .github/agents/designer.agent.md
  .github/agents/judge.agent.md
  .github/agents/linter.agent.md
  .github/agents/quality-assurance.agent.md
  .github/agents/speckit.analyze.agent.md
  .github/agents/speckit.checklist.agent.md
  .github/agents/speckit.clarify.agent.md
  .github/agents/speckit.constitution.agent.md
  .github/agents/speckit.implement.agent.md
  .github/agents/speckit.plan.agent.md
  .github/agents/speckit.specify.agent.md
  .github/agents/speckit.tasks.agent.md
  .github/agents/speckit.taskstoissues.agent.md
  .github/agents/tester.agent.md
  backend/src/attachment_formatter.py
  backend/src/config.py
  backend/src/dependencies.py
  backend/src/services/agent_creator.py
  backend/src/services/agents/agent_mcp_sync.py
  backend/src/services/chat_store.py
  backend/src/services/pipelines/service.py
  backend/tests/unit/test_agent_creator.py
  backend/tests/unit/test_agent_mcp_sync.py
  backend/tests/unit/test_api_auth.py
  backend/tests/unit/test_attachment_formatter.py
  backend/tests/unit/test_auth_security.py
  backend/tests/unit/test_config_validation.py
Due: backend-pyright, backend-test

Merge speckit.tasks changes into copilot/speckit-specify-performance-review-again
  specs/039-performance-review/tasks.md
Due: none

Merge judge changes into copilot/fix-chore-count-issue
  frontend/src/utils/parentIssueCount.test.ts
Due: frontend-lint, frontend-typecheck, frontend-test

Fix Chore Issue Run Count: Exclude Chore-type issues via GitHub Issue Types (#3754)
  backend/src/models/board.py
  backend/src/services/github_projects/board.py
  backend/src/services/github_projects/graphql.py
  frontend/src/types/index.ts
  frontend/src/utils/parentIssueCount.test.ts
  frontend/src/utils/parentIssueCount.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.plan changes into copilot/speckitspecify-plan-group-aware
  .github/agents/copilot-instructions.md
  specs/039-group-pipeline-execution/contracts/internal-interfaces.md
  specs/039-group-pipeline-execution/data-model.md
  specs/039-group-pipeline-execution/plan.md
  specs/039-group-pipeline-execution/quickstart.md
  specs/039-group-pipeline-execution/research.md
Due: none

Merge judge changes into copilot/update-ci-commit-hooks-mermaid-diagrams
  docs/architectures/data-flow.mmd
  scripts/generate-diagrams.sh
  scripts/pre-commit
Due: none

Merge speckit.plan changes into copilot/speckitspecify-dead-code-cleanup
  .github/agents/copilot-instructions.md
  specs/039-dead-code-cleanup/contracts/complexity-budget.md
  specs/039-dead-code-cleanup/contracts/deprecation-policy.md
  specs/039-dead-code-cleanup/contracts/error-handling.md
  specs/039-dead-code-cleanup/data-model.md
  specs/039-dead-code-cleanup/plan.md
  specs/039-dead-code-cleanup/quickstart.md
  specs/039-dead-code-cleanup/research.md
Due: none

Automate Mermaid architecture diagram generation via CI and commit hooks (#3768)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/architectures/backend-components.mmd
  docs/architectures/data-flow.mmd
  docs/architectures/deployment.mmd
  docs/architectures/frontend-components.mmd
  docs/architectures/high-level.mmd
  scripts/generate-diagrams.sh
  scripts/pre-commit
  scripts/setup-hooks.sh
Due: none

Merge speckit.tasks changes into copilot/speckitspecify-plan-group-aware
  specs/039-group-pipeline-execution/tasks.md
Due: none

Merge speckit.analyze changes into copilot/speckitspecify-dead-code-cleanup
  specs/039-dead-code-cleanup/tasks.md
Due: none

Merge speckit.implement changes into copilot/speckitspecify-plan-group-aware
  backend/src/api/pipelines.py
  backend/src/models/workflow.py
  backend/src/services/agent_tracking.py
  backend/src/services/copilot_polling/__init__.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/workflow_orchestrator/__init__.py
  backend/src/services/workflow_orchestrator/config.py
  backend/src/services/workflow_orchestrator/models.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_agent_tracking.py
  backend/tests/unit/test_models.py
  specs/039-group-pipeline-execution/tasks.md
Due: backend-pyright, backend-test

Merge speckit.implement changes into copilot/speckitspecify-dead-code-cleanup
  backend/src/api/auth.py
  backend/src/api/chat.py
  backend/src/api/projects.py
  backend/src/api/signal.py
  backend/src/models/chat.py
  backend/src/models/pipeline.py
  backend/src/models/recommendation.py
  backend/src/prompts/issue_generation.py
  backend/src/services/agent_tracking.py
  backend/src/services/cache.py
  backend/src/services/copilot_polling/agent_output.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/copilot_polling/recovery.py
  backend/src/services/pipelines/service.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/integration/test_custom_agent_assignment.py
  docs/configuration.md
  frontend/src/components/settings/DynamicDropdown.tsx
  frontend/src/hooks/useChatHistory.ts
  frontend/src/hooks/useScrollLock.ts
  frontend/src/types/index.ts
  specs/039-dead-code-cleanup/migration-plan-singleton.md
  specs/039-dead-code-cleanup/migration-plan-sqlite.md
  specs/039-dead-code-cleanup/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge judge changes into copilot/speckitspecify-plan-group-aware
  backend/src/api/chat.py
  backend/src/models/workflow.py
  backend/src/services/agent_tracking.py
  backend/src/services/chores/service.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/workflow_orchestrator/config.py
  backend/src/services/workflow_orchestrator/models.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_agent_tracking.py
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_models.py
  backend/tests/unit/test_workflow_orchestrator_config.py
Due: backend-pyright, backend-test

Merge judge changes into copilot/speckitspecify-dead-code-cleanup
  backend/src/models/pipeline.py
  backend/src/services/agent_tracking.py
  backend/src/services/cache.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/pipelines/service.py
  specs/039-dead-code-cleanup/contracts/deprecation-policy.md
  specs/039-dead-code-cleanup/contracts/error-handling.md
  specs/039-dead-code-cleanup/quickstart.md
  specs/039-dead-code-cleanup/spec.md
Due: backend-pyright, backend-test

review: adopt justified PR feedback
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/workflow_orchestrator/orchestrator.py
Due: backend-pyright, backend-test

spec: Group-Aware Pipeline Execution & Tracking Table (039) (#3778)
  .github/agents/copilot-instructions.md
  backend/src/api/chat.py
  backend/src/api/pipelines.py
  backend/src/models/workflow.py
  backend/src/services/agent_tracking.py
  backend/src/services/chores/service.py
  backend/src/services/copilot_polling/__init__.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/workflow_orchestrator/__init__.py
  backend/src/services/workflow_orchestrator/config.py
  backend/src/services/workflow_orchestrator/models.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_agent_tracking.py
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_models.py
  backend/tests/unit/test_workflow_orchestrator_config.py
  specs/039-group-pipeline-execution/checklists/requirements.md
  specs/039-group-pipeline-execution/contracts/internal-interfaces.md
  specs/039-group-pipeline-execution/data-model.md
  specs/039-group-pipeline-execution/plan.md
  specs/039-group-pipeline-execution/quickstart.md
  specs/039-group-pipeline-execution/research.md
  specs/039-group-pipeline-execution/spec.md
  specs/039-group-pipeline-execution/tasks.md
Due: backend-pyright, backend-test

review: adopt justified PR feedback (pass 2)
  docs/configuration.md
  specs/039-dead-code-cleanup/tasks.md
Due: none

speckit.specify: Dead Code & Technical Debt Cleanup (039-dead-code-cleanup) (#3788)
  .github/agents/copilot-instructions.md
  backend/src/api/auth.py
  backend/src/api/chat.py
  backend/src/api/projects.py
  backend/src/api/signal.py
  backend/src/models/chat.py
  backend/src/models/pipeline.py
  backend/src/models/recommendation.py
  backend/src/prompts/issue_generation.py
  backend/src/services/agent_tracking.py
  backend/src/services/cache.py
  backend/src/services/copilot_polling/agent_output.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/copilot_polling/recovery.py
  backend/src/services/pipelines/service.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/integration/test_custom_agent_assignment.py
  docs/configuration.md
  frontend/src/components/settings/DynamicDropdown.tsx
  frontend/src/hooks/useChatHistory.ts
  frontend/src/hooks/useScrollLock.ts
  frontend/src/types/index.ts
  specs/039-dead-code-cleanup/checklists/requirements.md
  specs/039-dead-code-cleanup/contracts/complexity-budget.md
  specs/039-dead-code-cleanup/contracts/deprecation-policy.md
  specs/039-dead-code-cleanup/contracts/error-handling.md
  specs/039-dead-code-cleanup/data-model.md
  specs/039-dead-code-cleanup/migration-plan-singleton.md
  specs/039-dead-code-cleanup/migration-plan-sqlite.md
  specs/039-dead-code-cleanup/plan.md
  specs/039-dead-code-cleanup/quickstart.md
  specs/039-dead-code-cleanup/research.md
  specs/039-dead-code-cleanup/spec.md
  specs/039-dead-code-cleanup/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test
