Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

backend-pyright:
  name: Type Check Backend (pyright)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
  language: system
  pass_filenames: false

frontend-lint:
  name: Lint Frontend (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Type Check Frontend (TypeScript)
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-test:
  name: Test Frontend (Vitest)
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false

backend-test:
  name: Test Backend (pytest)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Merge speckit.tasks changes into copilot/repository-wide-codebase-cleanup
  specs/016-codebase-cleanup/tasks.md
Due: none

fix: reconstruct pipeline state in check_in_progress_issues to prevent step-skipping (#1119)
  backend/src/services/copilot_polling/pipeline.py
  backend/tests/unit/test_copilot_polling.py
Due: backend-pyright, backend-test

fix: pipeline ordering — title-based fallback detection + block advance on merge failure
  backend/src/services/copilot_polling/agent_output.py
  backend/src/services/copilot_polling/completion.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/github_projects/service.py
  backend/tests/unit/test_copilot_polling.py
  backend/tests/unit/test_github_projects.py
Due: backend-pyright, backend-test

Merge speckit.tasks changes into copilot/repository-wide-codebase-cleanup-another-one
  specs/016-codebase-cleanup/tasks.md
Due: none

Merge speckit.tasks changes into copilot/repository-wide-codebase-cleanup-yet-again
  specs/016-codebase-cleanup/tasks.md
Due: none

fix: retry 502 errors in sub-issue creation and add on-the-fly fallback
  backend/src/services/github_projects/service.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_github_projects.py
  backend/tests/unit/test_workflow_orchestrator.py
Due: backend-pyright, backend-test

perf: reduce GitHub API call rate to avoid hitting rate limits
  backend/src/api/board.py
  backend/src/api/projects.py
  backend/src/services/copilot_polling/completion.py
  backend/src/services/copilot_polling/polling_loop.py
  backend/src/services/github_projects/service.py
  frontend/src/constants.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.tasks changes into copilot/codebase-cleanup-repository-wide
  specs/016-codebase-cleanup-debt/tasks.md
Due: none

fix: prevent false-positive completion detection that cancels Copilot agent sessions
  backend/src/services/copilot_polling/agent_output.py
  backend/src/services/copilot_polling/pipeline.py
Due: backend-pyright, backend-test

fix: strict Done! marker detection & claim all stale merged PRs
  backend/src/services/copilot_polling/agent_output.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/github_projects/service.py
Due: backend-pyright, backend-test

Merge speckit.tasks changes into copilot/add-blue-background-color
  specs/016-blue-background-app/tasks.md
Due: none

fix: prevent false-positive completion cascade for subsequent agents (#1171)
  backend/src/services/copilot_polling/agent_output.py
  backend/tests/unit/test_copilot_polling.py
Due: backend-pyright, backend-test

fix: use cross-status Done! timestamp for pipeline reconstruction started_at
  backend/src/services/copilot_polling/pipeline.py
  backend/tests/unit/test_copilot_polling.py
Due: backend-pyright, backend-test

fix: apply cross-status Done! timestamp in tracking-table reconstruction path
  backend/src/services/copilot_polling/agent_output.py
Due: backend-pyright, backend-test

fix: disable safety-net fallback in _check_main_pr_completion for subsequent agents
  backend/src/services/copilot_polling/agent_output.py
  backend/src/services/copilot_polling/completion.py
Due: backend-pyright, backend-test

Merge speckit.plan changes into copilot/add-pink-background-color
  .github/agents/copilot-instructions.md
  specs/016-pink-background/contracts/no-api.md
  specs/016-pink-background/data-model.md
  specs/016-pink-background/plan.md
  specs/016-pink-background/quickstart.md
  specs/016-pink-background/research.md
Due: none

Merge speckit.tasks changes into copilot/add-pink-background-color
  specs/016-pink-background/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-pink-background-color
  frontend/src/index.css
  specs/016-pink-background/tasks.md
Due: none

refactor: adopt AI review recommendations for PR #1147
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/github_projects/service.py
  backend/tests/unit/test_copilot_polling.py
Due: backend-pyright, backend-test

refactor: adopt AI review recommendations (round 2) for PR #1147
  backend/src/api/projects.py
  backend/src/constants.py
  backend/src/models/recommendation.py
Due: backend-pyright, backend-test

fix: Pipeline ordering — title-based fallback detection + block advance on merge failure (#1147)
  backend/src/api/board.py
  backend/src/api/projects.py
  backend/src/constants.py
  backend/src/models/recommendation.py
  backend/src/services/copilot_polling/agent_output.py
  backend/src/services/copilot_polling/completion.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/copilot_polling/polling_loop.py
  backend/src/services/github_projects/service.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_copilot_polling.py
  backend/tests/unit/test_github_projects.py
  backend/tests/unit/test_workflow_orchestrator.py
  frontend/src/constants.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

chore: add feature specification for codebase cleanup (002-codebase-cleanup)
  specs/002-codebase-cleanup/checklists/requirements.md
  specs/002-codebase-cleanup/spec.md
Due: none

chore: add implementation plan for codebase cleanup (002-codebase-cleanup)
  .github/agents/copilot-instructions.md
  specs/002-codebase-cleanup/contracts/README.md
  specs/002-codebase-cleanup/data-model.md
  specs/002-codebase-cleanup/plan.md
  specs/002-codebase-cleanup/quickstart.md
  specs/002-codebase-cleanup/research.md
Due: none

chore: add task breakdown for codebase cleanup (002-codebase-cleanup)
  specs/002-codebase-cleanup/tasks.md
Due: none

chore: remove dead code from backend and frontend (US1)
  backend/src/api/webhooks.py
  backend/src/models/settings.py
  backend/src/services/agent_tracking.py
  backend/src/services/ai_agent.py
  backend/src/services/cache.py
  backend/src/services/housekeeping/counter.py
  backend/tests/unit/test_agent_tracking.py
  backend/tests/unit/test_ai_agent.py
  backend/tests/unit/test_webhooks.py
  frontend/src/components/board/colorUtils.ts
  frontend/src/components/housekeeping/HousekeepingTaskForm.tsx
  frontend/src/components/housekeeping/HousekeepingTaskList.tsx
  frontend/src/components/housekeeping/RunNowButton.tsx
  frontend/src/components/housekeeping/TemplateLibrary.tsx
  frontend/src/components/housekeeping/TriggerHistoryLog.tsx
  frontend/src/components/settings/AIPreferences.tsx
  frontend/src/constants.ts
  frontend/src/lib/commands/types.ts
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Path conditions:
  backend-pyright: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-test: any of: ^backend/.*\.py$
