Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

backend-pyright:
  name: Type Check Backend (pyright)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
  language: system
  pass_filenames: false

frontend-lint:
  name: Lint Frontend (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Type Check Frontend (TypeScript)
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-test:
  name: Test Frontend (Vitest)
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false

backend-test:
  name: Test Backend (pytest)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(review+pipeline): triage review comments, fix pipeline status advancement bug (#2972)
  backend/src/api/board.py
  backend/src/api/chat.py
  backend/src/api/settings.py
  backend/src/api/workflow.py
  backend/src/services/blocking_queue.py
  backend/src/services/chores/service.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/database.py
  backend/src/services/metadata_service.py
  backend/src/services/signal_chat.py
  backend/tests/unit/test_api_board.py
  backend/tests/unit/test_api_workflow.py
  backend/tests/unit/test_copilot_polling.py
  backend/tests/unit/test_main.py
  specs/032-code-quality-check/checklists/requirements.md
  specs/032-code-quality-check/spec.md
Due: backend-pyright, backend-test

review: adopt justified PR feedback
  backend/src/api/board.py
Due: backend-pyright, backend-test

Merge designer changes into copilot/add-upload-github-parent-issue-description
  backend/src/api/pipelines.py
  backend/src/models/pipeline.py
  backend/tests/unit/test_api_pipelines.py
  frontend/src/components/board/ProjectIssueLaunchPanel.test.tsx
  frontend/src/components/board/ProjectIssueLaunchPanel.tsx
  frontend/src/pages/ProjectsPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.plan changes into copilot/add-upload-github-parent-issue-description
  .github/agents/copilot-instructions.md
  specs/032-issue-upload-pipeline-config/contracts/api.md
  specs/032-issue-upload-pipeline-config/contracts/components.md
  specs/032-issue-upload-pipeline-config/data-model.md
  specs/032-issue-upload-pipeline-config/plan.md
  specs/032-issue-upload-pipeline-config/quickstart.md
  specs/032-issue-upload-pipeline-config/research.md
Due: none

Merge speckit.tasks changes into copilot/add-upload-github-parent-issue-description
  specs/032-issue-upload-pipeline-config/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-upload-github-parent-issue-description
  specs/032-issue-upload-pipeline-config/tasks.md
Due: none

feat(tools): add Context7 and Code Graph Context MCP presets
  backend/src/services/tools/presets.py
  backend/tests/unit/test_api_tools.py
Due: backend-pyright, backend-test

chore: move github_mcp.json to .github/agents/mcp.json
  .github/agents/mcp.json
Due: none

docs: update custom instructions with MCP presets, agent roster, and tools service
  .github/agents/copilot-instructions.md
Due: none

Merge judge changes into copilot/add-upload-github-parent-issue-description
  backend/src/api/pipelines.py
  frontend/src/components/board/ProjectIssueLaunchPanel.tsx
  specs/032-issue-upload-pipeline-config/contracts/api.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge quality-assurance changes into copilot/add-upload-github-parent-issue-description
  backend/src/api/pipelines.py
  backend/tests/unit/test_api_pipelines.py
Due: backend-pyright, backend-test

review: adopt justified PR feedback
  .github/agents/copilot-instructions.md
  backend/src/services/tools/presets.py
  backend/tests/unit/test_api_tools.py
Due: backend-pyright, backend-test

Merge tester changes into copilot/add-upload-github-parent-issue-description
  frontend/src/components/board/ProjectIssueLaunchPanel.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

docs: update documentation for pipeline issue launch feature
  README.md
  docs/agent-pipeline.md
  docs/api-reference.md
  docs/architecture.md
  docs/project-structure.md
Due: none

docs: update documentation for pipeline issue launch feature (#3053)
  README.md
  docs/agent-pipeline.md
  docs/api-reference.md
  docs/architecture.md
  docs/project-structure.md
Due: none

Add feature specification for 032-issue-upload-pipeline-config (#2999)
  .github/agents/copilot-instructions.md
  README.md
  backend/src/api/pipelines.py
  backend/src/models/pipeline.py
  backend/tests/unit/test_api_pipelines.py
  docs/agent-pipeline.md
  docs/api-reference.md
  docs/architecture.md
  docs/project-structure.md
  frontend/src/components/board/ProjectIssueLaunchPanel.test.tsx
  frontend/src/components/board/ProjectIssueLaunchPanel.tsx
  frontend/src/pages/ProjectsPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/032-issue-upload-pipeline-config/checklists/requirements.md
  specs/032-issue-upload-pipeline-config/contracts/api.md
  specs/032-issue-upload-pipeline-config/contracts/components.md
  specs/032-issue-upload-pipeline-config/data-model.md
  specs/032-issue-upload-pipeline-config/plan.md
  specs/032-issue-upload-pipeline-config/quickstart.md
  specs/032-issue-upload-pipeline-config/research.md
  specs/032-issue-upload-pipeline-config/spec.md
  specs/032-issue-upload-pipeline-config/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: pipeline recovery reliability — 6 bug fixes for agent error detection, stale tracking, and UI
  backend/src/services/copilot_polling/__init__.py
  backend/src/services/copilot_polling/helpers.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/copilot_polling/recovery.py
  backend/src/services/copilot_polling/state.py
  backend/src/services/github_projects/service.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_copilot_polling.py
  backend/tests/unit/test_github_projects.py
  frontend/src/components/board/BlockingIssuePill.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

review: adopt justified PR feedback from #3083
  backend/src/services/agent_tracking.py
  backend/src/services/copilot_polling/recovery.py
  backend/src/services/github_projects/service.py
Due: backend-pyright, backend-test

chore: add CodeGraphContext MCP setup and gitignore fixes
  .copilot/mcp.json
  .github/workflows/copilot-setup-steps.yml
  .gitignore
  .vscode/mcp.json
  backend/pyproject.toml
  backend/src/services/copilot_polling/__init__.py
  backend/tests/unit/test_copilot_polling.py
Due: backend-pyright, backend-test

fix: pipeline recovery reliability — 6 bug fixes for agent error detection, stale tracking, and UI (#3083)
  .copilot/mcp.json
  .github/workflows/copilot-setup-steps.yml
  .gitignore
  .vscode/mcp.json
  backend/pyproject.toml
  backend/src/services/agent_tracking.py
  backend/src/services/copilot_polling/__init__.py
  backend/src/services/copilot_polling/helpers.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/copilot_polling/recovery.py
  backend/src/services/copilot_polling/state.py
  backend/src/services/github_projects/service.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_copilot_polling.py
  backend/tests/unit/test_github_projects.py
  frontend/src/components/board/BlockingIssuePill.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge designer changes into copilot/update-tools-page-github-mcp
  frontend/src/components/tools/GitHubMcpConfigGenerator.tsx
  frontend/src/components/tools/ToolsEnhancements.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.plan changes into copilot/update-tools-page-github-mcp
  .github/agents/copilot-instructions.md
  specs/033-update-tools-mcp-config-generator/contracts/api.md
  specs/033-update-tools-mcp-config-generator/contracts/components.md
  specs/033-update-tools-mcp-config-generator/data-model.md
  specs/033-update-tools-mcp-config-generator/plan.md
  specs/033-update-tools-mcp-config-generator/quickstart.md
  specs/033-update-tools-mcp-config-generator/research.md
Due: none

Merge speckit.tasks changes into copilot/update-tools-page-github-mcp
  specs/033-update-tools-mcp-config-generator/tasks.md
Due: none

Merge speckit.implement changes into copilot/update-tools-page-github-mcp
  frontend/src/components/tools/GitHubToolsetSelector.tsx
  specs/033-update-tools-mcp-config-generator/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge designer changes into copilot/audit-pipelines-page-ui-consistency
  frontend/src/components/pipeline/SavedWorkflowsList.test.tsx
  frontend/src/components/pipeline/SavedWorkflowsList.tsx
  frontend/src/pages/AgentsPipelinePage.test.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
  specs/033-audit-pipelines-ux/audit-report.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge judge changes into copilot/update-tools-page-github-mcp
  frontend/src/components/tools/GitHubMcpConfigGenerator.tsx
  frontend/src/components/tools/ToolsEnhancements.test.tsx
  frontend/src/lib/buildGitHubMcpConfig.ts
Due: frontend-lint, frontend-typecheck, frontend-test

Merge designer changes into copilot/fix-silent-failures-security
  backend/src/services/agent_creator.py
  backend/src/services/github_projects/__init__.py
  backend/src/services/github_projects/service.py
  backend/src/services/metadata_service.py
  backend/src/services/signal_chat.py
  backend/tests/unit/test_agent_creator.py
  backend/tests/unit/test_github_projects.py
  backend/tests/unit/test_metadata_service.py
  backend/tests/unit/test_signal_chat.py
Due: backend-pyright, backend-test

Merge designer changes into copilot/create-side-by-side-agent-layout
  frontend/src/components/pipeline/PipelineBoard.test.tsx
  frontend/src/components/pipeline/PipelineBoard.tsx
  frontend/src/components/pipeline/StageCard.test.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/constants/tooltip-content.ts
Due: frontend-lint, frontend-typecheck, frontend-test

feat(blocking-queue): implement skip-to-non-blocking for blocking pill
  backend/src/api/board.py
  backend/src/services/blocking_queue.py
  backend/src/services/blocking_queue_store.py
  backend/tests/integration/test_blocking_chore_trigger.py
  backend/tests/unit/test_api_board.py
  backend/tests/unit/test_blocking_queue.py
Due: backend-pyright, backend-test

fix(pipeline): resilience against random GitHub status moves and Copilot reviews
  backend/src/services/copilot_polling/completion.py
  backend/src/services/copilot_polling/pipeline.py
  backend/tests/unit/test_copilot_polling.py
Due: backend-pyright, backend-test

Path conditions:
  backend-pyright: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-test: any of: ^backend/.*\.py$
