Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

backend-pyright:
  name: Type Check Backend (pyright)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
  language: system
  pass_filenames: false

frontend-lint:
  name: Lint Frontend (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Type Check Frontend (TypeScript)
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-test:
  name: Test Frontend (Vitest)
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false

backend-test:
  name: Test Backend (pytest)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Merge speckit.tasks changes into copilot/fix-silent-exceptions-backend
  specs/033-code-quality-overhaul/tasks.md
Due: none

Merge speckit.tasks changes into copilot/write-performance-review-specification
  specs/034-performance-review/tasks.md
Due: none

Merge speckit.implement changes into copilot/speckit-specify-performance-review
  backend/pyproject.toml
  backend/src/api/board.py
  backend/src/api/projects.py
  backend/src/services/cache.py
  backend/tests/unit/test_api_board.py
  backend/tests/unit/test_cache.py
  backend/uv.lock
  frontend/src/hooks/useBoardRefresh.test.tsx
  frontend/src/hooks/useBoardRefresh.ts
  frontend/src/hooks/useRealTimeSync.test.tsx
  frontend/src/hooks/useRealTimeSync.ts
  frontend/src/pages/ProjectsPage.tsx
  specs/001-performance-review/baseline.md
  specs/001-performance-review/quickstart.md
  specs/001-performance-review/research.md
  specs/001-performance-review/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.implement changes into copilot/write-performance-review-specification
  backend/pyproject.toml
  backend/src/api/board.py
  backend/src/services/github_projects/issues.py
  backend/src/utils.py
  backend/tests/conftest.py
  backend/tests/helpers/assertions.py
  backend/tests/unit/test_api_board.py
  backend/tests/unit/test_api_projects.py
  backend/tests/unit/test_cache.py
  backend/uv.lock
  frontend/src/components/board/BoardColumn.test.tsx
  frontend/src/components/board/IssueCard.test.tsx
  frontend/src/hooks/useBoardRefresh.test.tsx
  frontend/src/hooks/useBoardRefresh.ts
  frontend/src/hooks/useProjectBoard.test.tsx
  frontend/src/hooks/useProjectBoard.ts
  frontend/src/hooks/useRealTimeSync.test.tsx
  frontend/src/hooks/useRealTimeSync.ts
  frontend/src/pages/ProjectsPage.test.tsx
  frontend/src/pages/ProjectsPage.tsx
  specs/034-performance-review/contracts/backend-cache.md
  specs/034-performance-review/contracts/board-endpoints.md
  specs/034-performance-review/contracts/refresh-policy.md
  specs/034-performance-review/quickstart.md
  specs/034-performance-review/research.md
  specs/034-performance-review/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.implement changes into copilot/speckit-specify-security-review
  .gitignore
  backend/pyproject.toml
  backend/src/api/chat.py
  backend/src/api/tasks.py
  backend/src/api/workflow.py
  backend/src/dependencies.py
  backend/src/migrations/021_encrypt_existing.sql
  backend/src/services/github_auth.py
  backend/tests/conftest.py
  backend/tests/unit/test_config_validation.py
  backend/tests/unit/test_github_auth.py
  backend/tests/unit/test_project_authorization.py
  backend/tests/unit/test_webhook_security.py
  backend/uv.lock
  specs/001-security-review/tasks.md
Due: backend-pyright, backend-test

Merge speckit.implement changes into copilot/fix-silent-exceptions-backend
  backend/pyproject.toml
  backend/src/api/auth.py
  backend/src/api/board.py
  backend/src/api/chat.py
  backend/src/api/chores.py
  backend/src/api/projects.py
  backend/src/api/signal.py
  backend/src/api/tasks.py
  backend/src/api/workflow.py
  backend/src/services/agents/service.py
  backend/src/services/blocking_queue.py
  backend/src/services/chores/service.py
  backend/src/services/chores/template_builder.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/github_projects/__init__.py
  backend/src/services/github_projects/base_client.py
  backend/src/services/github_projects/rate_limit.py
  backend/src/services/github_projects/service.py
  backend/src/services/signal_chat.py
  backend/src/services/workflow_orchestrator/config.py
  backend/uv.lock
  specs/033-code-quality-overhaul/tasks.md
Due: backend-pyright, backend-test

Merge judge changes into copilot/speckit-specify-performance-review
  backend/src/api/board.py
  backend/src/services/cache.py
  frontend/src/hooks/useBoardRefresh.ts
  frontend/src/hooks/useRealTimeSync.test.tsx
  frontend/src/hooks/useRealTimeSync.ts
  specs/001-performance-review/baseline.md
  specs/001-performance-review/plan.md
  specs/001-performance-review/quickstart.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge judge changes into copilot/speckit-specify-security-review
  backend/src/migrations/021_encrypt_existing.sql
  specs/001-security-review/contracts/project-authorization.md
  specs/001-security-review/quickstart.md
Due: none

Merge judge changes into copilot/fix-silent-exceptions-backend
  backend/src/api/auth.py
  backend/src/api/board.py
Due: backend-pyright, backend-test

fix(frontend): Projects page UX — remove redundant selectors, expand sub-issues card height
  frontend/src/components/board/IssueCard.tsx
  frontend/src/components/common/ProjectSelectionEmptyState.test.tsx
  frontend/src/components/common/ProjectSelectionEmptyState.tsx
  frontend/src/hooks/usePipelineConfig.ts
  frontend/src/pages/ProjectsPage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge judge changes into copilot/write-performance-review-specification
  backend/src/api/board.py
  backend/tests/helpers/assertions.py
  backend/tests/unit/test_api_projects.py
  frontend/src/hooks/useBoardRefresh.test.tsx
  frontend/src/pages/ProjectsPage.test.tsx
  specs/034-performance-review/contracts/backend-cache.md
  specs/034-performance-review/contracts/board-endpoints.md
  specs/034-performance-review/contracts/refresh-policy.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix(workflow): false-positive warning on issues with zero comments
  .github/workflows/branch-issue-link.yml
Due: none

fix(orchestrator): remove duplicate block and restore head_sha extraction in _determine_base_ref
  backend/src/services/workflow_orchestrator/orchestrator.py
Due: backend-pyright, backend-test

review: adopt justified PR feedback
  backend/src/api/board.py
  backend/src/services/cache.py
  backend/tests/unit/test_api_board.py
  backend/tests/unit/test_cache.py
  frontend/src/hooks/useRealTimeSync.test.tsx
  frontend/src/hooks/useRealTimeSync.ts
  frontend/src/pages/ProjectsPage.tsx
  specs/001-performance-review/baseline.md
  specs/001-performance-review/contracts/refresh-contract.md
  specs/001-performance-review/plan.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Add Speckit specification for performance review first pass (#3284)
  .github/agents/copilot-instructions.md
  backend/pyproject.toml
  backend/src/api/board.py
  backend/src/api/projects.py
  backend/src/services/cache.py
  backend/tests/unit/test_api_board.py
  backend/tests/unit/test_cache.py
  backend/uv.lock
  frontend/src/hooks/useBoardRefresh.test.tsx
  frontend/src/hooks/useBoardRefresh.ts
  frontend/src/hooks/useRealTimeSync.ts
  frontend/src/pages/ProjectsPage.tsx
  specs/001-performance-review/baseline.md
  specs/001-performance-review/checklists/requirements.md
  specs/001-performance-review/contracts/refresh-contract.md
  specs/001-performance-review/data-model.md
  specs/001-performance-review/plan.md
  specs/001-performance-review/quickstart.md
  specs/001-performance-review/research.md
  specs/001-performance-review/spec.md
  specs/001-performance-review/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Add .cgcignore file for CodeGraph context filtering
  .cgcignore
Due: none

Add .cgcignore file for CodeGraph context filtering (#3335)
  .cgcignore
Due: none

Merge speckit.plan changes into copilot/plan-github-label-agent-pipeline
  .github/agents/copilot-instructions.md
  specs/034-label-pipeline-state/contracts/label-fast-path.md
  specs/034-label-pipeline-state/contracts/label-utilities.md
  specs/034-label-pipeline-state/contracts/label-validation.md
  specs/034-label-pipeline-state/contracts/label-write-path.md
  specs/034-label-pipeline-state/data-model.md
  specs/034-label-pipeline-state/plan.md
  specs/034-label-pipeline-state/quickstart.md
  specs/034-label-pipeline-state/research.md
Due: none

Merge speckit.plan changes into copilot/speckit-specify-audit-projects-page
  .github/agents/copilot-instructions.md
  specs/034-projects-page-audit/contracts/component-contracts.yaml
  specs/034-projects-page-audit/data-model.md
  specs/034-projects-page-audit/plan.md
  specs/034-projects-page-audit/quickstart.md
  specs/034-projects-page-audit/research.md
Due: none

Merge speckit.tasks changes into copilot/speckit-specify-audit-projects-page
  specs/034-projects-page-audit/tasks.md
Due: none

Merge speckit.tasks changes into copilot/plan-github-label-agent-pipeline
  tasks.md
Due: none

Merge speckit.plan changes into copilot/speckitspecify-add-confirmation-step
  .github/agents/copilot-instructions.md
  specs/035-confirm-critical-actions/contracts/components.md
  specs/035-confirm-critical-actions/contracts/hooks.md
  specs/035-confirm-critical-actions/data-model.md
  specs/035-confirm-critical-actions/plan.md
  specs/035-confirm-critical-actions/quickstart.md
  specs/035-confirm-critical-actions/research.md
Due: none

Merge speckit.implement changes into copilot/speckit-specify-audit-projects-page
  frontend/src/components/board/BlockingChainPanel.tsx
  frontend/src/components/board/BoardColumn.tsx
  frontend/src/components/board/IssueCard.tsx
  frontend/src/components/board/IssueDetailModal.test.tsx
  frontend/src/components/board/IssueDetailModal.tsx
  frontend/src/components/board/ProjectBoard.tsx
  frontend/src/index.css
  frontend/src/pages/ProjectsPage.tsx
  specs/033-projects-page-audit/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.implement changes into copilot/speckit-specify-enforce-blocking-queue
  backend/src/services/blocking_queue.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/copilot_polling/polling_loop.py
  backend/src/services/copilot_polling/recovery.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_blocking_queue.py
  backend/tests/unit/test_copilot_polling.py
Due: backend-pyright, backend-test

Merge speckit.tasks changes into copilot/speckitspecify-add-confirmation-step
  specs/035-confirm-critical-actions/tasks.md
Due: none

Merge speckit.analyze changes into copilot/plan-github-label-agent-pipeline
  specs/034-label-pipeline-state/analysis-report.md
  specs/034-label-pipeline-state/tasks.md
Due: none

Merge designer changes into copilot/speckit-specify-plan-overhaul
  frontend/src/App.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/main.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge judge changes into copilot/speckit-specify-audit-projects-page
  .github/agents/copilot-instructions.md
  frontend/src/components/board/IssueDetailModal.tsx
  specs/033-projects-page-audit/tasks.md
  specs/034-projects-page-audit/research.md
  specs/034-projects-page-audit/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.implement changes into copilot/speckitspecify-add-confirmation-step
  frontend/src/components/board/CleanUpConfirmModal.tsx
  frontend/src/components/pipeline/UnsavedChangesDialog.tsx
  frontend/src/components/tools/ToolsPanel.tsx
  frontend/src/components/ui/confirmation-dialog.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
  specs/035-confirm-critical-actions/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge judge changes into copilot/speckit-specify-enforce-blocking-queue
  backend/tests/unit/test_copilot_polling.py
Due: backend-pyright, backend-test

Merge speckit.plan changes into copilot/speckit-specify-plan-overhaul
  .github/agents/copilot-instructions.md
  specs/035-best-practices-overhaul/contracts/chat-persistence.md
  specs/035-best-practices-overhaul/contracts/error-handling.md
  specs/035-best-practices-overhaul/contracts/pipeline-state-store.md
  specs/035-best-practices-overhaul/contracts/security-middleware.md
  specs/035-best-practices-overhaul/data-model.md
  specs/035-best-practices-overhaul/plan.md
  specs/035-best-practices-overhaul/quickstart.md
  specs/035-best-practices-overhaul/research.md
Due: none

Merge speckit.tasks changes into copilot/speckit-specify-plan-overhaul
  specs/035-best-practices-overhaul/tasks.md
Due: none

Merge speckit.implement changes into copilot/plan-github-label-agent-pipeline
  backend/src/api/pipelines.py
  backend/src/constants.py
  backend/src/models/task.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/copilot_polling/recovery.py
  backend/src/services/copilot_polling/state_validation.py
  backend/src/services/github_projects/graphql.py
  backend/src/services/github_projects/projects.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_label_constants.py
  backend/tests/unit/test_label_fast_path.py
  backend/tests/unit/test_label_validation.py
  backend/tests/unit/test_label_write_path.py
  backend/tests/unit/test_workflow_orchestrator.py
  frontend/src/components/board/BoardToolbar.tsx
  frontend/src/components/board/IssueCard.tsx
  frontend/src/hooks/useBoardControls.test.tsx
  frontend/src/hooks/useBoardControls.ts
  frontend/src/pages/ProjectsPage.tsx
  frontend/src/types/index.ts
  specs/034-label-pipeline-state/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Path conditions:
  backend-pyright: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-test: any of: ^backend/.*\.py$
