Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Backend Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff-format
        name: Format Python (ruff)
        files: ^backend/
      - id: ruff
        name: Lint Python (ruff)
        files: ^backend/
        args: [--fix]

  - repo: local
    hooks:
      - id: backend-pyright
        name: Type Check Backend (pyright)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Lint Frontend (ESLint)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: Type Check Frontend (TypeScript)
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-test
        name: Test Frontend (Vitest)
        entry: bash -c 'cd frontend && npm test'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: backend-test
        name: Test Backend (pytest)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        stages: [pre-push]  # Run tests only on push, not every commit

Merge speckit.tasks changes into copilot/filter-deleted-items-display-parent-issues
  specs/026-recent-interactions-filter/tasks.md
Due: none

Merge speckit.tasks changes into copilot/write-security-review-specification
  .env.example
  .github/workflows/branch-issue-link.yml
  backend/Dockerfile
  backend/pyproject.toml
  backend/src/api/agents.py
  backend/src/api/auth.py
  backend/src/api/chat.py
  backend/src/api/projects.py
  backend/src/api/settings.py
  backend/src/api/signal.py
  backend/src/api/webhooks.py
  backend/src/api/workflow.py
  backend/src/config.py
  backend/src/dependencies.py
  backend/src/main.py
  backend/src/middleware/rate_limit.py
  backend/src/services/database.py
  backend/src/services/github_auth.py
  backend/src/services/github_projects/service.py
  backend/tests/conftest.py
  backend/tests/integration/test_webhook_verification.py
  backend/tests/unit/test_api_auth.py
  backend/tests/unit/test_auth_security.py
  backend/tests/unit/test_config.py
  backend/tests/unit/test_main.py
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/src/components/board/IssueCard.tsx
  frontend/src/hooks/useAuth.test.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useChatHistory.test.ts
  frontend/src/hooks/useChatHistory.ts
  frontend/src/test/setup.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.tasks changes into copilot/specify-agent-pipeline-crud
  backend/src/api/__init__.py
  backend/src/api/pipelines.py
  backend/src/migrations/013_pipeline_configs.sql
  backend/src/models/pipeline.py
  backend/src/services/pipelines/__init__.py
  backend/src/services/pipelines/service.py
  frontend/src/components/pipeline/AgentNode.tsx
  frontend/src/components/pipeline/ModelSelector.tsx
  frontend/src/components/pipeline/PipelineBoard.tsx
  frontend/src/components/pipeline/PipelineToolbar.tsx
  frontend/src/components/pipeline/SavedWorkflowsList.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/components/pipeline/UnsavedChangesDialog.tsx
  frontend/src/components/pipeline/index.ts
  frontend/src/hooks/useModels.ts
  frontend/src/hooks/usePipelineConfig.ts
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/026-pipeline-crud/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge linter changes into copilot/filter-deleted-items-display-parent-issues
  frontend/src/hooks/useRecentParentIssues.ts
  frontend/src/layout/Sidebar.tsx
  frontend/src/types/index.ts
  specs/026-recent-interactions-filter/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge judge changes into copilot/fix-help-command-auto-repeat
  frontend/src/components/chat/MessageBubble.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

spec: Add specification for #help command auto-repeat bug & optimistic chat rendering (#1955)
  .github/agents/copilot-instructions.md
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/ChatPopup.tsx
  frontend/src/components/chat/MessageBubble.tsx
  frontend/src/hooks/useChat.test.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/layout/AppLayout.tsx
  frontend/src/types/index.ts
  specs/026-chat-help-optimistic-render/checklists/requirements.md
  specs/026-chat-help-optimistic-render/contracts/components.md
  specs/026-chat-help-optimistic-render/data-model.md
  specs/026-chat-help-optimistic-render/plan.md
  specs/026-chat-help-optimistic-render/quickstart.md
  specs/026-chat-help-optimistic-render/research.md
  specs/026-chat-help-optimistic-render/spec.md
  specs/026-chat-help-optimistic-render/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Refine project catalogs and agent lifecycle handling
  backend/src/api/agents.py
  backend/src/api/board.py
  backend/src/api/projects.py
  backend/src/api/webhooks.py
  backend/src/constants.py
  backend/src/exceptions.py
  backend/src/migrations/013_agent_config_lifecycle_status.sql
  backend/src/models/agents.py
  backend/src/services/agents/service.py
  backend/src/services/cache.py
  backend/tests/unit/test_agents_service.py
  backend/tests/unit/test_webhooks.py
  frontend/src/components/agents/AddAgentModal.tsx
  frontend/src/components/agents/AgentCard.tsx
  frontend/src/components/agents/AgentsPanel.tsx
  frontend/src/components/board/AgentConfigRow.tsx
  frontend/src/components/board/AgentDragOverlay.tsx
  frontend/src/components/chores/ChoreCard.tsx
  frontend/src/components/chores/ChoresPanel.tsx
  frontend/src/components/chores/__tests__/ChoresPanel.test.tsx
  frontend/src/components/common/CelestialCatalogHero.tsx
  frontend/src/hooks/useAgents.ts
  frontend/src/hooks/useProjectBoard.ts
  frontend/src/index.css
  frontend/src/pages/AgentsPage.tsx
  frontend/src/pages/ChoresPage.tsx
  frontend/src/pages/ProjectsPage.tsx
  frontend/src/services/api.ts
  frontend/src/utils/rateLimit.test.ts
  frontend/src/utils/rateLimit.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: restore editing for pending agents
  frontend/src/components/agents/AgentsPanel.tsx
  frontend/src/components/agents/__tests__/AgentsPanel.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

fix: restore backend rate-limit handling for generic GitHub errors
  backend/src/api/board.py
  backend/src/api/projects.py
  backend/tests/unit/test_api_board.py
  backend/tests/unit/test_api_projects.py
Due: backend-pyright, backend-test

fix: address PR review follow-ups
  backend/src/services/agents/service.py
  frontend/src/components/agents/AgentsPanel.tsx
  frontend/src/components/board/AgentDragOverlay.tsx
  frontend/src/components/chores/ChoresPanel.tsx
  frontend/src/pages/AgentsPage.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Update backend/src/services/agents/service.py
  backend/src/services/agents/service.py
Due: backend-pyright, backend-test

Refine project layouts and stabilize agent lifecycle state (#2022)
  backend/src/api/agents.py
  backend/src/api/board.py
  backend/src/api/projects.py
  backend/src/api/webhooks.py
  backend/src/constants.py
  backend/src/exceptions.py
  backend/src/migrations/013_agent_config_lifecycle_status.sql
  backend/src/models/agents.py
  backend/src/services/agents/service.py
  backend/src/services/cache.py
  backend/tests/unit/test_agents_service.py
  backend/tests/unit/test_api_board.py
  backend/tests/unit/test_api_projects.py
  backend/tests/unit/test_webhooks.py
  frontend/src/components/agents/AddAgentModal.tsx
  frontend/src/components/agents/AgentCard.tsx
  frontend/src/components/agents/AgentsPanel.tsx
  frontend/src/components/agents/__tests__/AgentsPanel.test.tsx
  frontend/src/components/board/AgentConfigRow.tsx
  frontend/src/components/board/AgentDragOverlay.tsx
  frontend/src/components/chores/ChoreCard.tsx
  frontend/src/components/chores/ChoresPanel.tsx
  frontend/src/components/chores/__tests__/ChoresPanel.test.tsx
  frontend/src/components/common/CelestialCatalogHero.tsx
  frontend/src/hooks/useAgents.ts
  frontend/src/hooks/useProjectBoard.ts
  frontend/src/index.css
  frontend/src/pages/AgentsPage.tsx
  frontend/src/pages/ChoresPage.tsx
  frontend/src/pages/ProjectsPage.tsx
  frontend/src/services/api.ts
  frontend/src/utils/rateLimit.test.ts
  frontend/src/utils/rateLimit.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: adopt AI review recommendations — test_defaults accuracy and rate_limit docstring
  backend/src/middleware/rate_limit.py
  backend/tests/integration/test_webhook_verification.py
  backend/tests/unit/test_config.py
Due: backend-pyright, backend-test

fix: address PR review — route shadowing, accessibility, nav guards, spec alignment
  .github/agents/copilot-instructions.md
  backend/src/api/pipelines.py
  frontend/src/components/pipeline/ModelSelector.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/components/pipeline/UnsavedChangesDialog.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
  specs/026-pipeline-crud/contracts/api.md
  specs/026-pipeline-crud/research.md
  specs/026-pipeline-crud/spec.md
  specs/026-pipeline-crud/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: add missing RateLimitError import and slowapi type suppression
  backend/src/api/projects.py
  backend/src/main.py
Due: backend-pyright, backend-test

spec: Pipeline Page CRUD with Model Selection and Saved Workflow Management (026-pipeline-crud) (#1965)
  backend/src/api/__init__.py
  backend/src/api/pipelines.py
  backend/src/api/projects.py
  backend/src/main.py
  backend/src/migrations/013_pipeline_configs.sql
  backend/src/models/pipeline.py
  backend/src/services/pipelines/__init__.py
  backend/src/services/pipelines/service.py
  frontend/src/components/pipeline/AgentNode.tsx
  frontend/src/components/pipeline/ModelSelector.tsx
  frontend/src/components/pipeline/PipelineBoard.tsx
  frontend/src/components/pipeline/PipelineToolbar.tsx
  frontend/src/components/pipeline/SavedWorkflowsList.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/components/pipeline/UnsavedChangesDialog.tsx
  frontend/src/components/pipeline/index.ts
  frontend/src/hooks/useModels.ts
  frontend/src/hooks/usePipelineConfig.ts
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/026-pipeline-crud/checklists/requirements.md
  specs/026-pipeline-crud/contracts/api.md
  specs/026-pipeline-crud/contracts/components.md
  specs/026-pipeline-crud/data-model.md
  specs/026-pipeline-crud/plan.md
  specs/026-pipeline-crud/quickstart.md
  specs/026-pipeline-crud/research.md
  specs/026-pipeline-crud/spec.md
  specs/026-pipeline-crud/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

spec: 026-recent-interactions-filter specification (#1979)
  .github/agents/copilot-instructions.md
  frontend/src/hooks/useRecentParentIssues.ts
  frontend/src/layout/Sidebar.tsx
  frontend/src/types/index.ts
  specs/026-recent-interactions-filter/checklists/requirements.md
  specs/026-recent-interactions-filter/contracts/components.md
  specs/026-recent-interactions-filter/data-model.md
  specs/026-recent-interactions-filter/plan.md
  specs/026-recent-interactions-filter/quickstart.md
  specs/026-recent-interactions-filter/research.md
  specs/026-recent-interactions-filter/spec.md
  specs/026-recent-interactions-filter/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

chore: add issue template for Performance Review
  .github/ISSUE_TEMPLATE/chore-performance-review.md
Due: none

chore: add issue template for Performance Review (#2024)
  .github/ISSUE_TEMPLATE/chore-performance-review.md
Due: none

Merge speckit.plan changes into copilot/write-performance-review-specification
  .github/agents/copilot-instructions.md
  specs/027-performance-review/contracts/cache-contract.md
  specs/027-performance-review/contracts/refresh-contract.md
  specs/027-performance-review/data-model.md
  specs/027-performance-review/plan.md
  specs/027-performance-review/quickstart.md
  specs/027-performance-review/research.md
Due: none

Merge speckit.tasks changes into copilot/write-performance-review-specification
  specs/027-performance-review/tasks.md
Due: none

Merge speckit.implement changes into copilot/write-performance-review-specification
  frontend/src/components/board/BoardColumn.tsx
  frontend/src/components/board/IssueCard.tsx
  frontend/src/components/chat/ChatPopup.tsx
  frontend/src/hooks/useBoardRefresh.test.tsx
  frontend/src/hooks/useBoardRefresh.ts
  frontend/src/hooks/useRealTimeSync.test.tsx
  frontend/src/hooks/useRealTimeSync.ts
  frontend/src/pages/ProjectsPage.tsx
  specs/027-performance-review/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.plan changes into copilot/documentation-sweep-setup
  specs/027-doc-sweep/contracts/checklists.md
  specs/027-doc-sweep/contracts/ci-config.md
  specs/027-doc-sweep/contracts/pr-template.md
  specs/027-doc-sweep/data-model.md
  specs/027-doc-sweep/plan.md
  specs/027-doc-sweep/quickstart.md
  specs/027-doc-sweep/research.md
Due: none

Merge speckit.tasks changes into copilot/documentation-sweep-setup
  specs/027-doc-sweep/tasks.md
Due: none

Merge speckit.plan changes into copilot/add-tools-page-mcp-upload
  .github/agents/copilot-instructions.md
  specs/027-mcp-tools-page/contracts/api.md
  specs/027-mcp-tools-page/contracts/components.md
  specs/027-mcp-tools-page/data-model.md
  specs/027-mcp-tools-page/plan.md
  specs/027-mcp-tools-page/quickstart.md
  specs/027-mcp-tools-page/research.md
Due: none

Merge judge changes into copilot/write-performance-review-specification
  frontend/src/hooks/useRealTimeSync.test.tsx
  frontend/src/hooks/useRealTimeSync.ts
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.implement changes into copilot/documentation-sweep-setup
  .github/pull_request_template.md
  .github/workflows/ci.yml
  docs/OWNERS.md
  docs/checklists/monthly-review.md
  docs/checklists/quarterly-audit.md
  docs/checklists/weekly-sweep.md
  specs/027-doc-sweep/tasks.md
Due: none

Merge speckit.tasks changes into copilot/add-tools-page-mcp-upload
  specs/027-mcp-tools-page/tasks.md
Due: none
