Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Backend Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff-format
        name: Format Python (ruff)
        files: ^backend/
      - id: ruff
        name: Lint Python (ruff)
        files: ^backend/
        args: [--fix]

  - repo: local
    hooks:
      - id: backend-pyright
        name: Type Check Backend (pyright)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Lint Frontend (ESLint)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: Type Check Frontend (TypeScript)
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-test
        name: Test Frontend (Vitest)
        entry: bash -c 'cd frontend && npm test'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: backend-test
        name: Test Backend (pytest)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        stages: [pre-push]  # Run tests only on push, not every commit

speckit.plan: Implementation plan for githubkit v0.14.6 migration (019) (#1809)
  .github/agents/copilot-instructions.md
  specs/019-githubkit-migration/contracts/client-factory.md
  specs/019-githubkit-migration/contracts/rate-limit-adapter.md
  specs/019-githubkit-migration/data-model.md
  specs/019-githubkit-migration/plan.md
  specs/019-githubkit-migration/quickstart.md
  specs/019-githubkit-migration/research.md
Due: none

Generate tasks.md for 019-githubkit-migration (#1810)
  specs/019-githubkit-migration/tasks.md
Due: none

docs: update README, docs/, and copilot-instructions for githubkit migration
  .github/agents/copilot-instructions.md
  README.md
  backend/README.md
  docs/architecture.md
  docs/configuration.md
  docs/project-structure.md
  docs/setup.md
Due: none

fix: address AI code review findings on PR #1813
  backend/pyproject.toml
  backend/src/services/github_projects/__init__.py
  backend/src/services/github_projects/service.py
  backend/tests/unit/test_github_projects.py
  frontend/src/components/chat/IssueRecommendationPreview.tsx
  frontend/src/components/chat/MessageBubble.tsx
  frontend/src/components/settings/DynamicDropdown.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.plan changes into copilot/implement-github-api-rate-limit-protection
  specs/020-githubkit-migration/plan.md
Due: none

chore: add issue template for Security Review
  .github/ISSUE_TEMPLATE/chore-security-review.md
Due: none

chore: add issue template for Security Review (#1843)
  .github/ISSUE_TEMPLATE/chore-security-review.md
Due: none

docs: implement documentation maintenance system (phases 1-5)
  .github/ISSUE_TEMPLATE/chore-documentation.md
  .github/ISSUE_TEMPLATE/chore-security-review.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .markdown-link-check.json
  .markdownlint.json
  README.md
  docs/OWNERS.md
  docs/agent-pipeline.md
  docs/api-reference.md
  docs/architecture.md
  docs/configuration.md
  docs/custom-agents-best-practices.md
  docs/decisions/001-githubkit-sdk.md
  docs/decisions/002-sqlite-wal-auto-migrations.md
  docs/decisions/003-copilot-default-ai-provider.md
  docs/decisions/004-pluggable-completion-provider.md
  docs/decisions/005-sub-issue-per-agent-pipeline.md
  docs/decisions/006-signal-sidecar.md
  docs/decisions/README.md
  docs/project-structure.md
  docs/setup.md
  docs/testing.md
  docs/troubleshooting.md
Due: none

fix: adopt Copilot review recommendations for PR #1821
  specs/020-githubkit-migration/plan.md
  specs/021-api-rate-limit-protection/checklists/requirements.md
  specs/021-api-rate-limit-protection/spec.md
Due: none

fix: adopt 8 Copilot AI review recommendations for PR #1861
  .github/ISSUE_TEMPLATE/chore-documentation.md
  .github/workflows/ci.yml
  docs/api-reference.md
  docs/setup.md
  docs/troubleshooting.md
  specs/021-api-rate-limit-protection/checklists/requirements.md
  specs/021-api-rate-limit-protection/spec.md
Due: none

fix: resolve Docs Lint CI failures
  .github/workflows/ci.yml
  .markdown-link-check.json
Due: none

fix: correct MessageBubble system styling test assertion
  frontend/src/components/chat/MessageBubble.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

chore: add issue template for Documentation Sweep
  .github/ISSUE_TEMPLATE/chore-documentation-sweep.md
Due: none

feat(022): reduce GitHub API rate limit consumption (#022)
  .github/agents/copilot-instructions.md
  backend/src/api/board.py
  backend/src/api/chores.py
  backend/src/api/projects.py
  backend/src/constants.py
  backend/src/models/chores.py
  backend/src/services/cache.py
  backend/src/services/cleanup_service.py
  backend/src/services/github_projects/service.py
  backend/tests/unit/test_cleanup_service.py
  backend/tests/unit/test_github_projects.py
  frontend/src/components/chores/AddChoreModal.tsx
  frontend/src/components/chores/ChoresPanel.tsx
  frontend/src/hooks/useChores.ts
  frontend/src/hooks/useRealTimeSync.ts
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/022-api-rate-limit-protection/checklists/requirements.md
  specs/022-api-rate-limit-protection/contracts/internal-contracts.md
  specs/022-api-rate-limit-protection/data-model.md
  specs/022-api-rate-limit-protection/plan.md
  specs/022-api-rate-limit-protection/quickstart.md
  specs/022-api-rate-limit-protection/research.md
  specs/022-api-rate-limit-protection/spec.md
  specs/022-api-rate-limit-protection/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix(ui): align all components with light/dark mode theming
  frontend/src/components/agents/AddAgentModal.tsx
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/IssueRecommendationPreview.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/settings/SignalConnection.tsx
  frontend/src/index.css
Due: frontend-lint, frontend-typecheck, frontend-test

fix: address AI review feedback on PR #1866
  .github/agents/copilot-instructions.md
  backend/src/api/board.py
  specs/022-api-rate-limit-protection/checklists/requirements.md
  specs/022-api-rate-limit-protection/contracts/internal-contracts.md
  specs/022-api-rate-limit-protection/plan.md
Due: backend-pyright, backend-test

feat(022): Reduce GitHub API rate limit consumption (#1866)
  .github/agents/copilot-instructions.md
  backend/src/api/board.py
  backend/src/api/chores.py
  backend/src/api/projects.py
  backend/src/constants.py
  backend/src/models/chores.py
  backend/src/services/cache.py
  backend/src/services/cleanup_service.py
  backend/src/services/github_projects/service.py
  backend/tests/unit/test_cleanup_service.py
  backend/tests/unit/test_github_projects.py
  frontend/src/components/agents/AddAgentModal.tsx
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/IssueRecommendationPreview.tsx
  frontend/src/components/chores/AddChoreModal.tsx
  frontend/src/components/chores/ChoresPanel.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/settings/SignalConnection.tsx
  frontend/src/hooks/useChores.ts
  frontend/src/hooks/useRealTimeSync.ts
  frontend/src/index.css
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/022-api-rate-limit-protection/checklists/requirements.md
  specs/022-api-rate-limit-protection/contracts/internal-contracts.md
  specs/022-api-rate-limit-protection/data-model.md
  specs/022-api-rate-limit-protection/plan.md
  specs/022-api-rate-limit-protection/quickstart.md
  specs/022-api-rate-limit-protection/research.md
  specs/022-api-rate-limit-protection/spec.md
  specs/022-api-rate-limit-protection/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test
