Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

backend-pyright:
  name: Type Check Backend (pyright)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
  language: system
  pass_filenames: false

frontend-lint:
  name: Lint Frontend (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Type Check Frontend (TypeScript)
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-test:
  name: Test Frontend (Vitest)
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false

backend-test:
  name: Test Backend (pytest)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Merge judge changes into copilot/plan-github-label-agent-pipeline
  specs/034-label-pipeline-state/checklists/requirements.md
  specs/034-label-pipeline-state/contracts/label-fast-path.md
  specs/034-label-pipeline-state/contracts/label-validation.md
  specs/034-label-pipeline-state/contracts/label-write-path.md
  specs/034-label-pipeline-state/data-model.md
  specs/034-label-pipeline-state/plan.md
  specs/034-label-pipeline-state/quickstart.md
  specs/034-label-pipeline-state/research.md
  specs/034-label-pipeline-state/spec.md
  specs/034-label-pipeline-state/tasks.md
  tasks.md
Due: none

Merge speckit.specify changes into copilot/speckit-specify-plan-overhaul
  .gitignore
  backend/src/api/agents.py
  backend/src/api/health.py
  backend/src/config.py
  backend/src/dependencies.py
  backend/src/exceptions.py
  backend/src/main.py
  backend/src/middleware/csp.py
  backend/src/migrations/021_pipeline_state.sql
  backend/src/services/chat_store.py
  backend/src/services/pipeline_state_store.py
  backend/src/services/websocket.py
  backend/src/services/workflow_orchestrator/transitions.py
  backend/tests/integration/test_pipeline_lifecycle.py
Due: backend-pyright, backend-test

Merge speckit.specify changes into copilot/speckit-specify-audit-projects-page
  frontend/src/components/board/BoardColumn.test.tsx
  frontend/src/components/board/IssueCard.test.tsx
  frontend/src/components/board/IssueDetailModal.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

spec: GitHub Label-Based Agent Pipeline State Tracking (034) (#3345)
  .github/agents/copilot-instructions.md
  backend/src/api/pipelines.py
  backend/src/constants.py
  backend/src/models/task.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/copilot_polling/recovery.py
  backend/src/services/copilot_polling/state_validation.py
  backend/src/services/github_projects/graphql.py
  backend/src/services/github_projects/projects.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_label_constants.py
  backend/tests/unit/test_label_fast_path.py
  backend/tests/unit/test_label_validation.py
  backend/tests/unit/test_label_write_path.py
  backend/tests/unit/test_workflow_orchestrator.py
  frontend/src/components/board/BoardToolbar.tsx
  frontend/src/components/board/IssueCard.tsx
  frontend/src/hooks/useBoardControls.test.tsx
  frontend/src/hooks/useBoardControls.ts
  frontend/src/pages/ProjectsPage.tsx
  frontend/src/types/index.ts
  specs/034-label-pipeline-state/analysis-report.md
  specs/034-label-pipeline-state/checklists/requirements.md
  specs/034-label-pipeline-state/contracts/label-fast-path.md
  specs/034-label-pipeline-state/contracts/label-utilities.md
  specs/034-label-pipeline-state/contracts/label-validation.md
  specs/034-label-pipeline-state/contracts/label-write-path.md
  specs/034-label-pipeline-state/data-model.md
  specs/034-label-pipeline-state/plan.md
  specs/034-label-pipeline-state/quickstart.md
  specs/034-label-pipeline-state/research.md
  specs/034-label-pipeline-state/spec.md
  specs/034-label-pipeline-state/tasks.md
  tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

speckit.specify: Audit & Polish Projects Page for Visual Cohesion and UX Quality (#3364)
  .github/agents/copilot-instructions.md
  frontend/src/components/board/BlockingChainPanel.tsx
  frontend/src/components/board/BoardColumn.test.tsx
  frontend/src/components/board/BoardColumn.tsx
  frontend/src/components/board/IssueCard.test.tsx
  frontend/src/components/board/IssueCard.tsx
  frontend/src/components/board/IssueDetailModal.test.tsx
  frontend/src/components/board/IssueDetailModal.tsx
  frontend/src/components/board/ProjectBoard.tsx
  frontend/src/index.css
  frontend/src/pages/ProjectsPage.tsx
  specs/033-projects-page-audit/tasks.md
  specs/034-projects-page-audit/checklists/requirements.md
  specs/034-projects-page-audit/contracts/component-contracts.yaml
  specs/034-projects-page-audit/data-model.md
  specs/034-projects-page-audit/plan.md
  specs/034-projects-page-audit/quickstart.md
  specs/034-projects-page-audit/research.md
  specs/034-projects-page-audit/spec.md
  specs/034-projects-page-audit/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.implement changes into copilot/speckit-specify-plan-overhaul
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/pages/NotFoundPage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge judge changes into copilot/speckitspecify-add-confirmation-step
  frontend/src/components/board/CleanUpConfirmModal.tsx
  frontend/src/components/pipeline/UnsavedChangesDialog.tsx
  frontend/src/components/tools/ToolsPanel.tsx
  frontend/src/components/ui/confirmation-dialog.tsx
  specs/035-confirm-critical-actions/plan.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.plan changes into copilot/speckit-specify-audit-agents-page
  .github/agents/copilot-instructions.md
  specs/035-audit-agents-page/contracts/component-contracts.yaml
  specs/035-audit-agents-page/data-model.md
  specs/035-audit-agents-page/plan.md
  specs/035-audit-agents-page/quickstart.md
  specs/035-audit-agents-page/research.md
Due: none

Merge judge changes into copilot/speckit-specify-plan-overhaul
  backend/src/services/pipeline_state_store.py
  backend/src/services/workflow_orchestrator/transitions.py
  backend/tests/integration/test_pipeline_lifecycle.py
  specs/035-best-practices-overhaul/tasks.md
Due: backend-pyright, backend-test

Merge designer changes into copilot/speckit-fix-chat-microphone-support
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/ChatToolbar.tsx
  frontend/src/components/chat/VoiceInputButton.tsx
  frontend/src/index.css
Due: frontend-lint, frontend-typecheck, frontend-test

Merge designer changes into copilot/speckit-specify-add-mcps
  .github/agents/archivist.agent.md
  .github/agents/designer.agent.md
  .github/agents/judge.agent.md
  .github/agents/linter.agent.md
  .github/agents/mcp.json
  .github/agents/quality-assurance.agent.md
  .github/agents/speckit.analyze.agent.md
  .github/agents/speckit.checklist.agent.md
  .github/agents/speckit.clarify.agent.md
  .github/agents/speckit.constitution.agent.md
  .github/agents/speckit.implement.agent.md
  .github/agents/speckit.plan.agent.md
  .github/agents/speckit.specify.agent.md
  .github/agents/speckit.tasks.agent.md
  .github/agents/speckit.taskstoissues.agent.md
  .github/agents/tester.agent.md
  frontend/src/components/agents/AgentInlineEditor.tsx
  frontend/src/components/tools/GitHubMcpConfigGenerator.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.tasks changes into copilot/speckit-specify-audit-agents-page
  specs/035-audit-agents-page/tasks.md
Due: none

Merge speckit.analyze changes into copilot/speckit-specify-audit-agents-page
  specs/035-audit-agents-page/analysis-report.md
Due: none

Merge speckit.plan changes into copilot/speckit-specify-add-mcps
  .github/agents/copilot-instructions.md
  specs/036-agent-mcp-sync/contracts/agent-sync-api.yaml
  specs/036-agent-mcp-sync/data-model.md
  specs/036-agent-mcp-sync/plan.md
  specs/036-agent-mcp-sync/quickstart.md
  specs/036-agent-mcp-sync/research.md
Due: none

Merge speckit.plan changes into copilot/speckit-fix-chat-microphone-support
  .github/agents/copilot-instructions.md
  specs/036-fix-voice-input/contracts/voice-input-button.md
  specs/036-fix-voice-input/contracts/voice-input-hook.md
  specs/036-fix-voice-input/data-model.md
  specs/036-fix-voice-input/plan.md
  specs/036-fix-voice-input/quickstart.md
  specs/036-fix-voice-input/research.md
Due: none

Merge speckit.tasks changes into copilot/speckit-specify-add-mcps
  specs/036-agent-mcp-sync/tasks.md
Due: none

Merge speckit.tasks changes into copilot/speckit-fix-chat-microphone-support
  specs/036-fix-voice-input/tasks.md
Due: none

Merge speckit.implement changes into copilot/speckit-specify-audit-agents-page
  frontend/src/components/agents/AddAgentModal.tsx
  frontend/src/components/agents/AgentCard.tsx
  frontend/src/components/agents/AgentIconCatalog.tsx
  frontend/src/components/agents/AgentIconPickerModal.tsx
  frontend/src/components/agents/AgentInlineEditor.tsx
  frontend/src/components/agents/AgentsPanel.tsx
  frontend/src/components/agents/BulkModelUpdateDialog.tsx
  frontend/src/components/agents/ToolsEditor.tsx
  frontend/src/components/board/AddAgentPopover.tsx
  frontend/src/components/board/AgentColumnCell.tsx
  frontend/src/components/board/AgentConfigRow.tsx
  frontend/src/components/board/AgentDragOverlay.tsx
  frontend/src/components/board/AgentPresetSelector.tsx
  frontend/src/components/board/AgentSaveBar.test.tsx
  frontend/src/components/board/AgentSaveBar.tsx
  frontend/src/components/board/AgentTile.test.tsx
  frontend/src/components/board/AgentTile.tsx
  frontend/src/pages/AgentsPage.tsx
  specs/035-audit-agents-page/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.implement changes into copilot/speckit-fix-chat-microphone-support
  specs/036-fix-voice-input/tasks.md
Due: none

Merge judge changes into copilot/speckit-fix-chat-microphone-support
  frontend/src/components/chat/ChatToolbar.tsx
  specs/036-fix-voice-input/checklists/requirements.md
  specs/036-fix-voice-input/spec.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.implement changes into copilot/speckit-specify-add-mcps
  backend/src/api/agents.py
  backend/src/main.py
  backend/src/services/agents/agent_mcp_sync.py
  backend/src/services/agents/service.py
  backend/src/services/tools/service.py
  backend/tests/unit/test_agent_mcp_sync.py
  frontend/src/hooks/useTools.ts
  frontend/src/services/api.ts
  specs/036-agent-mcp-sync/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge judge changes into copilot/speckit-specify-audit-agents-page
  .github/agents/copilot-instructions.md
  frontend/src/components/agents/AgentCard.tsx
  frontend/src/components/agents/AgentIconPickerModal.tsx
  frontend/src/index.css
Due: frontend-lint, frontend-typecheck, frontend-test

Merge judge changes into copilot/speckit-specify-add-mcps
  .github/agents/copilot-instructions.md
  backend/src/main.py
  backend/src/services/agents/service.py
  backend/tests/unit/test_agent_mcp_sync.py
  frontend/src/hooks/useTools.ts
  specs/036-agent-mcp-sync/spec.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge quality-assurance changes into copilot/speckit-fix-chat-microphone-support
  frontend/src/components/chat/VoiceInputButton.test.tsx
  frontend/src/hooks/useVoiceInput.test.ts
Due: frontend-lint, frontend-typecheck, frontend-test

Merge tester changes into copilot/speckit-fix-chat-microphone-support
  frontend/src/components/chat/VoiceInputButton.test.tsx
  frontend/src/hooks/useVoiceInput.test.ts
Due: frontend-lint, frontend-typecheck, frontend-test

Merge quality-assurance changes into copilot/speckit-specify-add-mcps
  .github/agents/mcp.json
  backend/src/services/tools/service.py
  backend/tests/unit/test_agent_mcp_sync.py
Due: backend-pyright, backend-test

Merge tester changes into copilot/speckit-specify-add-mcps
  backend/tests/unit/test_agent_mcp_sync.py
Due: backend-pyright, backend-test

Path conditions:
  backend-pyright: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-test: any of: ^backend/.*\.py$
