Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Backend Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff-format
        name: Format Python (ruff)
        files: ^backend/
      - id: ruff
        name: Lint Python (ruff)
        files: ^backend/
        args: [--fix]

  - repo: local
    hooks:
      - id: backend-pyright
        name: Type Check Backend (pyright)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Lint Frontend (ESLint)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: Type Check Frontend (TypeScript)
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-test
        name: Test Frontend (Vitest)
        entry: bash -c 'cd frontend && npm test'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: backend-test
        name: Test Backend (pytest)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        stages: [pre-push]  # Run tests only on push, not every commit

Merge speckit.plan changes into copilot/speckit-specify-security-review
  .github/agents/copilot-instructions.md
  specs/037-security-review/contracts/security-api.yaml
  specs/037-security-review/data-model.md
  specs/037-security-review/plan.md
  specs/037-security-review/quickstart.md
  specs/037-security-review/research.md
Due: none

Merge judge changes into copilot/speckitspecify-bug-review-and-fix
  backend/src/constants.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/pipeline_state_store.py
  backend/src/services/pipelines/service.py
  backend/tests/unit/test_api_board.py
  backend/tests/unit/test_blocking_removal.py
  backend/tests/unit/test_label_constants.py
  backend/tests/unit/test_label_fast_path.py
  backend/tests/unit/test_label_validation.py
  backend/tests/unit/test_pipeline_state_store.py
  frontend/src/components/chat/ChatInterface.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge judge changes into copilot/speckitspecify-attach-user-chat-attachments
  backend/src/attachment_formatter.py
  backend/tests/unit/test_attachment_formatter.py
  specs/037-chat-attachment-github-issue/contracts/chat-attachment-api.yaml
  specs/037-chat-attachment-github-issue/plan.md
  specs/037-chat-attachment-github-issue/quickstart.md
  specs/037-chat-attachment-github-issue/research.md
  specs/037-chat-attachment-github-issue/spec.md
Due: backend-pyright, backend-test

Merge speckit.tasks changes into copilot/speckit-specify-security-review
  specs/037-security-review/tasks.md
Due: none

Merge speckit.plan changes into copilot/speckit-performance-review-specification
  .github/agents/copilot-instructions.md
  specs/037-performance-review/contracts/cache-behavior.md
  specs/037-performance-review/contracts/refresh-policy.md
  specs/037-performance-review/contracts/render-behavior.md
  specs/037-performance-review/data-model.md
  specs/037-performance-review/plan.md
  specs/037-performance-review/quickstart.md
  specs/037-performance-review/research.md
Due: none

Merge speckit.plan changes into copilot/speckit-specify-plan-reinvent-ux
  .github/agents/copilot-instructions.md
  specs/037-pipeline-builder-ux/contracts/pipeline-api.md
  specs/037-pipeline-builder-ux/data-model.md
  specs/037-pipeline-builder-ux/plan.md
  specs/037-pipeline-builder-ux/quickstart.md
  specs/037-pipeline-builder-ux/research.md
Due: none

Merge speckit.tasks changes into copilot/speckit-performance-review-specification
  specs/001-performance-review/tasks.md
Due: none

Merge judge changes into copilot/speckit-specify-audit-light-dark-theme
  frontend/scripts/audit-theme-colors.mjs
  frontend/scripts/check-theme-contrast.mjs
  frontend/src/lib/themeAudit.ts
  specs/037-theme-contrast-audit/checklists/requirements.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.tasks changes into copilot/speckit-specify-plan-reinvent-ux
  specs/037-pipeline-builder-ux/tasks.md
Due: none

feat: speckit.specify — Attach User Chat Attachments to GitHub Parent Issue (#3577)
  .github/agents/copilot-instructions.md
  backend/src/api/chat.py
  backend/src/attachment_formatter.py
  backend/src/migrations/022_chat_file_urls.sql
  backend/src/models/recommendation.py
  backend/src/services/chat_store.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_attachment_formatter.py
  backend/tests/unit/test_recommendation_models.py
  specs/037-chat-attachment-github-issue/checklists/requirements.md
  specs/037-chat-attachment-github-issue/contracts/chat-attachment-api.yaml
  specs/037-chat-attachment-github-issue/data-model.md
  specs/037-chat-attachment-github-issue/plan.md
  specs/037-chat-attachment-github-issue/quickstart.md
  specs/037-chat-attachment-github-issue/research.md
  specs/037-chat-attachment-github-issue/spec.md
  specs/037-chat-attachment-github-issue/tasks.md
Due: backend-pyright, backend-test

feat: add specification for Frontend Theme Audit (037-theme-contrast-audit) (#3550)
  .github/agents/copilot-instructions.md
  frontend/package.json
  frontend/scripts/audit-theme-colors.mjs
  frontend/scripts/check-theme-contrast.mjs
  frontend/src/components/board/IssueCard.tsx
  frontend/src/components/chat/ChatToolbar.tsx
  frontend/src/components/pipeline/AgentNode.tsx
  frontend/src/components/pipeline/ModelSelector.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/components/settings/DynamicDropdown.tsx
  frontend/src/index.css
  frontend/src/layout/NotificationBell.tsx
  frontend/src/layout/RateLimitBar.tsx
  frontend/src/layout/Sidebar.tsx
  frontend/src/lib/themeAudit.test.ts
  frontend/src/lib/themeAudit.ts
  specs/037-theme-contrast-audit/checklists/requirements.md
  specs/037-theme-contrast-audit/contracts/audit-checklist.md
  specs/037-theme-contrast-audit/contracts/token-registry.md
  specs/037-theme-contrast-audit/data-model.md
  specs/037-theme-contrast-audit/plan.md
  specs/037-theme-contrast-audit/quickstart.md
  specs/037-theme-contrast-audit/research.md
  specs/037-theme-contrast-audit/spec.md
  specs/037-theme-contrast-audit/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

feat: Add Bug Basher specification (037-bug-basher) (#3565)
  .github/agents/copilot-instructions.md
  backend/src/constants.py
  backend/src/services/copilot_polling/pipeline.py
  backend/src/services/database.py
  backend/src/services/pipeline_state_store.py
  backend/src/services/pipelines/service.py
  backend/tests/unit/test_api_board.py
  backend/tests/unit/test_blocking_removal.py
  backend/tests/unit/test_database.py
  backend/tests/unit/test_label_constants.py
  backend/tests/unit/test_label_fast_path.py
  backend/tests/unit/test_label_validation.py
  backend/tests/unit/test_pipeline_state_store.py
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/hooks/useFileUpload.test.ts
  frontend/src/hooks/useFileUpload.ts
  frontend/src/hooks/usePipelineReducer.test.ts
  frontend/src/hooks/usePipelineReducer.ts
  frontend/src/services/api.ts
  specs/037-bug-basher/checklists/requirements.md
  specs/037-bug-basher/contracts/bug-report-schema.yaml
  specs/037-bug-basher/data-model.md
  specs/037-bug-basher/plan.md
  specs/037-bug-basher/quickstart.md
  specs/037-bug-basher/research.md
  specs/037-bug-basher/spec.md
  specs/037-bug-basher/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.implement changes into copilot/speckit-specify-security-review
  backend/src/api/tasks.py
  backend/src/api/workflow.py
  backend/src/migrations/022_encrypt_existing_tokens.sql
  backend/tests/conftest.py
  backend/tests/unit/test_config_validation.py
  backend/tests/unit/test_error_responses.py
  backend/tests/unit/test_project_ownership.py
  backend/tests/unit/test_rate_limiting.py
  frontend/src/components/board/IssueCard.test.tsx
  frontend/src/services/api.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.implement changes into copilot/speckit-performance-review-specification
  backend/src/api/board.py
  backend/src/services/cache.py
  backend/tests/unit/test_api_board.py
  backend/tests/unit/test_cache.py
  frontend/src/pages/ProjectsPage.tsx
  specs/001-performance-review/baseline.md
  specs/001-performance-review/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.implement changes into copilot/speckit-specify-plan-reinvent-ux
  backend/src/models/pipeline.py
  backend/src/services/pipelines/service.py
  frontend/src/components/board/AgentPresetSelector.tsx
  frontend/src/components/pipeline/ExecutionGroupCard.tsx
  frontend/src/components/pipeline/PipelineBoard.test.tsx
  frontend/src/components/pipeline/PipelineBoard.tsx
  frontend/src/components/pipeline/PipelineFlowGraph.tsx
  frontend/src/components/pipeline/SavedWorkflowsList.tsx
  frontend/src/components/pipeline/StageCard.test.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/data/preset-pipelines.ts
  frontend/src/hooks/usePipelineBoardMutations.ts
  frontend/src/hooks/usePipelineConfig.ts
  frontend/src/hooks/usePipelineModelOverride.ts
  frontend/src/hooks/usePipelineReducer.ts
  frontend/src/lib/pipelineMigration.test.ts
  frontend/src/lib/pipelineMigration.ts
  frontend/src/pages/AgentsPage.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/types/index.ts
  specs/037-pipeline-builder-ux/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge judge changes into copilot/speckit-specify-security-review
  backend/tests/unit/test_project_ownership.py
  backend/tests/unit/test_rate_limiting.py
  frontend/src/components/board/IssueCard.test.tsx
  specs/037-security-review/contracts/security-api.yaml
  specs/037-security-review/data-model.md
  specs/037-security-review/plan.md
  specs/037-security-review/quickstart.md
  specs/037-security-review/research.md
  specs/037-security-review/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

[speckit.specify] Security, Privacy & Vulnerability Audit Specification (#3597)
  .github/agents/copilot-instructions.md
  backend/src/api/tasks.py
  backend/src/api/workflow.py
  backend/src/migrations/022_encrypt_existing_tokens.sql
  backend/tests/conftest.py
  backend/tests/unit/test_config_validation.py
  backend/tests/unit/test_error_responses.py
  backend/tests/unit/test_project_ownership.py
  backend/tests/unit/test_rate_limiting.py
  frontend/src/components/board/IssueCard.test.tsx
  frontend/src/services/api.ts
  specs/037-security-review/checklists/requirements.md
  specs/037-security-review/contracts/security-api.yaml
  specs/037-security-review/data-model.md
  specs/037-security-review/plan.md
  specs/037-security-review/quickstart.md
  specs/037-security-review/research.md
  specs/037-security-review/spec.md
  specs/037-security-review/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge judge changes into copilot/speckit-specify-plan-reinvent-ux
  backend/src/services/pipelines/service.py
  frontend/src/components/pipeline/ExecutionGroupCard.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/hooks/usePipelineBoardMutations.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge judge changes into copilot/speckit-performance-review-specification
  backend/src/api/board.py
  backend/tests/unit/test_api_board.py
  frontend/src/pages/ProjectsPage.tsx
  specs/037-performance-review/plan.md
  specs/037-performance-review/quickstart.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

[speckit.specify] Performance Review – Feature Specification (#3607)
  .github/agents/copilot-instructions.md
  backend/src/api/board.py
  backend/src/services/cache.py
  backend/tests/unit/test_api_board.py
  backend/tests/unit/test_cache.py
  frontend/src/pages/ProjectsPage.tsx
  specs/001-performance-review/baseline.md
  specs/001-performance-review/tasks.md
  specs/037-performance-review/checklists/requirements.md
  specs/037-performance-review/contracts/cache-behavior.md
  specs/037-performance-review/contracts/refresh-policy.md
  specs/037-performance-review/contracts/render-behavior.md
  specs/037-performance-review/data-model.md
  specs/037-performance-review/plan.md
  specs/037-performance-review/quickstart.md
  specs/037-performance-review/research.md
  specs/037-performance-review/spec.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge quality-assurance changes into copilot/speckit-specify-plan-reinvent-ux
  frontend/src/constants/tooltip-content.ts
  frontend/src/hooks/usePipelineBoardMutations.ts
  frontend/src/hooks/usePipelineConfig.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge tester changes into copilot/speckit-specify-plan-reinvent-ux
  frontend/src/components/pipeline/StageCard.test.tsx
  frontend/src/hooks/usePipelineConfig.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge archivist changes into copilot/speckit-specify-plan-reinvent-ux
  docs/architecture.md
  docs/project-structure.md
Due: none

Merge linter changes into copilot/speckit-specify-plan-reinvent-ux
  backend/src/services/pipelines/service.py
  backend/tests/unit/test_attachment_formatter.py
  backend/tests/unit/test_config_validation.py
  frontend/src/hooks/usePipelineConfig.ts
  frontend/src/lib/themeAudit.test.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

[speckit.specify] Reinvent Agent Pipeline Creation UX — Specification (#3622)
  .github/agents/copilot-instructions.md
  backend/src/models/pipeline.py
  backend/src/services/pipelines/service.py
  backend/tests/unit/test_attachment_formatter.py
  backend/tests/unit/test_config_validation.py
  docs/architecture.md
  docs/project-structure.md
  frontend/src/components/board/AgentPresetSelector.tsx
  frontend/src/components/pipeline/ExecutionGroupCard.tsx
  frontend/src/components/pipeline/PipelineBoard.test.tsx
  frontend/src/components/pipeline/PipelineBoard.tsx
  frontend/src/components/pipeline/PipelineFlowGraph.tsx
  frontend/src/components/pipeline/SavedWorkflowsList.tsx
  frontend/src/components/pipeline/StageCard.test.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/constants/tooltip-content.ts
  frontend/src/data/preset-pipelines.ts
  frontend/src/hooks/usePipelineBoardMutations.ts
  frontend/src/hooks/usePipelineConfig.test.tsx
  frontend/src/hooks/usePipelineConfig.ts
  frontend/src/hooks/usePipelineModelOverride.ts
  frontend/src/hooks/usePipelineReducer.ts
  frontend/src/lib/pipelineMigration.test.ts
  frontend/src/lib/pipelineMigration.ts
  frontend/src/lib/themeAudit.test.ts
  frontend/src/pages/AgentsPage.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/types/index.ts
  specs/037-pipeline-builder-ux/checklists/requirements.md
  specs/037-pipeline-builder-ux/contracts/pipeline-api.md
  specs/037-pipeline-builder-ux/data-model.md
  specs/037-pipeline-builder-ux/plan.md
  specs/037-pipeline-builder-ux/quickstart.md
  specs/037-pipeline-builder-ux/research.md
  specs/037-pipeline-builder-ux/spec.md
  specs/037-pipeline-builder-ux/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

chore: sync MCP servers and enforce tools: ['*'] on archivist.agent.md
  .github/agents/archivist.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on designer.agent.md
  .github/agents/designer.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on judge.agent.md
  .github/agents/judge.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on linter.agent.md
  .github/agents/linter.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on quality-assurance.agent.md
  .github/agents/quality-assurance.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on speckit.analyze.agent.md
  .github/agents/speckit.analyze.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on speckit.checklist.agent.md
  .github/agents/speckit.checklist.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on speckit.clarify.agent.md
  .github/agents/speckit.clarify.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on speckit.constitution.agent.md
  .github/agents/speckit.constitution.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on speckit.implement.agent.md
  .github/agents/speckit.implement.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on speckit.plan.agent.md
  .github/agents/speckit.plan.agent.md
Due: none

chore: sync MCP servers and enforce tools: ['*'] on speckit.specify.agent.md
  .github/agents/speckit.specify.agent.md
Due: none
