Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

backend-pyright:
  name: Type Check Backend (pyright)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
  language: system
  pass_filenames: false

frontend-lint:
  name: Lint Frontend (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Type Check Frontend (TypeScript)
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-test:
  name: Test Frontend (Vitest)
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false

backend-test:
  name: Test Backend (pytest)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Merge speckit.implement changes into copilot/create-feature-specification
  backend/src/models/board.py
  backend/src/services/github_projects/graphql.py
  backend/src/services/github_projects/service.py
  frontend/src/components/board/AgentPresetSelector.tsx
  frontend/src/components/board/AgentTile.tsx
  frontend/src/components/board/BoardColumn.tsx
  frontend/src/components/board/BoardToolbar.tsx
  frontend/src/components/board/IssueCard.tsx
  frontend/src/components/board/ProjectBoard.tsx
  frontend/src/hooks/useBoardControls.ts
  frontend/src/pages/ProjectsPage.tsx
  frontend/src/types/index.ts
  specs/029-board-hierarchy-filters/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge judge changes into copilot/fix-pipeline-page-issues
  backend/src/services/pipelines/service.py
Due: backend-pyright, backend-test

Merge speckit.implement changes into copilot/speckit-specify-agents-page-features
  backend/src/api/agents.py
  backend/src/models/agents.py
  backend/src/services/agents/service.py
  frontend/src/components/agents/AddAgentModal.tsx
  frontend/src/components/agents/AgentAvatar.tsx
  frontend/src/components/agents/AgentCard.tsx
  frontend/src/components/agents/AgentsPanel.tsx
  frontend/src/components/agents/BulkModelUpdateDialog.tsx
  frontend/src/components/agents/ToolsEditor.tsx
  frontend/src/components/agents/__tests__/AgentsPanel.test.tsx
  frontend/src/hooks/useAgents.ts
  frontend/src/services/api.ts
  specs/029-agents-page-ux/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge judge changes into copilot/fix-user-input-chat-metadata
  backend/tests/unit/test_ai_agent.py
Due: backend-pyright, backend-test

Merge judge changes into copilot/create-feature-specification
  frontend/src/components/board/BoardColumn.test.tsx
  frontend/src/components/board/IssueCard.test.tsx
  frontend/src/components/board/IssueDetailModal.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge judge changes into copilot/speckit-specify-agents-page-features
  frontend/src/components/agents/AddAgentModal.tsx
  frontend/src/components/agents/BulkModelUpdateDialog.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.implement changes into copilot/fix-chores-page-counters
  backend/src/api/chores.py
  backend/src/migrations/016_chores_enhancements.sql
  backend/src/models/chores.py
  backend/src/services/chores/chat.py
  backend/src/services/chores/service.py
  backend/src/services/chores/template_builder.py
  frontend/src/components/chores/AddChoreModal.tsx
  frontend/src/components/chores/ChoreCard.tsx
  frontend/src/components/chores/ChoreChatFlow.tsx
  frontend/src/components/chores/ChoreInlineEditor.tsx
  frontend/src/components/chores/ChoresPanel.tsx
  frontend/src/components/chores/ConfirmChoreModal.tsx
  frontend/src/components/chores/FeaturedRitualsPanel.tsx
  frontend/src/components/chores/PipelineSelector.tsx
  frontend/src/hooks/useChores.ts
  frontend/src/hooks/useUnsavedChanges.ts
  frontend/src/pages/ChoresPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/029-chores-page-enhancements/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge linter changes into copilot/fix-pipeline-page-issues
  backend/src/services/pipelines/service.py
Due: backend-pyright, backend-test

Merge linter changes into copilot/create-feature-specification
  backend/src/models/board.py
  backend/src/services/github_projects/service.py
Due: backend-pyright, backend-test

Merge linter changes into copilot/speckit-specify-agents-page-features
  frontend/src/components/agents/AddAgentModal.tsx
  frontend/src/components/agents/AgentAvatar.tsx
  frontend/src/components/agents/AgentCard.tsx
  frontend/src/components/agents/AgentsPanel.tsx
  frontend/src/components/agents/BulkModelUpdateDialog.tsx
  frontend/src/components/agents/ToolsEditor.tsx
  frontend/src/hooks/useAgents.ts
  frontend/src/services/api.ts
Due: frontend-lint, frontend-typecheck, frontend-test

Merge judge changes into copilot/fix-chores-page-counters
  backend/src/services/chores/service.py
  frontend/src/components/chores/__tests__/AddChoreModal.test.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge linter changes into copilot/fix-chores-page-counters
  backend/src/services/chores/chat.py
  backend/src/services/chores/service.py
Due: backend-pyright, backend-test

fix: align ai-enhance fallback behavior
  .github/agents/copilot-instructions.md
  backend/src/api/chat.py
  backend/src/services/ai_agent.py
  backend/tests/unit/test_ai_agent.py
  backend/tests/unit/test_api_chat.py
  specs/029-fix-ai-enhance-disabled/data-model.md
  specs/029-fix-ai-enhance-disabled/plan.md
  specs/029-fix-ai-enhance-disabled/quickstart.md
  specs/029-fix-ai-enhance-disabled/research.md
  specs/029-fix-ai-enhance-disabled/spec.md
  specs/029-fix-ai-enhance-disabled/tasks.md
Due: backend-pyright, backend-test

feat: add specification for fix-ai-enhance-disabled (029) (#2213)
  .github/agents/copilot-instructions.md
  backend/src/api/chat.py
  backend/src/services/ai_agent.py
  backend/tests/unit/test_ai_agent.py
  backend/tests/unit/test_api_chat.py
  specs/029-fix-ai-enhance-disabled/checklists/requirements.md
  specs/029-fix-ai-enhance-disabled/contracts/api.md
  specs/029-fix-ai-enhance-disabled/contracts/components.md
  specs/029-fix-ai-enhance-disabled/data-model.md
  specs/029-fix-ai-enhance-disabled/plan.md
  specs/029-fix-ai-enhance-disabled/quickstart.md
  specs/029-fix-ai-enhance-disabled/research.md
  specs/029-fix-ai-enhance-disabled/spec.md
  specs/029-fix-ai-enhance-disabled/tasks.md
Due: backend-pyright, backend-test

fix: harden board controls and selector state
  .github/agents/copilot-instructions.md
  frontend/src/components/board/AgentPresetSelector.tsx
  frontend/src/components/board/IssueCard.test.tsx
  frontend/src/components/board/IssueCard.tsx
  frontend/src/hooks/useBoardControls.test.tsx
  frontend/src/hooks/useBoardControls.ts
  frontend/src/pages/ProjectsPage.tsx
  specs/029-board-hierarchy-filters/data-model.md
  specs/029-board-hierarchy-filters/plan.md
  specs/029-board-hierarchy-filters/quickstart.md
  specs/029-board-hierarchy-filters/research.md
  specs/029-board-hierarchy-filters/spec.md
  specs/029-board-hierarchy-filters/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

speckit.specify: Project Board parent issue hierarchy, sub-issue display, pipeline fixes & filters (#2223)
  .github/agents/copilot-instructions.md
  backend/src/models/board.py
  backend/src/services/github_projects/graphql.py
  backend/src/services/github_projects/service.py
  frontend/src/components/board/AgentPresetSelector.tsx
  frontend/src/components/board/AgentTile.tsx
  frontend/src/components/board/BoardColumn.test.tsx
  frontend/src/components/board/BoardColumn.tsx
  frontend/src/components/board/BoardToolbar.tsx
  frontend/src/components/board/IssueCard.test.tsx
  frontend/src/components/board/IssueCard.tsx
  frontend/src/components/board/IssueDetailModal.test.tsx
  frontend/src/components/board/ProjectBoard.tsx
  frontend/src/hooks/useBoardControls.test.tsx
  frontend/src/hooks/useBoardControls.ts
  frontend/src/pages/ProjectsPage.tsx
  frontend/src/types/index.ts
  specs/029-board-hierarchy-filters/checklists/requirements.md
  specs/029-board-hierarchy-filters/contracts/api.md
  specs/029-board-hierarchy-filters/contracts/components.md
  specs/029-board-hierarchy-filters/data-model.md
  specs/029-board-hierarchy-filters/plan.md
  specs/029-board-hierarchy-filters/quickstart.md
  specs/029-board-hierarchy-filters/research.md
  specs/029-board-hierarchy-filters/spec.md
  specs/029-board-hierarchy-filters/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Update frontend/src/components/pipeline/StageCard.tsx
  frontend/src/components/pipeline/StageCard.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

feat(spec): Add specification for Pipeline Page UX fixes (029-pipeline-ux-fixes) (#2203)
  .github/agents/copilot-instructions.md
  backend/src/api/pipelines.py
  backend/src/services/pipelines/service.py
  frontend/src/components/pipeline/AgentNode.tsx
  frontend/src/components/pipeline/PipelineBoard.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/components/tools/ToolSelectorModal.tsx
  frontend/src/hooks/usePipelineConfig.ts
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/services/api.ts
  specs/029-pipeline-ux-fixes/checklists/requirements.md
  specs/029-pipeline-ux-fixes/contracts/api.md
  specs/029-pipeline-ux-fixes/contracts/components.md
  specs/029-pipeline-ux-fixes/data-model.md
  specs/029-pipeline-ux-fixes/plan.md
  specs/029-pipeline-ux-fixes/quickstart.md
  specs/029-pipeline-ux-fixes/research.md
  specs/029-pipeline-ux-fixes/spec.md
  specs/029-pipeline-ux-fixes/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: harden agents page modal flows
  frontend/src/components/agents/AddAgentModal.tsx
  frontend/src/components/agents/AgentAvatar.tsx
  frontend/src/components/agents/BulkModelUpdateDialog.tsx
  frontend/src/components/agents/ToolsEditor.tsx
  frontend/src/components/agents/__tests__/AddAgentModal.test.tsx
  frontend/src/components/agents/__tests__/AgentsPanel.test.tsx
  specs/029-agents-page-ux/spec.md
Due: frontend-lint, frontend-typecheck, frontend-test

feat: implement agents page UX enhancements (#2233)
  .github/agents/copilot-instructions.md
  backend/src/api/agents.py
  backend/src/models/agents.py
  backend/src/services/agents/service.py
  frontend/src/components/agents/AddAgentModal.tsx
  frontend/src/components/agents/AgentAvatar.tsx
  frontend/src/components/agents/AgentCard.tsx
  frontend/src/components/agents/AgentsPanel.tsx
  frontend/src/components/agents/BulkModelUpdateDialog.tsx
  frontend/src/components/agents/ToolsEditor.tsx
  frontend/src/components/agents/__tests__/AddAgentModal.test.tsx
  frontend/src/components/agents/__tests__/AgentsPanel.test.tsx
  frontend/src/hooks/useAgents.ts
  frontend/src/services/api.ts
  specs/029-agents-page-ux/checklists/requirements.md
  specs/029-agents-page-ux/contracts/api.md
  specs/029-agents-page-ux/contracts/components.md
  specs/029-agents-page-ux/data-model.md
  specs/029-agents-page-ux/plan.md
  specs/029-agents-page-ux/quickstart.md
  specs/029-agents-page-ux/research.md
  specs/029-agents-page-ux/spec.md
  specs/029-agents-page-ux/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: harden chores page review follow-ups
  backend/src/api/chores.py
  backend/src/services/chores/service.py
  backend/src/services/chores/template_builder.py
  backend/tests/unit/test_chores_api.py
  backend/tests/unit/test_chores_service.py
  frontend/src/components/chores/ChoreCard.tsx
  frontend/src/components/chores/ChoreInlineEditor.tsx
  frontend/src/components/chores/FeaturedRitualsPanel.tsx
  frontend/src/components/chores/PipelineSelector.tsx
  frontend/src/components/chores/__tests__/FeaturedRitualsPanel.test.tsx
  frontend/src/pages/ChoresPage.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

feat: enhance chores page workflow and editing UX (#2245)
  .github/agents/copilot-instructions.md
  backend/src/api/chores.py
  backend/src/migrations/016_chores_enhancements.sql
  backend/src/models/chores.py
  backend/src/services/chores/chat.py
  backend/src/services/chores/service.py
  backend/src/services/chores/template_builder.py
  backend/tests/unit/test_chores_api.py
  backend/tests/unit/test_chores_service.py
  frontend/src/components/chores/AddChoreModal.tsx
  frontend/src/components/chores/ChoreCard.tsx
  frontend/src/components/chores/ChoreChatFlow.tsx
  frontend/src/components/chores/ChoreInlineEditor.tsx
  frontend/src/components/chores/ChoresPanel.tsx
  frontend/src/components/chores/ConfirmChoreModal.tsx
  frontend/src/components/chores/FeaturedRitualsPanel.tsx
  frontend/src/components/chores/PipelineSelector.tsx
  frontend/src/components/chores/__tests__/AddChoreModal.test.tsx
  frontend/src/components/chores/__tests__/FeaturedRitualsPanel.test.tsx
  frontend/src/hooks/useChores.ts
  frontend/src/hooks/useUnsavedChanges.ts
  frontend/src/pages/ChoresPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/029-chores-page-enhancements/checklists/requirements.md
  specs/029-chores-page-enhancements/contracts/api.md
  specs/029-chores-page-enhancements/contracts/components.md
  specs/029-chores-page-enhancements/data-model.md
  specs/029-chores-page-enhancements/plan.md
  specs/029-chores-page-enhancements/quickstart.md
  specs/029-chores-page-enhancements/research.md
  specs/029-chores-page-enhancements/spec.md
  specs/029-chores-page-enhancements/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

test: update workflow agent preference mock
  backend/tests/unit/test_api_workflow.py
Due: backend-pyright, backend-test

fix: repair chores card JSX layout
  frontend/src/components/chores/ChoreCard.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

chore: sync MCP tool 'markitdown' configuration
  .copilot/mcp.json
Due: none

chore: remove MCP tool 'markitdown' configuration
  .copilot/mcp.json
Due: none

Path conditions:
  backend-pyright: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-test: any of: ^backend/.*\.py$
