Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

backend-pyright:
  name: Type Check Backend (pyright)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
  language: system
  pass_filenames: false

frontend-lint:
  name: Lint Frontend (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Type Check Frontend (TypeScript)
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-test:
  name: Test Frontend (Vitest)
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false

backend-test:
  name: Test Backend (pytest)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Merge speckit.plan changes into copilot/align-agent-pipeline-columns
  .github/agents/copilot-instructions.md
  specs/023-pipeline-dragdrop/contracts/component-contracts.md
  specs/023-pipeline-dragdrop/data-model.md
  specs/023-pipeline-dragdrop/plan.md
  specs/023-pipeline-dragdrop/quickstart.md
  specs/023-pipeline-dragdrop/research.md
Due: none

Merge speckit.tasks changes into copilot/align-agent-pipeline-columns
  specs/023-pipeline-dragdrop/tasks.md
Due: none

Merge speckit.implement changes into copilot/align-agent-pipeline-columns
  frontend/src/components/board/AgentColumnCell.tsx
  frontend/src/components/board/AgentConfigRow.tsx
  frontend/src/components/board/AgentDragOverlay.tsx
  frontend/src/components/board/AgentTile.tsx
  frontend/src/hooks/useAgentConfig.ts
Due: frontend-lint, frontend-typecheck, frontend-test

Merge judge changes into copilot/align-agent-pipeline-columns
  .github/agents/copilot-instructions.md
  frontend/src/components/board/AgentConfigRow.tsx
  frontend/src/hooks/useAgentConfig.ts
  specs/023-pipeline-dragdrop/spec.md
Due: frontend-lint, frontend-typecheck, frontend-test

feat(023): Specification for Agent Pipeline column alignment & drag/drop (#1876)
  .github/agents/copilot-instructions.md
  frontend/src/components/board/AgentColumnCell.tsx
  frontend/src/components/board/AgentConfigRow.tsx
  frontend/src/components/board/AgentDragOverlay.tsx
  frontend/src/components/board/AgentTile.tsx
  frontend/src/hooks/useAgentConfig.ts
  specs/023-pipeline-dragdrop/checklists/requirements.md
  specs/023-pipeline-dragdrop/contracts/component-contracts.md
  specs/023-pipeline-dragdrop/data-model.md
  specs/023-pipeline-dragdrop/plan.md
  specs/023-pipeline-dragdrop/quickstart.md
  specs/023-pipeline-dragdrop/research.md
  specs/023-pipeline-dragdrop/spec.md
  specs/023-pipeline-dragdrop/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

fix: unify repo resolution in list_agents & refine CleanUpButton styling
  backend/src/api/workflow.py
  backend/tests/unit/test_api_workflow.py
  frontend/src/components/board/CleanUpButton.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

docs: staleness sweep — sync docs with 024-deps-modernization
  README.md
  docs/api-reference.md
  docs/architecture.md
  docs/project-structure.md
  docs/setup.md
  docs/testing.md
Due: none

fix: address PR #1891 review — remove duplicate vite config, fix spec versions
  .gitignore
  frontend/vite.config.d.ts
  frontend/vite.config.js
  specs/024-deps-modernization/spec.md
  specs/024-deps-modernization/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

fix: replace dynamic settings SQL with static statements
  backend/src/services/settings_store.py
  backend/tests/unit/test_settings_store.py
Due: backend-pyright, backend-test

fix: address remaining PR #1891 runtime review comments
  backend/src/services/chores/scheduler.py
  backend/tests/unit/test_chores_scheduler.py
  docs/setup.md
Due: backend-pyright, backend-test

docs: refresh Copilot repo instructions for current codebase
  .github/agents/copilot-instructions.md
Due: none

Merge speckit.plan changes into copilot/bug-basher-code-review
  .github/agents/copilot-instructions.md
  specs/025-bug-basher/contracts/output-contracts.md
  specs/025-bug-basher/data-model.md
  specs/025-bug-basher/plan.md
  specs/025-bug-basher/quickstart.md
  specs/025-bug-basher/research.md
Due: none

Merge speckit.plan changes into copilot/write-specification-for-security-review
  .github/agents/copilot-instructions.md
  specs/025-security-review/contracts/security-contracts.md
  specs/025-security-review/data-model.md
  specs/025-security-review/plan.md
  specs/025-security-review/quickstart.md
  specs/025-security-review/research.md
Due: none

Merge speckit.tasks changes into copilot/bug-basher-code-review
  specs/025-bug-basher/tasks.md
Due: none

Merge speckit.tasks changes into copilot/write-specification-for-security-review
  specs/025-security-review/tasks.md
Due: none

Merge linter changes into copilot/bug-basher-code-review
  backend/src/services/chores/service.py
  backend/src/services/metadata_service.py
  backend/tests/unit/test_bug_bash_regressions.py
  backend/tests/unit/test_settings_store.py
  frontend/src/services/api.ts
  specs/025-bug-basher/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.tasks changes into copilot/write-specification-for-security-review
  .github/workflows/branch-issue-link.yml
  backend/pyproject.toml
  backend/src/api/agents.py
  backend/src/api/auth.py
  backend/src/api/chat.py
  backend/src/api/signal.py
  backend/src/api/webhooks.py
  backend/src/api/workflow.py
  backend/src/config.py
  backend/src/dependencies.py
  backend/src/main.py
  backend/src/rate_limit.py
  backend/src/services/database.py
  backend/src/services/encryption.py
  backend/src/services/github_auth.py
  backend/src/services/github_projects/service.py
  backend/tests/conftest.py
  backend/tests/integration/test_webhook_verification.py
  backend/tests/unit/test_api_auth.py
  backend/tests/unit/test_auth_security.py
  backend/tests/unit/test_config.py
  backend/tests/unit/test_main.py
  backend/tests/unit/test_webhooks.py
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/src/components/board/IssueCard.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useChatHistory.ts
  frontend/src/services/api.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

feat(frontend): deepen Sun & Moon theme polish
  frontend/src/components/auth/LoginButton.test.tsx
  frontend/src/components/auth/LoginButton.tsx
  frontend/src/components/board/BoardColumn.tsx
  frontend/src/components/board/IssueCard.tsx
  frontend/src/components/board/ProjectBoard.tsx
  frontend/src/components/board/colorUtils.ts
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.test.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/constants.ts
  frontend/src/index.css
  frontend/src/layout/AppLayout.tsx
  frontend/src/layout/AuthGate.tsx
  frontend/src/layout/Breadcrumb.tsx
  frontend/src/layout/NotificationBell.tsx
  frontend/src/layout/ProjectSelector.tsx
  frontend/src/layout/Sidebar.tsx
  frontend/src/layout/TopBar.tsx
  frontend/src/pages/AgentsPage.tsx
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/pages/AppPage.tsx
  frontend/src/pages/ChoresPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/NotFoundPage.tsx
  frontend/src/pages/ProjectsPage.tsx
  frontend/src/pages/SettingsPage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge linter changes into copilot/write-specification-for-security-review
  backend/src/main.py
  backend/tests/conftest.py
  backend/tests/unit/test_github_projects.py
  backend/tests/unit/test_settings_store.py
  backend/tests/unit/test_token_encryption.py
  backend/tests/unit/test_webhooks.py
  frontend/src/hooks/useAuth.test.tsx
  frontend/src/hooks/useChatHistory.test.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

chore(backend): satisfy ruff isinstance modernization
  backend/src/services/copilot_polling/helpers.py
Due: backend-pyright, backend-test

Merge judge changes into copilot/write-specification-for-security-review
  backend/src/api/auth.py
  backend/src/services/encryption.py
  backend/tests/unit/test_auth_security.py
Due: backend-pyright, backend-test

Merge speckit.plan changes into copilot/write-security-review-specification
  specs/026-security-review/contracts/config-contracts.md
  specs/026-security-review/contracts/nginx-contracts.md
  specs/026-security-review/data-model.md
  specs/026-security-review/plan.md
  specs/026-security-review/quickstart.md
  specs/026-security-review/research.md
Due: none

Merge speckit.plan changes into copilot/fix-help-command-auto-repeat
  .github/agents/copilot-instructions.md
  specs/026-chat-help-optimistic-render/contracts/components.md
  specs/026-chat-help-optimistic-render/data-model.md
  specs/026-chat-help-optimistic-render/plan.md
  specs/026-chat-help-optimistic-render/quickstart.md
  specs/026-chat-help-optimistic-render/research.md
Due: none

Merge speckit.plan changes into copilot/audit-update-ui-components
  specs/026-ui-style-consistency/contracts/components.md
  specs/026-ui-style-consistency/contracts/style-tokens.md
  specs/026-ui-style-consistency/data-model.md
  specs/026-ui-style-consistency/plan.md
  specs/026-ui-style-consistency/quickstart.md
  specs/026-ui-style-consistency/research.md
Due: none

Merge speckit.tasks changes into copilot/write-security-review-specification
  specs/026-security-review/tasks.md
Due: none

Merge speckit.tasks changes into copilot/fix-help-command-auto-repeat
  specs/026-chat-help-optimistic-render/tasks.md
Due: none

Merge speckit.plan changes into copilot/specify-agent-pipeline-crud
  .github/agents/copilot-instructions.md
  specs/026-pipeline-crud/contracts/api.md
  specs/026-pipeline-crud/contracts/components.md
  specs/026-pipeline-crud/data-model.md
  specs/026-pipeline-crud/plan.md
  specs/026-pipeline-crud/quickstart.md
  specs/026-pipeline-crud/research.md
Due: none

Merge speckit.tasks changes into copilot/audit-update-ui-components
  specs/026-ui-style-consistency/tasks.md
Due: none

Merge speckit.plan changes into copilot/filter-deleted-items-display-parent-issues
  .github/agents/copilot-instructions.md
  specs/026-recent-interactions-filter/contracts/components.md
  specs/026-recent-interactions-filter/data-model.md
  specs/026-recent-interactions-filter/plan.md
  specs/026-recent-interactions-filter/quickstart.md
  specs/026-recent-interactions-filter/research.md
Due: none

Merge speckit.plan changes into copilot/fix-help-command-auto-repeat
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/ChatPopup.tsx
  frontend/src/components/chat/MessageBubble.tsx
  frontend/src/hooks/useChat.test.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/layout/AppLayout.tsx
  frontend/src/types/index.ts
  specs/026-chat-help-optimistic-render/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.tasks changes into copilot/specify-agent-pipeline-crud
  specs/026-pipeline-crud/tasks.md
Due: none

Path conditions:
  backend-pyright: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-test: any of: ^backend/.*\.py$
