Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Backend Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff-format
        name: Format Python (ruff)
        files: ^backend/
      - id: ruff
        name: Lint Python (ruff)
        files: ^backend/
        args: [--fix]

  - repo: local
    hooks:
      - id: backend-pyright
        name: Type Check Backend (pyright)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Lint Frontend (ESLint)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: Type Check Frontend (TypeScript)
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-test
        name: Test Frontend (Vitest)
        entry: bash -c 'cd frontend && npm test'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: backend-test
        name: Test Backend (pytest)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        stages: [pre-push]  # Run tests only on push, not every commit

Merge judge changes into copilot/documentation-sweep-update-again
  docs/api-reference.md
  docs/configuration.md
  docs/setup.md
Due: none

Merge linter changes into copilot/documentation-sweep-update-again
  .markdown-link-check.json
Due: none

docs: sync API reference, configuration, and devcontainer with codebase (#2757)
  .devcontainer/devcontainer.json
  .markdown-link-check.json
  docs/api-reference.md
  docs/configuration.md
  docs/setup.md
Due: none

fix: label blocking parent issues on GitHub
  backend/src/api/chat.py
  backend/src/api/workflow.py
  backend/src/constants.py
  backend/src/models/recommendation.py
  backend/src/services/ai_agent.py
  backend/src/services/chores/service.py
  backend/src/services/signal_chat.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_api_workflow.py
  backend/tests/unit/test_workflow_orchestrator.py
Due: backend-pyright, backend-test

fix: align blocking label with lowercase repo convention
  backend/src/constants.py
  backend/tests/unit/test_api_chat.py
  backend/tests/unit/test_workflow_orchestrator.py
Due: backend-pyright, backend-test

fix: harden project board interactions and unify project styling
  .vscode/mcp.json
  frontend/src/components/board/AgentTile.test.tsx
  frontend/src/components/board/AgentTile.tsx
  frontend/src/components/pipeline/AgentNode.test.tsx
  frontend/src/components/pipeline/AgentNode.tsx
  frontend/src/hooks/useScrollLock.test.ts
  frontend/src/hooks/useScrollLock.ts
  frontend/src/index.css
  frontend/src/tests/utils/formatAgentName.test.ts
  frontend/src/utils/formatAgentName.ts
Due: frontend-lint, frontend-typecheck, frontend-test

fix: always create sub-issues before blocking queue check in all issue creation paths
  backend/src/services/chores/service.py
  backend/src/services/workflow_orchestrator/orchestrator.py
Due: backend-pyright, backend-test

fix: set dark as default theme; remove redundant login card icon; fix mcp.json schema key
  .vscode/mcp.json
  frontend/src/main.tsx
  frontend/src/pages/LoginPage.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.tasks changes into copilot/add-help-command-user-chat
  specs/032-chat-help-command/tasks.md
Due: none

Merge judge changes into copilot/add-help-command-user-chat
  frontend/src/hooks/useChat.test.tsx
  frontend/src/hooks/useCommands.test.tsx
  frontend/src/lib/commands/handlers/help.test.ts
  frontend/src/lib/commands/handlers/help.ts
  frontend/src/lib/commands/registry.test.ts
  frontend/src/lib/commands/registry.ts
  specs/032-chat-help-command/contracts/components.md
  specs/032-chat-help-command/quickstart.md
Due: frontend-lint, frontend-typecheck, frontend-test

fix: prevent agent fallback leak, fix sub-issue creation order, add diagnostics, add login theme toggle
  backend/src/api/chat.py
  backend/src/services/github_projects/service.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_workflow_orchestrator.py
  frontend/src/pages/LoginPage.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge designer changes into copilot/add-copy-paste-image-attachments
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/FilePreviewChips.test.tsx
  frontend/src/components/chat/FilePreviewChips.tsx
  frontend/src/components/chat/IssueRecommendationPreview.test.tsx
  frontend/src/components/chat/IssueRecommendationPreview.tsx
  frontend/src/components/chat/MentionInput.test.tsx
  frontend/src/components/chat/MentionInput.tsx
  frontend/src/hooks/useFileUpload.test.tsx
  frontend/src/hooks/useFileUpload.ts
  frontend/src/types/index.ts
Due: frontend-lint, frontend-typecheck, frontend-test

Merge judge changes into copilot/documentation-sweep-update
  docs/architecture.md
Due: none

Merge linter changes into copilot/documentation-sweep-update
  docs/testing.md
Due: none

feat: add Agent Model setting, fix model resolution bugs, add blocking queue sweep
  backend/src/api/chat.py
  backend/src/api/workflow.py
  backend/src/migrations/019_agent_model_setting.sql
  backend/src/models/settings.py
  backend/src/services/agent_tracking.py
  backend/src/services/blocking_queue.py
  backend/src/services/chores/service.py
  backend/src/services/copilot_polling/polling_loop.py
  backend/src/services/settings_store.py
  backend/src/services/workflow_orchestrator/models.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_blocking_queue.py
  backend/tests/unit/test_workflow_orchestrator.py
  frontend/src/components/settings/PrimarySettings.tsx
  frontend/src/types/index.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

feat: add blocking issue pill with skip/delete actions on Projects page
  backend/src/api/board.py
  backend/tests/unit/test_blocking_queue.py
  frontend/src/components/board/BlockingIssuePill.test.tsx
  frontend/src/components/board/BlockingIssuePill.tsx
  frontend/src/pages/ProjectsPage.tsx
  frontend/src/services/api.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

feat: add built-in preset configs for pipelines, chores, and simplify model resolution
  backend/src/api/chores.py
  backend/src/migrations/020_chore_presets.sql
  backend/src/models/chores.py
  backend/src/services/chores/presets/bug-basher.md
  backend/src/services/chores/presets/performance-review.md
  backend/src/services/chores/presets/security-review.md
  backend/src/services/chores/service.py
  backend/src/services/pipelines/service.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_workflow_orchestrator.py
  frontend/src/components/chores/ChoreCard.tsx
  frontend/src/components/pipeline/AgentNode.test.tsx
  frontend/src/components/pipeline/AgentNode.tsx
  frontend/src/components/pipeline/ModelSelector.tsx
  frontend/src/components/pipeline/PipelineModelDropdown.tsx
  frontend/src/components/pipeline/PresetBadge.tsx
  frontend/src/pages/ChoresPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

chore: add issue template for Code Quality Check
  .github/ISSUE_TEMPLATE/chore-code-quality-check.md
Due: none

chore: add issue template for Code Quality Check (#2874)
  .github/ISSUE_TEMPLATE/chore-code-quality-check.md
Due: none

fix: auto-sweep blocking queue on fetch to clear externally-closed issues
  backend/src/api/board.py
Due: backend-pyright, backend-test

fix(review): address Copilot PR review — 6 justified changes from 11 comments
  .copilot/mcp.json
  backend/src/api/board.py
  backend/src/services/workflow_orchestrator/models.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  frontend/src/components/settings/PrimarySettings.tsx
  frontend/src/pages/ChoresPage.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

chore: add uv.lock for reproducible backend dependency resolution
  backend/uv.lock
Due: none

Merge designer changes into copilot/fix-silent-failures-security
  frontend/src/components/board/AgentPresetSelector.test.tsx
  frontend/src/components/board/AgentPresetSelector.tsx
  frontend/src/components/board/IssueDetailModal.test.tsx
  frontend/src/components/board/IssueDetailModal.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

feat: Add built-in preset configs for pipelines, chores, and simplify model resolution (#2873)
  .copilot/mcp.json
  .vscode/mcp.json
  backend/src/api/board.py
  backend/src/api/chat.py
  backend/src/api/chores.py
  backend/src/api/workflow.py
  backend/src/migrations/019_agent_model_setting.sql
  backend/src/migrations/020_chore_presets.sql
  backend/src/models/chores.py
  backend/src/models/settings.py
  backend/src/services/agent_tracking.py
  backend/src/services/blocking_queue.py
  backend/src/services/chores/presets/bug-basher.md
  backend/src/services/chores/presets/performance-review.md
  backend/src/services/chores/presets/security-review.md
  backend/src/services/chores/service.py
  backend/src/services/copilot_polling/polling_loop.py
  backend/src/services/github_projects/service.py
  backend/src/services/pipelines/service.py
  backend/src/services/settings_store.py
  backend/src/services/workflow_orchestrator/models.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_blocking_queue.py
  backend/tests/unit/test_workflow_orchestrator.py
  backend/uv.lock
  frontend/src/components/board/BlockingIssuePill.test.tsx
  frontend/src/components/board/BlockingIssuePill.tsx
  frontend/src/components/chores/ChoreCard.tsx
  frontend/src/components/pipeline/AgentNode.test.tsx
  frontend/src/components/pipeline/AgentNode.tsx
  frontend/src/components/pipeline/ModelSelector.tsx
  frontend/src/components/pipeline/PipelineModelDropdown.tsx
  frontend/src/components/pipeline/PresetBadge.tsx
  frontend/src/components/settings/PrimarySettings.tsx
  frontend/src/main.tsx
  frontend/src/pages/ChoresPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/ProjectsPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: recovery skips blocking-queue pending issues
  backend/src/services/blocking_queue.py
  backend/src/services/copilot_polling/recovery.py
  backend/tests/unit/test_copilot_polling.py
Due: backend-pyright, backend-test

fix(review): apply 5 of 7 Copilot PR #2898 review comments
  backend/src/api/chores.py
  backend/src/migrations/019_agent_model_setting.sql
  backend/src/services/copilot_polling/recovery.py
  backend/src/services/pipelines/service.py
  frontend/src/pages/ChoresPage.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

feat: built-in presets, model resolution, blocking queue fixes, and recovery guard (#2898)
  backend/src/api/chores.py
  backend/src/migrations/019_agent_model_setting.sql
  backend/src/services/blocking_queue.py
  backend/src/services/copilot_polling/recovery.py
  backend/src/services/pipelines/service.py
  backend/tests/unit/test_copilot_polling.py
  frontend/src/pages/ChoresPage.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge judge changes into copilot/documentation-sweep-update
  docs/configuration.md
Due: none

Merge designer changes into copilot/fix-silent-exceptions-backend
  specs/032-code-quality-check/checklists/requirements.md
  specs/032-code-quality-check/spec.md
Due: none

Merge speckit.plan changes into copilot/fix-silent-exceptions-backend
  .github/agents/copilot-instructions.md
  specs/032-code-quality-check/contracts/dry-consolidation.md
  specs/032-code-quality-check/contracts/exception-handling.md
  specs/032-code-quality-check/contracts/module-decomposition.md
  specs/032-code-quality-check/contracts/type-safety.md
  specs/032-code-quality-check/data-model.md
  specs/032-code-quality-check/plan.md
  specs/032-code-quality-check/quickstart.md
  specs/032-code-quality-check/research.md
Due: none

Merge speckit.tasks changes into copilot/fix-silent-exceptions-backend
  specs/032-code-quality-check/tasks.md
Due: none

docs: fix documentation drift — missing endpoints, stale versions, env var gaps (#2913)
  .env.example
  docs/api-reference.md
  docs/configuration.md
  docs/project-structure.md
Due: none

fix(review): triage and apply 6 of 7 Copilot PR review comments
  backend/src/api/chat.py
  backend/src/api/workflow.py
  backend/src/services/database.py
  backend/tests/unit/test_main.py
  specs/032-code-quality-check/checklists/requirements.md
  specs/032-code-quality-check/spec.md
Due: backend-pyright, backend-test

style: fix long-line formatting and remove unused import
  backend/src/api/settings.py
  backend/src/services/blocking_queue.py
  backend/src/services/chores/service.py
  backend/src/services/metadata_service.py
  backend/src/services/signal_chat.py
  backend/tests/unit/test_api_workflow.py
Due: backend-pyright, backend-test

fix(pipeline): correctly advance status when all agents for current status are done
  backend/src/services/copilot_polling/pipeline.py
  backend/tests/unit/test_copilot_polling.py
Due: backend-pyright, backend-test

review: avoid caching empty-agent pipeline states
  backend/src/services/copilot_polling/pipeline.py
Due: backend-pyright, backend-test

fix(blocking-queue): dispatch agents when skip/delete activates next issue
  backend/src/api/board.py
  backend/tests/unit/test_api_board.py
Due: backend-pyright, backend-test
