Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Backend Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff-format
        name: Format Python (ruff)
        files: ^backend/
      - id: ruff
        name: Lint Python (ruff)
        files: ^backend/
        args: [--fix]

  - repo: local
    hooks:
      - id: backend-pyright
        name: Type Check Backend (pyright)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # Frontend hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Lint Frontend (ESLint)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: Type Check Frontend (TypeScript)
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-test
        name: Test Frontend (Vitest)
        entry: bash -c 'cd frontend && npm test'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: backend-test
        name: Test Backend (pytest)
        entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        stages: [pre-push]  # Run tests only on push, not every commit

Merge speckit.plan changes into copilot/add-pink-background-color
  .github/agents/copilot-instructions.md
  specs/012-pink-background/contracts/css-contracts.md
  specs/012-pink-background/data-model.md
  specs/012-pink-background/plan.md
  specs/012-pink-background/quickstart.md
  specs/012-pink-background/research.md
Due: none

fix(signal): only process Note-to-Self syncMessages, never reply to contacts
  backend/<MagicMock name='get_settings().database_path' id='139770601276864'>
  backend/<MagicMock name='get_settings().database_path' id='139770610781024'>
  backend/<MagicMock name='get_settings().database_path' id='139770637143120'>
  backend/<MagicMock name='get_settings().database_path' id='139770637564864'>
  backend/<MagicMock name='get_settings().database_path' id='140502649617344'>
  backend/<MagicMock name='get_settings().database_path' id='140502661236160'>
  backend/<MagicMock name='get_settings().database_path' id='140502681865104'>
  backend/<MagicMock name='get_settings().database_path' id='140502684610400'>
  backend/src/services/signal_bridge.py
Due: backend-pyright, backend-test

Merge speckit.tasks changes into copilot/add-pink-background-color
  specs/012-pink-background/tasks.md
Due: none

ui(settings): clean up Signal Integration section with proper Tailwind styling
  backend/<MagicMock name='get_settings().database_path' id='139997522148048'>
  backend/<MagicMock name='get_settings().database_path' id='139997533386128'>
  backend/<MagicMock name='get_settings().database_path' id='139997534647792'>
  backend/<MagicMock name='get_settings().database_path' id='139997545028000'>
  frontend/src/components/settings/SignalConnection.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

Merge speckit.plan changes into copilot/add-purple-background-color
  specs/012-purple-background/contracts/css-token-contract.md
  specs/012-purple-background/data-model.md
  specs/012-purple-background/plan.md
  specs/012-purple-background/quickstart.md
  specs/012-purple-background/research.md
Due: none

chore: add MagicMock test artifacts to .gitignore
  .gitignore
Due: none

Merge speckit.tasks changes into copilot/add-purple-background-color
  specs/012-purple-background/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-purple-background-color
  .gitignore
  frontend/src/index.css
  frontend/src/lib/utils.ts
  specs/012-purple-background/tasks.md
Due: frontend-lint, frontend-typecheck, frontend-test

refactor: adopt PR code review — security, retry backoff, UI, polling
  backend/src/api/signal.py
  backend/src/services/signal_delivery.py
  docker-compose.yml
  frontend/src/App.tsx
  frontend/src/hooks/useSettings.ts
  specs/011-signal-chat-integration/quickstart.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: scope .gitignore lib/ to root only — unblock frontend/src/lib/utils.ts
  .gitignore
  frontend/src/lib/utils.ts
Due: frontend-lint, frontend-typecheck, frontend-test

feat: Signal messaging integration with conversational AI, workflow orchestration & settings UI (#842)
  .github/agents/copilot-instructions.md
  .gitignore
  README.md
  backend/pyproject.toml
  backend/src/api/__init__.py
  backend/src/api/chat.py
  backend/src/api/signal.py
  backend/src/config.py
  backend/src/main.py
  backend/src/migrations/004_add_signal_tables.sql
  backend/src/migrations/005_signal_phone_hash_unique.sql
  backend/src/models/signal.py
  backend/src/services/completion_providers.py
  backend/src/services/signal_bridge.py
  backend/src/services/signal_chat.py
  backend/src/services/signal_delivery.py
  docker-compose.yml
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/components/settings/SignalConnection.tsx
  frontend/src/hooks/useSettings.ts
  frontend/src/lib/utils.ts
  frontend/src/pages/SettingsPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/011-signal-chat-integration/checklists/requirements.md
  specs/011-signal-chat-integration/contracts/signal-api.yaml
  specs/011-signal-chat-integration/data-model.md
  specs/011-signal-chat-integration/plan.md
  specs/011-signal-chat-integration/quickstart.md
  specs/011-signal-chat-integration/research.md
  specs/011-signal-chat-integration/spec.md
  specs/011-signal-chat-integration/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.tasks changes into copilot/conduct-security-review-workflows
  specs/012-deep-security-review/tasks.md
Due: none

fix: agent pipeline config loading, case-dedup, and execution sequencing
  README.md
  backend/src/api/chat.py
  backend/src/api/settings.py
  backend/src/api/workflow.py
  backend/src/services/signal_chat.py
  backend/src/services/workflow_orchestrator/__init__.py
  backend/src/services/workflow_orchestrator/config.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  docker-compose.yml
  frontend/src/hooks/useAgentConfig.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: filter sub-issues from polling loop to prevent rate limiting
  backend/src/services/copilot_polling/__init__.py
  backend/src/services/copilot_polling/helpers.py
  backend/src/services/copilot_polling/polling_loop.py
  backend/tests/unit/test_copilot_polling.py
Due: backend-pyright, backend-test

fix: agent pipeline config loading, case-dedup, and execution sequencing (#912)
  README.md
  backend/src/api/chat.py
  backend/src/api/settings.py
  backend/src/api/workflow.py
  backend/src/services/copilot_polling/__init__.py
  backend/src/services/copilot_polling/helpers.py
  backend/src/services/copilot_polling/polling_loop.py
  backend/src/services/signal_chat.py
  backend/src/services/workflow_orchestrator/__init__.py
  backend/src/services/workflow_orchestrator/config.py
  backend/src/services/workflow_orchestrator/orchestrator.py
  backend/tests/unit/test_copilot_polling.py
  docker-compose.yml
  frontend/src/hooks/useAgentConfig.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.plan changes into copilot/perform-security-review
  .github/agents/copilot-instructions.md
  specs/012-deep-security-review/contracts/security-audit-contracts.md
  specs/012-deep-security-review/data-model.md
  specs/012-deep-security-review/plan.md
  specs/012-deep-security-review/quickstart.md
  specs/012-deep-security-review/research.md
Due: none

Merge speckit.tasks changes into copilot/perform-security-review
  specs/012-deep-security-review/tasks.md
Due: none

Merge speckit.implement changes into copilot/perform-security-review
  .github/workflows/ci.yml
  backend/src/api/auth.py
  specs/012-deep-security-review/security-findings-report.md
  specs/012-deep-security-review/tasks.md
Due: backend-pyright, backend-test

Merge speckit.plan changes into copilot/increase-test-coverage
  .github/agents/copilot-instructions.md
  specs/013-test-coverage-dry/contracts/test-conventions.md
  specs/013-test-coverage-dry/data-model.md
  specs/013-test-coverage-dry/plan.md
  specs/013-test-coverage-dry/quickstart.md
  specs/013-test-coverage-dry/research.md
Due: none

Merge speckit.plan changes into copilot/add-mcp-configuration-support
  .github/agents/copilot-instructions.md
  specs/012-mcp-settings-config/contracts/mcp-api.md
  specs/012-mcp-settings-config/data-model.md
  specs/012-mcp-settings-config/plan.md
  specs/012-mcp-settings-config/quickstart.md
  specs/012-mcp-settings-config/research.md
Due: none

Merge speckit.tasks changes into copilot/increase-test-coverage
  specs/013-test-coverage-dry/tasks.md
Due: none

Merge speckit.tasks changes into copilot/add-mcp-configuration-support
  specs/012-mcp-settings-config/tasks.md
Due: none

Merge speckit.plan changes into copilot/document-settings-page-specification
  .github/agents/copilot-instructions.md
  specs/012-settings-dynamic-ux/contracts/settings-api.yaml
  specs/012-settings-dynamic-ux/data-model.md
  specs/012-settings-dynamic-ux/plan.md
  specs/012-settings-dynamic-ux/quickstart.md
  specs/012-settings-dynamic-ux/research.md
Due: none

Merge speckit.tasks changes into copilot/document-settings-page-specification
  specs/012-settings-dynamic-ux/tasks.md
Due: none

Merge speckit.implement changes into copilot/add-mcp-configuration-support
  .gitignore
  backend/src/api/__init__.py
  backend/src/api/mcp.py
  backend/src/migrations/006_add_mcp_configurations.sql
  backend/src/models/mcp.py
  backend/src/services/mcp_store.py
  frontend/src/components/settings/McpSettings.tsx
  frontend/src/hooks/useMcpSettings.ts
  frontend/src/pages/SettingsPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/012-mcp-settings-config/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.implement changes into copilot/document-settings-page-specification
  backend/src/api/settings.py
  backend/src/models/settings.py
  backend/src/services/model_fetcher.py
  backend/tests/unit/test_model_fetcher.py
  frontend/src/components/settings/AdvancedSettings.tsx
  frontend/src/components/settings/DynamicDropdown.tsx
  frontend/src/components/settings/PrimarySettings.tsx
  frontend/src/hooks/useSettings.ts
  frontend/src/pages/SettingsPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/012-settings-dynamic-ux/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.implement changes into copilot/increase-test-coverage
  .github/workflows/ci.yml
  backend/tests/conftest.py
  backend/tests/helpers/__init__.py
  backend/tests/helpers/assertions.py
  backend/tests/helpers/factories.py
  backend/tests/helpers/mocks.py
  backend/tests/unit/test_api_projects.py
  backend/tests/unit/test_api_workflow.py
  backend/tests/unit/test_exceptions.py
  backend/tests/unit/test_middleware.py
  backend/tests/unit/test_utils.py
  frontend/src/components/auth/LoginButton.test.tsx
  frontend/src/components/common/ErrorBoundary.test.tsx
  frontend/src/hooks/useChat.test.tsx
  frontend/src/hooks/useProjectBoard.test.tsx
  frontend/src/hooks/useSettingsForm.test.tsx
  frontend/src/hooks/useWorkflow.test.tsx
  frontend/src/test/factories/index.ts
  specs/013-test-coverage-dry/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: adopt Copilot review recommendations for PR #929
  .github/agents/copilot-instructions.md
  backend/tests/helpers/factories.py
  backend/tests/helpers/mocks.py
  frontend/src/components/common/ErrorBoundary.test.tsx
  frontend/src/hooks/useProjectBoard.test.tsx
  frontend/src/hooks/useWorkflow.test.tsx
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Add feature specification for test coverage, bug fixes, and DRY best practices (#929)
  .github/agents/copilot-instructions.md
  .github/workflows/ci.yml
  backend/tests/conftest.py
  backend/tests/helpers/__init__.py
  backend/tests/helpers/assertions.py
  backend/tests/helpers/factories.py
  backend/tests/helpers/mocks.py
  backend/tests/unit/test_api_projects.py
  backend/tests/unit/test_api_workflow.py
  backend/tests/unit/test_exceptions.py
  backend/tests/unit/test_middleware.py
  backend/tests/unit/test_utils.py
  frontend/src/components/auth/LoginButton.test.tsx
  frontend/src/components/common/ErrorBoundary.test.tsx
  frontend/src/hooks/useChat.test.tsx
  frontend/src/hooks/useProjectBoard.test.tsx
  frontend/src/hooks/useSettingsForm.test.tsx
  frontend/src/hooks/useWorkflow.test.tsx
  frontend/src/test/factories/index.ts
  specs/013-test-coverage-dry/checklists/requirements.md
  specs/013-test-coverage-dry/contracts/test-conventions.md
  specs/013-test-coverage-dry/data-model.md
  specs/013-test-coverage-dry/plan.md
  specs/013-test-coverage-dry/quickstart.md
  specs/013-test-coverage-dry/research.md
  specs/013-test-coverage-dry/spec.md
  specs/013-test-coverage-dry/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: adopt Copilot review recommendations for PR #920
  .github/agents/copilot-instructions.md
  specs/012-deep-security-review/checklists/requirements.md
  specs/012-deep-security-review/quickstart.md
Due: none

docs: consolidate copilot-instructions.md — remove 27 repetitive per-feature bullets
  .github/agents/copilot-instructions.md
Due: none

spec: Deep Security Review and Application Hardening (012-deep-security-review) (#920)
  .github/agents/copilot-instructions.md
  .github/workflows/ci.yml
  backend/src/api/auth.py
  specs/012-deep-security-review/checklists/requirements.md
  specs/012-deep-security-review/contracts/security-audit-contracts.md
  specs/012-deep-security-review/data-model.md
  specs/012-deep-security-review/plan.md
  specs/012-deep-security-review/quickstart.md
  specs/012-deep-security-review/research.md
  specs/012-deep-security-review/security-findings-report.md
  specs/012-deep-security-review/spec.md
  specs/012-deep-security-review/tasks.md
Due: backend-pyright, backend-test

fix: adopt PR #937 review recommendations — SSRF hardening, error consistency, tests
  backend/src/api/mcp.py
  backend/src/exceptions.py
  backend/src/models/mcp.py
  backend/src/services/mcp_store.py
  backend/tests/conftest.py
  backend/tests/unit/test_api_mcp.py
  backend/tests/unit/test_mcp_store.py
  frontend/src/components/settings/McpSettings.tsx
  frontend/src/hooks/useMcpSettings.ts
  frontend/src/test/setup.ts
  specs/012-mcp-settings-config/quickstart.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: resolve lint, format, and type errors in model_fetcher
  backend/src/services/model_fetcher.py
  backend/tests/unit/test_model_fetcher.py
Due: backend-pyright, backend-test

Add MCP configuration support specification (012-mcp-settings-config) (#937)
  .gitignore
  backend/src/api/__init__.py
  backend/src/api/mcp.py
  backend/src/exceptions.py
  backend/src/migrations/006_add_mcp_configurations.sql
  backend/src/models/mcp.py
  backend/src/services/mcp_store.py
  backend/tests/conftest.py
  backend/tests/unit/test_api_mcp.py
  backend/tests/unit/test_mcp_store.py
  frontend/src/components/settings/McpSettings.tsx
  frontend/src/hooks/useMcpSettings.ts
  frontend/src/pages/SettingsPage.tsx
  frontend/src/services/api.ts
  frontend/src/test/setup.ts
  frontend/src/types/index.ts
  specs/012-mcp-settings-config/checklists/requirements.md
  specs/012-mcp-settings-config/contracts/mcp-api.md
  specs/012-mcp-settings-config/data-model.md
  specs/012-mcp-settings-config/plan.md
  specs/012-mcp-settings-config/quickstart.md
  specs/012-mcp-settings-config/research.md
  specs/012-mcp-settings-config/spec.md
  specs/012-mcp-settings-config/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: use Copilot SDK for model fetching instead of non-existent API endpoint
  backend/src/services/model_fetcher.py
Due: backend-pyright, backend-test
