Repository Boykai/github-workflows: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

backend-pyright:
  name: Type Check Backend (pyright)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && pyright src'
  language: system
  pass_filenames: false

frontend-lint:
  name: Lint Frontend (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Type Check Frontend (TypeScript)
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-test:
  name: Test Frontend (Vitest)
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false

backend-test:
  name: Test Backend (pytest)
  entry: bash -c 'cd backend && source .venv/bin/activate 2>/dev/null || true && python -m pytest tests/ -q --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Merge speckit.tasks changes into copilot/create-chat-ux-enhancements-spec
  specs/028-chat-ux-enhancements/tasks.md
Due: none

Merge judge changes into copilot/fix-tools-page-mcp-bugs
  backend/src/services/tools/service.py
  frontend/src/components/tools/UploadMcpModal.tsx
  frontend/src/pages/ToolsPage.tsx
  specs/028-mcp-tools-fixes/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge judge changes into copilot/speckit-specify-agent-pipeline-ux
  backend/src/services/github_projects/service.py
Due: backend-pyright, backend-test

Merge linter changes into copilot/create-pipeline-page-specification
  backend/src/services/pipelines/service.py
Due: backend-pyright, backend-test

Fix Copilot review and stale pipeline recovery
  backend/src/services/copilot_polling/recovery.py
  backend/src/services/github_projects/graphql.py
  backend/src/services/github_projects/service.py
  backend/tests/unit/test_copilot_polling.py
  backend/tests/unit/test_github_projects.py
Due: backend-pyright, backend-test

Merge speckit.tasks changes into copilot/create-chat-ux-enhancements-spec
  backend/src/api/chat.py
  backend/src/models/chat.py
  backend/src/services/agent_creator.py
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/ChatToolbar.tsx
  frontend/src/components/chat/CommandAutocomplete.test.tsx
  frontend/src/components/chat/CommandAutocomplete.tsx
  frontend/src/components/chat/FilePreviewChips.tsx
  frontend/src/components/chat/VoiceInputButton.tsx
  frontend/src/hooks/useChat.test.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useCommands.test.tsx
  frontend/src/hooks/useCommands.ts
  frontend/src/hooks/useFileUpload.ts
  frontend/src/hooks/useVoiceInput.ts
  frontend/src/lib/commands/handlers/help.test.ts
  frontend/src/lib/commands/handlers/help.ts
  frontend/src/lib/commands/handlers/settings.test.ts
  frontend/src/lib/commands/handlers/settings.ts
  frontend/src/lib/commands/registry.test.ts
  frontend/src/lib/commands/registry.ts
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

fix: address pipeline PR review findings
  backend/src/services/pipelines/service.py
  frontend/src/components/pipeline/PipelineModelDropdown.tsx
  frontend/src/components/pipeline/PipelineToolbar.tsx
  frontend/src/components/pipeline/SavedWorkflowsList.tsx
  frontend/src/hooks/usePipelineConfig.ts
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

feat: add specification for Pipeline Page MCP tool selection, model override, flow graphs, presets & agent stamp isolation (#2102)
  .github/agents/copilot-instructions.md
  backend/src/api/pipelines.py
  backend/src/migrations/015_pipeline_mcp_presets.sql
  backend/src/models/pipeline.py
  backend/src/services/pipelines/service.py
  frontend/src/components/pipeline/AgentNode.tsx
  frontend/src/components/pipeline/PipelineBoard.tsx
  frontend/src/components/pipeline/PipelineFlowGraph.tsx
  frontend/src/components/pipeline/PipelineModelDropdown.tsx
  frontend/src/components/pipeline/PipelineToolbar.tsx
  frontend/src/components/pipeline/PresetBadge.tsx
  frontend/src/components/pipeline/SavedWorkflowsList.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/components/pipeline/index.ts
  frontend/src/data/preset-pipelines.ts
  frontend/src/hooks/usePipelineConfig.ts
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/028-pipeline-mcp-config/checklists/requirements.md
  specs/028-pipeline-mcp-config/contracts/api.md
  specs/028-pipeline-mcp-config/contracts/components.md
  specs/028-pipeline-mcp-config/data-model.md
  specs/028-pipeline-mcp-config/plan.md
  specs/028-pipeline-mcp-config/quickstart.md
  specs/028-pipeline-mcp-config/research.md
  specs/028-pipeline-mcp-config/spec.md
  specs/028-pipeline-mcp-config/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge judge changes into copilot/create-chat-ux-enhancements-spec
  backend/src/api/chat.py
Due: backend-pyright, backend-test

fix: address AI review follow-ups for PR 2113
  backend/src/api/workflow.py
  backend/src/models/agent.py
  backend/tests/unit/test_api_workflow.py
  frontend/src/components/board/AgentPresetSelector.tsx
  frontend/src/components/board/IssueDetailModal.tsx
  specs/028-project-page-ux/checklists/requirements.md
  specs/028-project-page-ux/contracts/api.md
  specs/028-project-page-ux/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

style: apply formatter cleanup in done-column filter
  backend/src/services/github_projects/service.py
Due: backend-pyright, backend-test

spec(028): Project Page Agent Pipeline UX Overhaul specification (#2113)
  backend/src/api/workflow.py
  backend/src/models/agent.py
  backend/src/services/github_projects/service.py
  backend/tests/unit/test_api_workflow.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/board/AgentColumnCell.tsx
  frontend/src/components/board/AgentConfigRow.tsx
  frontend/src/components/board/AgentDragOverlay.tsx
  frontend/src/components/board/AgentPresetSelector.tsx
  frontend/src/components/board/AgentTile.tsx
  frontend/src/components/board/BoardColumn.tsx
  frontend/src/components/board/IssueDetailModal.tsx
  frontend/src/components/board/ProjectBoard.tsx
  frontend/src/index.css
  frontend/src/pages/ProjectsPage.tsx
  frontend/src/tests/utils/formatAgentName.test.ts
  frontend/src/types/index.ts
  frontend/src/utils/formatAgentName.ts
  specs/028-project-page-ux/checklists/requirements.md
  specs/028-project-page-ux/contracts/api.md
  specs/028-project-page-ux/contracts/components.md
  specs/028-project-page-ux/data-model.md
  specs/028-project-page-ux/plan.md
  specs/028-project-page-ux/quickstart.md
  specs/028-project-page-ux/research.md
  specs/028-project-page-ux/spec.md
  specs/028-project-page-ux/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge linter changes into copilot/create-chat-ux-enhancements-spec
  backend/src/api/chat.py
  backend/src/models/chat.py
  backend/src/services/agent_creator.py
Due: backend-pyright, backend-test

fix: address AI review follow-ups in PR 2189
  backend/src/services/copilot_polling/recovery.py
  backend/src/services/github_projects/graphql.py
  backend/tests/unit/test_github_projects.py
Due: backend-pyright, backend-test

Fix Copilot review completion and stale pipeline recovery (#2189)
  backend/src/services/copilot_polling/recovery.py
  backend/src/services/github_projects/graphql.py
  backend/src/services/github_projects/service.py
  backend/tests/unit/test_copilot_polling.py
  backend/tests/unit/test_github_projects.py
Due: backend-pyright, backend-test

fix(backend): sanitize upload filenames and add file download route
  backend/src/api/chat.py
  backend/tests/unit/test_api_chat.py
Due: backend-pyright, backend-test

fix(frontend): prevent message send when file uploads fail
  frontend/src/components/chat/ChatInterface.test.tsx
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/hooks/useFileUpload.test.tsx
  frontend/src/hooks/useFileUpload.ts
  frontend/src/hooks/useVoiceInput.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-test

docs: correct spec documentation to match actual upload implementation
  .github/agents/copilot-instructions.md
  specs/028-chat-ux-enhancements/contracts/api.md
  specs/028-chat-ux-enhancements/plan.md
  specs/028-chat-ux-enhancements/research.md
Due: none

chore: remove misleading GitHub CDN references from code and spec
  backend/src/api/chat.py
  specs/028-chat-ux-enhancements/contracts/api.md
Due: backend-pyright, backend-test

Add feature specification for Chat UX Enhancements (028-chat-ux-enhancements) (#2169)
  .github/agents/copilot-instructions.md
  backend/src/api/chat.py
  backend/src/models/chat.py
  backend/src/services/agent_creator.py
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/ChatToolbar.tsx
  frontend/src/components/chat/CommandAutocomplete.test.tsx
  frontend/src/components/chat/CommandAutocomplete.tsx
  frontend/src/components/chat/FilePreviewChips.tsx
  frontend/src/components/chat/VoiceInputButton.tsx
  frontend/src/hooks/useChat.test.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useCommands.test.tsx
  frontend/src/hooks/useCommands.ts
  frontend/src/hooks/useFileUpload.ts
  frontend/src/hooks/useVoiceInput.ts
  frontend/src/lib/commands/handlers/help.test.ts
  frontend/src/lib/commands/handlers/help.ts
  frontend/src/lib/commands/handlers/settings.test.ts
  frontend/src/lib/commands/handlers/settings.ts
  frontend/src/lib/commands/registry.test.ts
  frontend/src/lib/commands/registry.ts
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  specs/028-chat-ux-enhancements/checklists/requirements.md
  specs/028-chat-ux-enhancements/contracts/api.md
  specs/028-chat-ux-enhancements/contracts/components.md
  specs/028-chat-ux-enhancements/data-model.md
  specs/028-chat-ux-enhancements/plan.md
  specs/028-chat-ux-enhancements/quickstart.md
  specs/028-chat-ux-enhancements/research.md
  specs/028-chat-ux-enhancements/spec.md
  specs/028-chat-ux-enhancements/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

docs(spec): adopt PR 2159 AI review follow-ups
  .github/agents/copilot-instructions.md
  backend/src/services/tools/service.py
  specs/028-mcp-tools-fixes/contracts/components.md
  specs/028-mcp-tools-fixes/data-model.md
  specs/028-mcp-tools-fixes/plan.md
  specs/028-mcp-tools-fixes/quickstart.md
  specs/028-mcp-tools-fixes/spec.md
Due: backend-pyright, backend-test

feat(spec): Add specification for Tools Page MCP fixes (028-mcp-tools-fixes) (#2159)
  .github/agents/copilot-instructions.md
  backend/src/services/tools/service.py
  frontend/src/components/tools/UploadMcpModal.tsx
  frontend/src/pages/ToolsPage.tsx
  specs/028-mcp-tools-fixes/checklists/requirements.md
  specs/028-mcp-tools-fixes/contracts/api.md
  specs/028-mcp-tools-fixes/contracts/components.md
  specs/028-mcp-tools-fixes/data-model.md
  specs/028-mcp-tools-fixes/plan.md
  specs/028-mcp-tools-fixes/quickstart.md
  specs/028-mcp-tools-fixes/research.md
  specs/028-mcp-tools-fixes/spec.md
  specs/028-mcp-tools-fixes/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.plan changes into copilot/fix-pipeline-page-issues
  .github/agents/copilot-instructions.md
  specs/029-pipeline-ux-fixes/contracts/api.md
  specs/029-pipeline-ux-fixes/contracts/components.md
  specs/029-pipeline-ux-fixes/data-model.md
  specs/029-pipeline-ux-fixes/plan.md
  specs/029-pipeline-ux-fixes/quickstart.md
  specs/029-pipeline-ux-fixes/research.md
Due: none

Merge speckit.plan changes into copilot/fix-user-input-chat-metadata
  .github/agents/copilot-instructions.md
  specs/029-fix-ai-enhance-disabled/contracts/api.md
  specs/029-fix-ai-enhance-disabled/contracts/components.md
  specs/029-fix-ai-enhance-disabled/data-model.md
  specs/029-fix-ai-enhance-disabled/plan.md
  specs/029-fix-ai-enhance-disabled/quickstart.md
  specs/029-fix-ai-enhance-disabled/research.md
Due: none

Merge speckit.plan changes into copilot/create-feature-specification
  .github/agents/copilot-instructions.md
  specs/029-board-hierarchy-filters/contracts/api.md
  specs/029-board-hierarchy-filters/contracts/components.md
  specs/029-board-hierarchy-filters/data-model.md
  specs/029-board-hierarchy-filters/plan.md
  specs/029-board-hierarchy-filters/quickstart.md
  specs/029-board-hierarchy-filters/research.md
Due: none

Merge speckit.tasks changes into copilot/fix-pipeline-page-issues
  specs/029-pipeline-ux-fixes/tasks.md
Due: none

Merge speckit.tasks changes into copilot/fix-user-input-chat-metadata
  specs/029-fix-ai-enhance-disabled/tasks.md
Due: none

Merge speckit.plan changes into copilot/speckit-specify-agents-page-features
  .github/agents/copilot-instructions.md
  specs/029-agents-page-ux/contracts/api.md
  specs/029-agents-page-ux/contracts/components.md
  specs/029-agents-page-ux/data-model.md
  specs/029-agents-page-ux/plan.md
  specs/029-agents-page-ux/quickstart.md
  specs/029-agents-page-ux/research.md
Due: none

Merge speckit.tasks changes into copilot/create-feature-specification
  specs/029-board-hierarchy-filters/tasks.md
Due: none

Merge speckit.tasks changes into copilot/speckit-specify-agents-page-features
  specs/029-agents-page-ux/tasks.md
Due: none

Merge speckit.plan changes into copilot/fix-chores-page-counters
  .github/agents/copilot-instructions.md
  specs/029-chores-page-enhancements/contracts/api.md
  specs/029-chores-page-enhancements/contracts/components.md
  specs/029-chores-page-enhancements/data-model.md
  specs/029-chores-page-enhancements/plan.md
  specs/029-chores-page-enhancements/quickstart.md
  specs/029-chores-page-enhancements/research.md
Due: none

Merge speckit.implement changes into copilot/fix-pipeline-page-issues
  backend/src/api/pipelines.py
  backend/src/services/pipelines/service.py
  frontend/src/components/pipeline/AgentNode.tsx
  frontend/src/components/pipeline/PipelineBoard.tsx
  frontend/src/components/pipeline/StageCard.tsx
  frontend/src/components/tools/ToolSelectorModal.tsx
  frontend/src/hooks/usePipelineConfig.ts
  frontend/src/pages/AgentsPipelinePage.tsx
  frontend/src/services/api.ts
  specs/029-pipeline-ux-fixes/tasks.md
Due: backend-pyright, frontend-lint, frontend-typecheck, frontend-test, backend-test

Merge speckit.implement changes into copilot/fix-user-input-chat-metadata
  backend/src/api/chat.py
  backend/src/services/ai_agent.py
  backend/tests/unit/test_api_chat.py
  specs/029-fix-ai-enhance-disabled/tasks.md
Due: backend-pyright, backend-test

Merge speckit.tasks changes into copilot/fix-chores-page-counters
  specs/029-chores-page-enhancements/tasks.md
Due: none

Path conditions:
  backend-pyright: any of: ^backend/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  frontend-test: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  backend-test: any of: ^backend/.*\.py$
